@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;500;700&display=swap");
/* CSS Document */
/*===================================================
	共通CSS（PC/SMP）
===================================================*/
/*////////////////////////////////////////////////////////////
	共通設定
///////////////////////////////////////////////////////////*/
/* --------------------------------------------------
	base
-------------------------------------------------- */
* {
  box-sizing: border-box;
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

html,
body {
  width: 100%;
}

body {
  position: relative;
  overflow-x: hidden;
  font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
  line-height: 1.5;
  color: #202222;
  font-size: 16px;
  background: #ffffff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.5;
}

.txt {
  line-height: 2.5;
}

/*リンク */
a {
  color: #202222;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* 画像幅 */
img {
  width: 100%;
  height: auto;
  vertical-align: middle;
}

/* clearfix */
.clearfix::after {
  content: ".";
  display: block;
  height: 0;
  font-size: 0;
  clear: both;
  visibility: hidden;
}

.spBreak {
  display: none;
}

@media (min-width: 1025px) {
  a {
    transition: 0.6s;
  }

  a:hover {
    opacity: 0.6;
  }
}
.fax a {
  pointer-events: none;
}

/* --------------------------------------------------
	header
-------------------------------------------------- */
.header {
  position: fixed;
  top: 20px;
  left: 0;
  width: 100%;
  z-index: 999;
}
.header .headContainer {
  width: 90%;
  margin: 0 auto;
  padding: 10px 20px;
  background: rgba(255, 255, 255, 0.8);
}
.header .headWrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .logo {
  width: 20%;
  max-width: 300px;
}
.header .logo a {
  display: block;
}
.header .hamburger {
  display: none;
}

/* --------------------------------------------------
	nav
-------------------------------------------------- */
@media (min-width: 1025px) {
  .navBox {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 0 40px;
  }
  .navBox .navList .ul {
    display: flex;
    gap: 0 30px;
  }
  .navBox .navList .ul .li a {
    display: inline-block;
    font-size: 15px;
  }
  .navBox .navItem .ul {
    display: flex;
    gap: 0 15px;
  }
  .navBox .navItem .ul .li {
    width: 140px;
  }
  .navBox .navItem .ul .li a {
    display: block;
    padding: 5px 10px;
    font-size: 14px;
    color: #ffffff;
    text-align: center;
    border-radius: 20px;
  }
  .navBox .navItem .ul .li.recruit a {
    background: #00b0d6;
  }
  .navBox .navItem .ul .li.contact a {
    background: #00aa74;
  }
}
/* --------------------------------------------------
	main
-------------------------------------------------- */
.main {
  overflow: hidden;
}

.pageKvContainer {
  padding: 150px 0 20px;
  background: url(https://sit-9545227.sibloo.com/system_panel/uploads/images/page_kv_bg.png) center center no-repeat;
  background-size: cover;
}
.pageKvContainer .pageKvTitle {
  font-size: 50px;
  color: #ffffff;
}

.secWrap {
  max-width: 1640px;
  margin: 0 auto;
  padding: 0 20px;
}

.secWrap01 {
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 20px;
}

.secWrap02 {
  max-width: 1040px;
  margin: 0 auto;
  padding: 0 20px;
}

.mapBox {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 0;
  padding: 0 0 45%;
}
.mapBox iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
}

.btnMoreWhite {
  max-width: 220px;
}
.btnMoreWhite a {
  display: block;
  padding: 10px;
  font-size: 14px;
  color: #ffffff;
  text-align: center;
  border: 1px solid #ffffff;
  background: url(https://sit-9545227.sibloo.com/system_panel/uploads/images/btn_more_arrow_white.png) right 10px center no-repeat;
}

.btnMore {
  max-width: 220px;
}
.btnMore a {
  display: block;
  padding: 10px;
  font-size: 14px;
  text-align: center;
  border: 1px solid #202222;
  background: url(https://sit-9545227.sibloo.com/system_panel/uploads/images/btn_more_arrow.png) right 10px center no-repeat;
}

/* --------------------------------------------------
	footer
-------------------------------------------------- */
.footer .footContact {
  position: relative;
  padding: 60px 0;
  color: #ffffff;
  text-align: center;
  background: #202222;
}
.footer .footContact .secTtlBox {
  margin: 0 0 20px;
  text-align: center;
}
.footer .footContact .secTtlBox .sub {
  width: 120px;
  margin: 0 auto 10px;
}
.footer .footContact .secTtlBox .secTtl {
  font-size: 36px;
}
.footer .footContact .secTtlBox + .txt {
  margin: 0 0 40px;
}
.footer .footContact .itemPanel {
  max-width: 600px;
  margin: 0 auto;
}
.footer .footContact .itemPanel .telBox a {
  display: inline-block;
  padding: 0 0 0 30px;
  font-size: 34px;
  color: #ffffff;
  background: url(https://sit-9545227.sibloo.com/system_panel/uploads/images/footer_tel.png) left center no-repeat;
  background-size: 15px auto;
}
.footer .footContact .itemPanel .mailBox {
  max-width: 280px;
}
.footer .footContact .itemPanel .mailBox a {
  display: block;
  padding: 10px;
  font-size: 14px;
  color: #ffffff;
  text-align: center;
  border: 1px solid #ffffff;
}
.footer .footContact .itemPanel .mailBox a p {
  display: inline-block;
  padding: 0 0 0 30px;
  background: url(https://sit-9545227.sibloo.com/system_panel/uploads/images/footer_mail.png) left center no-repeat;
  background-size: 12px auto;
}
@media (min-width: 1025px) {
  .footer .footContact .itemPanel {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .footer .footContact .itemPanel .mailBox {
    width: 280px;
  }
}
.footer .footContact .pagetop {
  position: absolute;
  top: 60px;
  right: 5%;
  width: 35px;
  cursor: pointer;
}
.footer .footPanel {
  padding: 60px 0 20px;
}
.footer .footPanel .logo {
  max-width: 300px;
  margin: 0 0 15px;
}
.footer .footPanel .txt {
  line-height: 2;
}
.footer .footPanel .txt a {
  display: inline-block;
}
.footer .footPanel .copy {
  margin: 30px 0 0;
  text-align: center;
}