@charset "UTF-8";
/* CSS Document */
/*===================================================
	画面用CSS（PC/SMP）
===================================================*/
/*////////////////////////////////////////////////////////////
	TOP
///////////////////////////////////////////////////////////*/
@media (max-width: 1024px) {
  .topMain .topKvContainer {
    height: 600px;
  }
  .topMain .topKvContainer .topKv {
    height: 600px;
  }
  .topMain .topKvContainer .titlePanel {
    position: absolute;
    right: 20px;
    bottom: 40px;
    width: calc(100% - 40px);
    z-index: 1;
  }
  .topMain .topKvContainer .titlePanel .titleBox01 {
    position: relative;
    right: 0;
    width: 100%;
    padding: 20px;
  }
  .topMain .topKvContainer .titlePanel .titleBox01 h1 {
    font-size: 30px;
    line-height: 1.5;
    text-align: center;
  }
  .topMain .topKvContainer .titlePanel .titleBox02 {
    position: static;
    text-align: center;
    background: #ffffff;
  }
  .topMain .topKvContainer .titlePanel .titleBox02 .ttl + .ttl {
    margin: 0;
  }
  .topMain .topKvContainer .titlePanel .titleBox02 .ttl p {
    padding: 5px 15px;
    font-size: 14px;
  }
  .topMain .sec01 {
    padding: 60px 0;
  }
  .topMain .sec01 .secTtlBox {
    margin: 0 0 80px;
  }
  .topMain .sec01 .secTtlBox .sub {
    width: 80px;
    margin: 0 auto 30px;
  }
  .topMain .sec01 .secTtlBox .secTtl {
    font-size: 24px;
  }
  .topMain .sec02 {
    margin: 0 0 60px;
  }
  .topMain .sec02 .secContainer {
    position: relative;
  }
  .topMain .sec02 .secPanel {
    padding: 30px 20px;
    background: #4568a7;
  }
  .topMain .sec02 .secPanel .inner {
    max-width: 530px;
  }
  .topMain .sec02 .secPanel .secTtlBox {
    margin: 0 0 20px;
  }
  .topMain .sec02 .secPanel .secTtlBox .sub {
    width: 80px;
    margin: 0 0 10px;
  }
  .topMain .sec02 .secPanel .secTtlBox .secTtl {
    font-size: 24px;
  }
  .topMain .sec02 .secPanel .txt {
    margin: 0 0 30px;
  }
  .topMain .sec03 {
    padding: 0 0 60px;
  }
  .topMain .sec03:before {
    height: calc(100% - 80px);
  }
  .topMain .sec03 .photoBox {
    position: relative;
    margin: 0 0 20px;
  }
  .topMain .sec03 .photoBox .secTtlBox {
    position: static;
    width: 100%;
    padding: 30px 20px;
  }
  .topMain .sec03 .photoBox .secTtlBox .sub {
    width: 80px;
    margin: 0 auto 5px;
  }
  .topMain .sec03 .photoBox .secTtlBox .secTtl {
    font-size: 24px;
  }
  .topMain .sec03 .secContainer h3 {
    margin: 0 0 20px;
    font-size: 22px;
  }
  .topMain .sec03 .secContainer h3 + .txt {
    margin: 0 0 40px;
  }
  .topMain .sec03 .secContainer .list .ul .li + .li {
    margin: 30px 0 0;
  }
  .topMain .sec03 .secContainer .list .ul .dl {
    padding: 25px;
  }
  .topMain .sec03 .secContainer .list .ul .dl .dt {
    margin: 0 0 15px;
    font-size: 20px;
  }
  .topMain .sec03 .secContainer .list .ul .dl .dd {
    text-align: left;
    line-height: 2;
  }
  .topMain .sec04 {
    padding: 60px 0;
  }
  .topMain .sec04 .secContainer .leftBox {
    margin: 0 0 30px;
  }
  .topMain .sec04 .secContainer .leftBox .secTtlBox {
    margin: 0 0 20px;
    padding: 0 0 40px;
  }
  .topMain .sec04 .secContainer .leftBox .secTtlBox::after {
    height: 30px;
  }
  .topMain .sec04 .secContainer .leftBox .secTtlBox .sub {
    width: 50px;
    margin: 0 auto 10px;
  }
  .topMain .sec04 .secContainer .leftBox .secTtlBox .secTtl {
    font-size: 24px;
  }
  .topMain .sec04 .secContainer .leftBox .btnMoreWhite {
    margin: 0 auto;
  }
  .topMain .sec04 .secContainer .rightBox .blogPanel .webgene-blog .webgene-item a {
    padding: 10px 40px 10px 0;
    background: url(https://sit-9545227.sibloo.com/system_panel/uploads/images/top_sec04_arrow.png) right 15px center no-repeat;
    background-size: 15px auto;
  }
  .topMain .sec05 {
    padding: 60px 0;
  }
  .topMain .sec05 .secTtlBox {
    margin: 0 0 40px;
    text-align: center;
  }
  .topMain .sec05 .secTtlBox .sub {
    width: 100px;
    margin: 0 auto 10px;
  }
  .topMain .sec05 .secTtlBox .secTtl {
    font-size: 24px;
  }
  .topMain .sec05 .secContainer .secPanel + .secPanel {
    margin: 40px 0 0;
  }
  .topMain .sec05 .secContainer .secPanel .pTtl {
    margin: 0 0 20px;
    padding: 0 0 5px;
    font-size: 18px;
    background: url(https://sit-9545227.sibloo.com/system_panel/uploads/images/top_sec05_ttl_line.png) left bottom no-repeat;
    background-size: auto 4px;
  }
  .topMain .sec05 .secContainer .secPanel .infoBox {
    margin: 0 0 25px;
  }
  .topMain .sec05 .secContainer .secPanel .infoBox .dl {
    padding: 10px 0;
    line-height: 1.7;
  }
  .topMain .sec05 .secContainer .secPanel .infoBox .dl .dt {
    width: 60px;
  }
  .topMain .sec05 .secContainer .secPanel .infoBox .dl .dd {
    width: calc(100% - 70px);
  }
}
/*////////////////////////////////////////////////////////////
	service
///////////////////////////////////////////////////////////*/
@media (max-width: 1024px) {
  .serviceMain .topSection {
    padding: 60px 0;
  }
  .serviceMain .topSection .secTtl {
    margin: 0 0 20px;
    font-size: 24px;
  }
  .serviceMain .topSection .secBox .txtBox {
    padding: 30px 0 0;
  }
  .serviceMain .topSection .secBox .txtBox h3 {
    margin: 0 0 15px;
    font-size: 18px;
  }
  .serviceMain .sec01 {
    padding: 0 0 60px;
  }
  .serviceMain .sec01 .secTtlBox {
    margin: 0 0 40px;
    text-align: center;
  }
  .serviceMain .sec01 .secTtlBox .sub {
    width: 120px;
    margin: 0 auto 10px;
  }
  .serviceMain .sec01 .secTtlBox .secTtl {
    font-size: 24px;
  }
  .serviceMain .sec01 .topBox .dl + .dl {
    margin: 40px 0 0;
  }
  .serviceMain .sec01 .topBox .dl .dt {
    margin: 0 0 10px;
    padding: 0 0 10px;
    border-bottom: 1px solid #202222;
  }
  .serviceMain .sec01 .topBox .dl .dt .span {
    font-size: 16px;
  }
  .serviceMain .sec01 .topBox .dl .dt .em {
    font-size: 24px;
  }
  .serviceMain .sec01 .slidePanel .slideBox .ul .li {
    width: 50%;
  }
  .serviceMain .sec01 .section + .section {
    margin: 50px 0 0;
  }
  .serviceMain .sec01 .section .secTtl h3 {
    min-width: 120px;
    padding: 0 15px 0 0;
    font-size: 18px;
  }
  .serviceMain .sec01 .tablePanel01 .table .thead {
    display: none;
  }
  .serviceMain .sec01 .tablePanel01 .table .tbody .tr {
    text-align: center;
    border: 1px solid #202222;
    border-bottom: none;
  }
  .serviceMain .sec01 .tablePanel01 .table .tbody .tr + .tr {
    margin: 20px 0 0;
  }
  .serviceMain .sec01 .tablePanel01 .table .tbody .tr .td + .td {
    border-top: 1px solid #202222;
  }
  .serviceMain .sec01 .tablePanel01 .table .tbody .tr .td .dl .dt {
    padding: 10px;
    border-bottom: 1px solid #202222;
    background: #d5e8ec;
  }
  .serviceMain .sec01 .tablePanel01 .table .tbody .tr .td.name .dl .dd, .serviceMain .sec01 .tablePanel01 .table .tbody .tr .td.type .dl .dd {
    padding: 10px;
  }
  .serviceMain .sec01 .tablePanel01 .table .tbody .tr .td.size .dl .dd .ul {
    display: flex;
    flex-wrap: wrap;
  }
  .serviceMain .sec01 .tablePanel01 .table .tbody .tr .td.size .dl .dd .ul .li {
    width: 50%;
    border-bottom: 1px solid #202222;
  }
  .serviceMain .sec01 .tablePanel01 .table .tbody .tr .td.size .dl .dd .ul .li:nth-child(odd) {
    border-right: 1px solid #202222;
  }
  .serviceMain .sec01 .tablePanel01 .table .tbody .tr .td.size .dl .dd .ul .li .span {
    border-bottom: 1px solid #202222;
    background: #d5e8ec;
  }
  .serviceMain .sec01 .tablePanel01 .table .tbody .tr .td.size .dl .dd .ul .li p {
    padding: 10px;
  }
  .serviceMain .sec01 .tablePanel02 .tableBox + .tableBox {
    margin: 30px 0 0;
  }
  .serviceMain .sec01 .tablePanel02 .tableBox .table .tr .th {
    width: 200px;
  }
  .serviceMain .sec01 .listBox .ul .li + .li {
    margin: 30px 0 0;
  }
  .serviceMain .sec02 {
    padding: 0 0 60px;
  }
  .serviceMain .sec02 .secTtlBox {
    margin: 0 0 40px;
    text-align: center;
  }
  .serviceMain .sec02 .secTtlBox .sub {
    width: 100px;
    margin: 0 auto 10px;
  }
  .serviceMain .sec02 .secTtlBox .secTtl {
    font-size: 24px;
  }
  .serviceMain .sec02 .secPanel + .secPanel {
    margin: 40px 0 0;
  }
  .serviceMain .sec02 .secPanel .txtBox {
    padding: 15px 20px 0;
  }
  .serviceMain .sec02 .secPanel .txtBox h3 {
    margin: 0 0 15px;
    padding: 0 0 0 25px;
    font-size: 20px;
    background: url(https://sit-9545227.sibloo.com/system_panel/uploads/images/service_sec02_ttl_line.png) left center no-repeat;
    background-size: 15px auto;
  }
}
/*////////////////////////////////////////////////////////////
	recruit
///////////////////////////////////////////////////////////*/
@media (max-width: 1024px) {
  .recruitMain .kvContainer {
    height: 400px;
  }
  .recruitMain .kvContainer .messageBox {
    position: absolute;
    right: 20px;
    bottom: 40px;
    width: 80%;
  }
  .recruitMain .kvContainer .messageBox .message01 {
    width: 100%;
    max-width: 400px;
    margin: 0 0 20px;
  }
  .recruitMain .kvContainer .messageBox .message02 {
    width: 80%;
    max-width: 300px;
  }
  .recruitMain .sec01 {
    padding: 60px 0;
  }
  .recruitMain .sec01 .secTtlBox {
    margin: 0 0 40px;
  }
  .recruitMain .sec01 .secTtlBox .sub {
    width: 100px;
    margin: 0 0 10px;
  }
  .recruitMain .sec01 .secTtlBox .secTtl {
    font-size: 24px;
  }
  .recruitMain .sec01 .txt p + p {
    margin: 20px 0 0;
  }
  .recruitMain .sec02 {
    padding: 60px 0;
  }
  .recruitMain .sec02 .secTtlBox {
    margin: 0 0 40px;
  }
  .recruitMain .sec02 .secTtlBox .sub {
    width: 40px;
    margin: 0 auto 10px;
  }
  .recruitMain .sec02 .secTtlBox .secTtl {
    font-size: 24px;
  }
  .recruitMain .sec02 .topTtl {
    margin: 0 0 25px;
    font-size: 20px;
  }
  .recruitMain .sec02 .secContainer01 .secPanel01 .pTtl01 {
    font-size: 18px;
  }
  .recruitMain .sec02 .secContainer01 .secPanel01 .pTtl02 {
    font-size: 18px;
  }
  .recruitMain .sec02 .secContainer01 .secPanel01 .secBox .txtBox {
    padding: 20px 0 0;
  }
  .recruitMain .sec02 .secContainer01 .secPanel01 .secBox .txtBox .txt p + p {
    margin: 15px 0 0;
  }
  .recruitMain .sec02 .secContainer01 .secPanel02 .dl + .dl {
    margin: 40px 0 0;
  }
  .recruitMain .sec02 .secContainer01 .secPanel02 .dl .dt {
    margin: 0 0 10px;
    padding: 0 0 5px;
    border-bottom: 1px solid #202222;
  }
  .recruitMain .sec02 .secContainer01 .secPanel02 .dl .dt > * {
    font-size: 24px;
  }
  .recruitMain .sec02 .secContainer02 .section + .section {
    margin: 50px 0 0;
  }
  .recruitMain .sec02 .secContainer02 .section .secTtl h3 {
    min-width: 120px;
    padding: 0 15px 0 0;
    font-size: 18px;
  }
  .recruitMain .sec02 .secContainer02 .listBox .ul .li + .li {
    margin: 20px 0 0;
  }
  .recruitMain .sec02 .secContainer02 .listBox .ul .li .inner {
    padding: 20px;
  }
  .recruitMain .sec02 .secContainer02 .listBox .ul .li p {
    font-size: 20px;
  }
  .recruitMain .sec02 .secContainer02 .secBox .photoBox {
    max-width: 320px;
    margin: 0 auto;
  }
  .recruitMain .sec02 .secContainer02 .secBox .photoBox .photo .img {
    max-width: 280px;
  }
  .recruitMain .sec02 .secContainer02 .secBox .photoBox .photo02 {
    position: relative;
    top: -15px;
  }
  .recruitMain .sec02 .secContainer02 .secBox .txtBox {
    padding: 10px 0 0;
  }
  .recruitMain .sec02 .secContainer02 .secBox .txtBox .txt p + p {
    margin: 20px 0 0;
  }
  .recruitMain .sec03 {
    padding: 60px 0;
  }
  .recruitMain .sec03 .secTtlBox {
    margin: 0 0 40px;
  }
  .recruitMain .sec03 .secTtlBox .sub {
    width: 140px;
    margin: 0 auto 10px;
  }
  .recruitMain .sec03 .secTtlBox .secTtl {
    font-size: 24px;
  }
  .recruitMain .sec03 .infoBox .dl {
    display: block;
    padding: 10px 0;
    line-height: 1.7;
  }
  .recruitMain .sec03 .infoBox .dl .dt {
    width: 100%;
    padding: 0 0 5px;
  }
  .recruitMain .sec03 .infoBox .dl .dd {
    width: 100%;
  }
  .recruitMain .sec04 {
    padding: 60px 0;
  }
  .recruitMain .sec04 .secTtlBox {
    margin: 0 0 30px;
  }
  .recruitMain .sec04 .secTtlBox .sub {
    width: 80px;
    margin: 0 auto 10px;
  }
  .recruitMain .sec04 .secTtlBox .secTtl {
    font-size: 24px;
  }
}
/*////////////////////////////////////////////////////////////
	form
///////////////////////////////////////////////////////////*/
@media (max-width: 1024px) {
  .formMain .contactForm .form .checkList .ul {
    padding: 0;
  }
  .formMain .contactForm .formBox + .formBox {
    margin-top: 40px;
  }
  .formMain .contactForm .formBox > .dl {
    display: block;
    width: 100%;
    padding: 10px;
  }
  .formMain .contactForm .formBox > .dl::before {
    display: none;
  }
  .formMain .contactForm .formBox > .dl.line .dt {
    padding: 10px;
  }
  .formMain .contactForm .formBox > .dl.top {
    display: none;
  }
  .formMain .contactForm .formBox > .dl > .dt {
    display: block;
    width: 100%;
    margin: 0;
    padding: 10px;
  }
  .formMain .contactForm .formBox > .dl > .dt .span {
    width: auto;
    min-width: 0;
    margin-right: 10px;
    padding: 0;
    font-size: 16px;
    text-align: left;
  }
  .formMain .contactForm .formBox > .dl > .dt .span br {
    display: none;
  }
  .formMain .contactForm .formBox > .dl > .dt .em {
    font-size: 12px;
    vertical-align: middle;
  }
  .formMain .contactForm .formBox > .dl > .dt .aside {
    margin-top: 5px;
  }
  .formMain .contactForm .formBox > .dl > .dt .aside p {
    font-size: 12px;
  }
  .formMain .contactForm .formBox > .dl > .dt .aside p br {
    display: none;
  }
  .formMain .contactForm .formBox > .dl > .dd {
    display: block;
    width: 100%;
    padding: 10px;
    border-bottom: none;
  }
  .formMain .contactForm .formBox .radioBox {
    padding: 0;
  }
  .formMain .contactForm .formBox .radioList01 .list {
    display: block;
    margin: 0;
  }
  .formMain .contactForm .formBox .radioList01 .list + .list {
    margin: 20px 0 0;
  }
  .formMain .contactForm .formBox .checkList01 .ul .li {
    display: block;
  }
  .formMain .contactForm .formBox .checkList01 .ul .li + .li {
    margin: 10px 0 0;
  }
  .formMain .contactForm .formBox .checkList01 .checkItem {
    display: inline-block;
    padding: 0 5px 0 0;
  }
  .formMain .contactForm .formBox .checkList01 .checkItem + input {
    display: inline-block;
    width: 150px;
  }
  .formMain .contactForm .formBox .addressBox .dl,
.formMain .contactForm .formBox .dateBox .dl {
    display: block;
  }
  .formMain .contactForm .formBox .addressBox .dl .dt,
.formMain .contactForm .formBox .dateBox .dl .dt {
    display: block;
    width: 100%;
  }
  .formMain .contactForm .formBox .addressBox .dl .dd,
.formMain .contactForm .formBox .dateBox .dl .dd {
    display: block;
  }
  .formMain .contactForm .formBox .datePanel {
    display: block;
    font-size: 14px;
  }
  .formMain .contactForm .formBox .datePanel + .datePanel {
    margin: 20px 0 0;
  }
  .formMain .contactForm .formBox .datePanel > * {
    padding: 0 0 5px;
  }
  .formMain .contactForm .formBox .datePanel input {
    width: 60px;
  }
  .formMain .contactForm .formBox .datePanel .selectBox {
    width: 60px;
  }
  .formMain .contactForm .formBox .datePanel .dateTtl {
    margin: 0 10px 0 0;
  }
  .formMain .contactForm .formBox .datePanel .dateTxt {
    margin: 0 5px;
  }
  .formMain .contactForm .formBox .dateBox input[type=text] {
    width: 70px;
  }
  .formMain .contactForm .formBox .dateBox .radioList {
    display: block;
    margin: 10px 0 0;
  }
  .formMain .contactForm .formBox .selectBox {
    width: 180px;
  }
  .formMain .contactForm .formBox .privacy .agreeBox {
    height: 250px;
    padding: 20px 10px;
  }
  .formMain .contactForm .fileUploadBox {
    display: block;
  }
  .formMain .contactForm .fileUploadBox .fileBox {
    display: block;
    width: 100%;
  }
  .formMain .contactForm .fileUploadBox .place {
    margin: 0 0 5px;
  }
  .formMain .contactForm .fileUploadBox .fileArea {
    display: block;
    width: 100%;
  }
  .formMain .contactForm .fileUploadBox .fileArea .inputFile {
    width: 200px;
  }
  .formMain .contactForm .fileUploadBox .fileArea > p,
.formMain .contactForm .fileUploadBox .fileArea .fileTxt {
    width: 100%;
    margin: 10px 0 0;
  }
  .formMain .contactForm .fileUploadTitleBox {
    margin: 40px 0 20px;
  }
  .formMain .contactForm .fileUploadTitleBox .fileUploadTitle p {
    padding: 0 15px 0 0;
    font-size: 20px;
  }
}
/*////////////////////////////////////////////////////////////
	blog
///////////////////////////////////////////////////////////*/
@media (max-width: 1024px) {
  .blogMain .blogSection {
    padding: 60px 0 80px;
  }
  .blogMain .catePanel {
    padding: 40px 0;
  }
  .blogMain .catePanel .webgene-blog .webgene-item {
    display: block;
    width: 180px;
    margin: 0 auto 20px;
  }
  .blogMain .blogPanel--list .webgene-blog {
    display: flex;
    flex-wrap: wrap;
    margin: -40px 0 0 -10px;
  }
  .blogMain .blogPanel--list .webgene-blog .webgene-item {
    width: calc(50% - 10px);
    margin: 40px 0 0 10px;
  }
  .blogMain .blogPanel--list .webgene-blog .webgene-item .photo {
    position: relative;
    height: 0;
    margin: 0 0 10px;
    padding: 0 0 80%;
  }
  .blogMain .blogPanel--list .webgene-blog .webgene-item .photo img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .blogMain .blogPanel--list .webgene-blog .webgene-item .title {
    min-height: 0;
    margin: 0;
  }
  .blogMain .blogPanel--list .webgene-blog .webgene-item .more p {
    padding: 5px 0;
    font-size: 12px;
    background: url(https://sit-9545227.sibloo.com/system_panel/uploads/images/btn_more_arrow.png) right 2px center no-repeat;
    background-size: 6px auto;
  }
  .blogMain .blogPanel--list .webgene-pagination {
    margin: 60px auto 0;
  }
  .blogMain .blogPanel--detail .webgene-blog .ttlBox {
    font-size: 20px;
  }
  .blogMain .blogPanel--detail .webgene-blog .slickSlide {
    margin: 0 0 40px;
  }
  .blogMain .blogPanel--detail .webgene-blog .slickSlide .slider .li > div {
    padding: 0 0 70%;
  }
  .blogMain .blogPanel--detail .webgene-blog .thumb-item.slider .li > div {
    overflow: hidden;
    position: relative;
    padding: 0 0 100%;
  }
  .blogMain .blogPanel--detail .webgene-blog .thumb-item.slider .li img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .blogMain .blogPanel--detail .webgene-blog .slick-prev {
    left: -20px;
  }
  .blogMain .blogPanel--detail .webgene-blog .slick-next {
    right: -20px;
  }
  .blogMain .blogPanel--detail .btnBackBox {
    margin: 50px 0 0;
  }
  .blogMain .blogPanel--detail .btnBack {
    margin: 40px auto 0;
  }
  .blogMain .blogPanel--detail .btnMore {
    margin: 40px auto 0;
  }
}