@charset "UTF-8";
@import "./mixin";
@import "./mod";
/* CSS Document */

/*===================================================
	共通CSS（SMP）
===================================================*/

/* --------------------------------------------------
	base
-------------------------------------------------- */
@media (max-width: 1024px) {
  body {
    min-width: 0;
    font-size: $SPfontSize;
  }
  a:hover {
    text-decoration: none;
  }
  /*改行*/
  .pcBreak {
    display: none;
  }
  .spBreak {
    display: block;
  }
  /*spのみ表示*/
  .pcHidden {
    display: block;
  }
  .spHidden {
    display: none;
  }
  #sideBtn {
    display: none;
  }
  .topicPath {
    display: none;
  }
}
/* --------------------------------------------------
	header
-------------------------------------------------- */
@media (max-width: 1024px) {
}

/* --------------------------------------------------
	nav
-------------------------------------------------- */
@media (max-width: 1024px) {
}

/* --------------------------------------------------
	main
-------------------------------------------------- */
@media (max-width: 1024px) {
  .main {
  }
  .pageTitlePanel {
    padding: 35px 20px;
    .pageTitle {
      h1 {
        font-size: 24px;
      }
      p {
        font-size: 16px;
      }
    }
  }
  .mapBox {
    padding: 0 0 70%;
  }
}

/* --------------------------------------------------
	footer
-------------------------------------------------- */
@media (max-width: 1024px) {
  .footer {
    .footerSlide {
      .slideBox {
        .ul {
          .li {
            margin: 0 5%;
          }
        }
      }
    }
    .footContact {
      .secTtlBox {
        margin: 0 0 40px;
        &:after {
          width: 250px;
          height: 12px;
        }
        .secTtl01 {
          font-size: 18px;
        }
        .secTtl02 {
          font-size: 22px;
        }
      }
      .topBox {
        margin: 0 0 25px;
        .dl {
          .dt {
            margin: 0 0 15px;
            font-size: 16px;
          }
        }
      }
      .itemPanel {
        max-width: 440px;
        .itemBox {
          padding: 15px;
          + .itemBox {
            margin: 20px 0 0;
          }
          .ttl {
            margin: 0 0 15px;
            font-size: 20px;
          }
          .telBox {
            a {
              font-size: 30px;
            }
          }
        }
      }
      .iconImg {
        position: absolute;
        right: 20px;
        bottom: 0;
        width: 120px;
      }
    }
    .footPanel {
      padding: 30px 0;
      .logo {
        max-width: 200px;
        margin: 0 auto 30px;
      }
      .footNav {
        display: none;
      }
      .copy {
        margin: 40px 0 0;
      }
    }
  }
}
