@charset "UTF-8";
@import "./mixin";
@import "./mod";
/* CSS Document */

/*===================================================
	共通CSS（SMP）
===================================================*/

/* --------------------------------------------------
	base
-------------------------------------------------- */
@media (max-width: 1139px) {
  body {
    min-width: 0;
    font-size: $SPfontSize;
  }
  a:hover {
    text-decoration: none;
  }
  /*改行*/
  .pcBreak {
    display: none;
  }
  .spBreak {
    display: block;
  }
  /*spのみ表示*/
  .pcHidden {
    display: block;
  }
  .spHidden {
    display: none;
  }
  #sideBtn {
    display: none;
  }
  .topicPath {
    display: none;
  }
}
/* --------------------------------------------------
	header
-------------------------------------------------- */
.header {
  .logo {
    position: fixed;
    top: 35px;
    left: 35px;
    width: 65px;
    transition: 0.6s;
  }
  .headItemBox {
    display: none;
  }
  .hamburgerBox {
    position: fixed;
    top: 35px;
    right: 35px;
    .hamburger {
      width: 40px;
      height: 48px;
      p {
        font-size: 14px;
      }
      span {
        width: 20px;
      }
      &.is-open {
        p {
          opacity: 0;
        }
        span {
          width: 50px;
        }
        .top {
          transform: rotate(65deg);
          top: 50%;
        }
        .bottom {
          transform: rotate(-65deg);
          bottom: 50%;
        }
      }
    }
  }
  &.is-footer-reached {
    .logo {
      opacity: 0;
    }
  }
}

/* --------------------------------------------------
	nav
-------------------------------------------------- */
.navBox {
  display: none;
  overflow-y: auto;
  position: fixed;
  top: 15px;
  left: 15px;
  width: calc(100% - 30px);
  height: calc(100% - 30px);
  // padding: 15px;
  z-index: 999;
  border-radius: 22px;
  background: rgba(255, 255, 255, 0.35);
  backdrop-filter: blur(40px);
  -webkit-backdrop-filter: blur(40px);
  .navPanel {
    width: 100%;
    padding: 60px 40px 100px;
    color: #ffffff;
    // border-radius: 22px;
    // background: rgba(255, 255, 255, 0.35);
    // backdrop-filter: blur(40px);
    // -webkit-backdrop-filter: blur(40px);
    // transition: 0.6s;
  }
  .navList {
    ul {
      li {
        + li {
          margin: 10px 0 0;
        }
        a {
          display: inline-block;
          @include helveticaBold;
          font-size: 20px;
          color: #ffffff;
        }
      }
    }
  }
  .navMessage {
    margin: 40px 0 30px;
    @include helveticaMedium;
    font-size: 12px;
  }
  .snsBox {
    display: flex;
    justify-content: space-between;
    margin: 0 0 40px;
    ul {
      display: flex;
      gap: 0 20px;
      li {
        width: 25px;
        a {
          display: block;
        }
      }
    }
    .navLogo {
      width: 100px;
    }
  }
  .photo {
    max-width: 190px;
    margin: 0 auto;
  }
}
.pageHeader {
  .navBox {
    background: rgba(0, 0, 0, 0.35);
  }
}
.fixedSpBottomNav {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  z-index: 999;
  ul {
    display: flex;
    li {
      width: 50%;
      a {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 85px;
        font-size: 16px;
        color: #ffffff;
      }
      &:nth-child(1) {
        a {
          background: #000000;
        }
      }
      &:nth-child(2) {
        a {
          background: #ff96cb;
        }
      }
    }
  }
}
/* --------------------------------------------------
	main
-------------------------------------------------- */
.pageMain {
  padding: 140px 25px 0;
}
.pageMainContainer {
  width: 100%;
}
.pageTitleContainer {
  padding: 0 0 15px;
  .sub {
    font-size: 50px;
  }
  .secTtl {
    font-size: 14px;
  }
}
.mapBox {
  padding: 0 0 70%;
}

/* --------------------------------------------------
	footer
-------------------------------------------------- */
.footer {
  padding: 50px 25px 100px;
  background: url("../image/common/footer_bg_sp.png") no-repeat;
  background-size: cover;
  .logo {
    width: 100%;
    max-width: 170px;
    margin: 0 0 70px;
  }
  .footBox01 {
    position: relative;
    margin: 0 0 120px;
    .photo {
      width: 100%;
      max-width: 200px;
      margin: 0 auto;
    }
    .footNav {
      margin: -45px 0 0;
      ul {
        li {
          + li {
            margin: 10px 0 0;
          }
        }
      }
    }
  }
  .footBox02 {
    dl {
      margin: 0 0 20px;
      dt {
        margin: 0 0 10px;
        font-size: 14px;
      }
      dd {
        font-size: 8px;
      }
    }
    .snsBox {
      margin: 0 0 20px;
      ul {
        display: flex;
        gap: 0 20px;
        li {
          width: 22px;
        }
      }
    }
    .bottomBox {
      gap: 0 10px;
      .copy {
        font-size: 9px;
      }
      .policy {
        font-size: 10px;
      }
    }
  }
}
