@charset "UTF-8";
@import "./mixin";
@import "./mod";
/* CSS Document */

/*===================================================
	画面用CSS（PC/SMP）
===================================================*/

/*////////////////////////////////////////////////////////////
	TOP
///////////////////////////////////////////////////////////*/
.topMain {
  .topKvContainer {
    overflow: hidden;
    position: relative;
    height: 700px;
    .topKv {
      position: relative;
      height: 700px;
      .kvBox {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        > div {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
        }
        .kv01 {
          background: url(https://sit-9545227.sibloo.com/system_panel/uploads/images/top_kv_01.png)
            center no-repeat;
          background-size: cover;
        }
        .kv02 {
          background: url(https://sit-9545227.sibloo.com/system_panel/uploads/images/top_kv_02.png)
            center no-repeat;
          background-size: cover;
        }
        .kv03 {
          background: url(https://sit-9545227.sibloo.com/system_panel/uploads/images/top_kv_03.png)
            center no-repeat;
          background-size: cover;
        }
      }
    }
    .titlePanel {
      position: absolute;
      right: 20px;
      bottom: 60px;
      width: 800px;
      z-index: 1;
      .titleBox01 {
        position: relative;
        right: -20px;
        width: 750px;
        padding: 40px 20px 100px 50px;
        color: #ffffff;
        white-space: nowrap;
        background: url(https://sit-9545227.sibloo.com/system_panel/uploads/images/top_kv_title_bg.png)
          center no-repeat;
        background-size: cover;
        h1 {
          font-size: 65px;
          line-height: 1.2;
        }
      }
      .titleBox02 {
        position: absolute;
        left: 0;
        bottom: -20px;
        text-align: right;
        .ttl {
          + .ttl {
            margin: 3px 0 0;
          }
          .inner {
            display: inline-block;
            background: #ffffff;
          }
          p {
            padding: 5px 20px;
            font-size: 26px;
            text-align: left;
            background: linear-gradient(
              90deg,
              #8fcbd2 0%,
              #076ad9 40%,
              #c1cd9e 80%
            );
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
          }
        }
      }
    }
  }
  .sec01 {
    padding: 100px 0;
    text-align: center;
    background: url(https://sit-9545227.sibloo.com/system_panel/uploads/images/top_sec01_bg.png)
      center no-repeat;
    background-size: cover;
    .secTtlBox {
      margin: 0 0 100px;
      .sub {
        width: 100px;
        margin: 0 auto 20px;
      }
      .secTtl {
        font-size: 36px;
      }
    }
  }
  .sec02 {
    margin: 0 0 120px;
    .secContainer {
      position: relative;
    }
    .secPanel {
      padding: 60px 120px;
      color: #ffffff;
      background: url(https://sit-9545227.sibloo.com/system_panel/uploads/images/top_sec02_bg_blue.png)
        left center no-repeat;
      background-size: cover;
      .inner {
        max-width: 530px;
      }
      .secTtlBox {
        margin: 0 0 30px;
        .sub {
          width: 100px;
          margin: 0 0 10px;
        }
        .secTtl {
          font-size: 36px;
        }
      }
      .txt {
        margin: 0 0 30px;
      }
    }
    @media (min-width: 1025px) {
      .photo {
        position: relative;
        width: 60%;
        min-width: 1000px;
        height: 580px;
        img {
          @include cover-image;
        }
      }
      .secPanel {
        position: absolute;
        right: 0;
        bottom: 0;
        width: 50%;
        min-width: 800px;
      }
    }
  }
  .sec03 {
    position: relative;
    padding: 0 0 100px;
    color: #ffffff;
    text-align: center;
    &:before {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: calc(100% - 250px);
      z-index: -1;
      background: url(https://sit-9545227.sibloo.com/system_panel/uploads/images/top_sec03_bg.png)
        center no-repeat;
      background-size: cover;
    }
    .photoBox {
      position: relative;
      margin: 0 0 60px;
      .secTtlBox {
        position: absolute;
        left: 0;
        bottom: -2px;
        width: 260px;
        padding: 20px 20px;
        background: #174890;
        .sub {
          width: 100px;
          margin: 0 auto 5px;
        }
        .secTtl {
          font-size: 36px;
        }
      }
    }
    .secContainer {
      h3 {
        margin: 0 0 30px;
        font-size: 40px;
        + .txt {
          margin: 0 0 60px;
        }
      }
      .list {
        .ul {
          .li {
            position: relative;
            background: rgba(255, 255, 255, 0.2);
            &::before {
              content: "";
              position: absolute;
              top: -10px;
              left: -10px;
              width: 100%;
              height: 100%;
              z-index: -1;
              background: rgba(255, 255, 255, 0.2);
            }
          }
          a {
            display: block;
            color: #ffffff;
          }
          .dl {
            padding: 30px;
            .dt {
              margin: 0 0 15px;
              font-size: 24px;
            }
            .dd {
              text-align: left;
              line-height: 2;
            }
          }
        }
        @media (min-width: 1025px) {
          .ul {
            display: flex;
            gap: 0 30px;
            .li {
              width: calc(33.3333% - 20px);
            }
          }
        }
      }
    }
  }
  .sec04 {
    padding: 100px 0;
    color: #ffffff;
    background: url(https://sit-9545227.sibloo.com/system_panel/uploads/images/top_sec04_bg.png)
      center no-repeat;
    background-size: cover;
    .secContainer {
      .leftBox {
        .secTtlBox {
          position: relative;
          margin: 0 0 20px;
          padding: 0 0 50px;
          text-align: center;
          &::after {
            content: "";
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            width: 1px;
            height: 40px;
            margin: 0 auto;
            background: #ffffff;
          }
          .sub {
            width: 60px;
            margin: 0 auto 10px;
          }
          .secTtl {
            font-size: 36px;
          }
        }
        .btnMoreWhite {
          margin: 0 auto;
        }
      }
      .rightBox {
        .blogPanel {
          .webgene-blog {
            .webgene-header {
              display: none;
            }
            .webgene-item {
              border-bottom: 1px solid #ffffff;
              a {
                display: block;
                padding: 20px 40px 20px 40px;
                color: #ffffff;
                background: url(https://sit-9545227.sibloo.com/system_panel/uploads/images/top_sec04_arrow.png)
                  right 20px center no-repeat;
                background-size: 15px auto;
              }
            }
          }
        }
      }
    }
    @media (min-width: 1025px) {
      .secContainer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .leftBox {
          width: 240px;
        }
        .rightBox {
          width: 760px;
        }
      }
    }
  }
  .sec05 {
    padding: 100px 0;
    .secTtlBox {
      margin: 0 0 60px;
      text-align: center;
      .sub {
        width: 120px;
        margin: 0 auto 10px;
      }
      .secTtl {
        font-size: 36px;
      }
    }
    .secContainer {
      .secPanel {
        .pTtl {
          margin: 0 0 30px;
          padding: 0 15px 10px;
          font-size: 22px;
          background: url(https://sit-9545227.sibloo.com/system_panel/uploads/images/top_sec05_ttl_line.png)
            left bottom no-repeat;
          background-size: auto 4px;
        }
        .infoBox {
          margin: 0 0 30px;
          .dl {
            display: flex;
            justify-content: space-between;
            padding: 10px 15px;
            line-height: 2;
            border-bottom: 1px dotted #000000;
            .dt {
              width: 100px;
            }
            .dd {
              width: calc(100% - 110px);
            }
          }
        }
      }
    }
    @media (min-width: 1025px) {
      .secContainer {
        display: flex;
        justify-content: space-between;
        .secPanel {
          width: 48%;
        }
        .contactForm .formBox > .dl > .dt {
          width: 30%;
          padding: 20px 0;
          font-size: 13px;
        }
        .contactForm .formBox > .dl > .dd {
          width: 70%;
          padding: 10px 0;
        }
      }
    }
  }
}

/*////////////////////////////////////////////////////////////
	service
///////////////////////////////////////////////////////////*/
.serviceMain {
  .topSection {
    padding: 100px 0;
    .secTtl {
      margin: 0 0 30px;
      font-size: 36px;
    }
    .secBox {
      .txtBox {
        h3 {
          margin: 0 0 15px;
          font-size: 24px;
        }
      }
    }
    @media (min-width: 1025px) {
      .secBox {
        display: flex;
        justify-content: space-between;
        flex-direction: row-reverse;
        .photo {
          width: 400px;
        }
        .txtBox {
          width: calc(100% - 450px);
        }
      }
    }
  }
  .sec01 {
    padding: 0 0 100px;
    .secContainer01 {
      margin: 0 0 60px;
    }
    .secContainer02 {
      margin: 60px 0 0;
    }
    .secTtlBox {
      margin: 0 0 60px;
      text-align: center;
      .sub {
        width: 180px;
        margin: 0 auto 10px;
      }
      .secTtl {
        font-size: 36px;
      }
    }
    .topBox {
      .dl {
        + .dl {
          margin: 50px 0 0;
        }
        .dt {
          .span {
            font-size: 24px;
            color: #1e296f;
            line-height: 1.2;
          }
          .em {
            font-size: 34px;
          }
        }
        .dd {
        }
      }
      @media (min-width: 1025px) {
        .dl {
          display: flex;
          justify-content: space-between;
          align-items: center;
          .dt {
            width: 350px;
            padding: 20px 0;
            border-right: 1px solid #202222;
          }
          .dd {
            width: calc(100% - 390px);
          }
        }
      }
    }
    .slidePanel {
      .slideBox {
        .ul {
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
          .li {
            width: calc(100% / 5);
            margin: 0 2px;
          }
        }
      }
    }
    .section {
      + .section {
        margin: 60px 0 0;
      }
      .secTtl {
        position: relative;
        margin: 0 0 30px;
        &::before {
          content: "";
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          width: 100%;
          height: 1px;
          margin: auto 0;
          background: #202222;
        }
        h3 {
          position: relative;
          display: inline-block;
          min-width: 150px;
          padding: 0 20px 0 0;
          font-size: 24px;
          color: #1e296f;
          background: #ffffff;
        }
      }
    }
    .tablePanel01 {
      margin: 0 0 40px;
      .table {
        .thead {
        }
        .tbody {
        }
      }
      @media (min-width: 1025px) {
        .table {
          border: 1px solid #202222;
          .name {
            width: 200px;
            padding: 10px;
          }
          .type {
            width: 250px;
            padding: 10px;
          }
          .thead {
            .tr {
              display: table;
              width: 100%;
              border-bottom: 1px solid #202222;
              background: #d5e8ec;
              .th {
                display: table-cell;
                text-align: center;
                vertical-align: middle;
                + .th {
                  border-left: 1px solid #202222;
                }
              }
              .dl {
                .dt {
                  padding: 10px;
                  border-bottom: 1px solid #202222;
                }
                .dd {
                  .ul {
                    display: table;
                    width: 100%;
                    .li {
                      display: table-cell;
                      width: 140px;
                      text-align: center;
                      vertical-align: middle;
                      + .li {
                        border-left: 1px solid #202222;
                      }
                      p {
                        padding: 10px;
                      }
                    }
                  }
                }
              }
            }
          }
          .tbody {
            .tr {
              display: table;
              width: 100%;
              + .tr {
                border-top: 1px solid #202222;
              }
              .td {
                display: table-cell;
                text-align: center;
                vertical-align: middle;
                + .td {
                  border-left: 1px solid #202222;
                }
                &.name,
                &.type {
                  padding: 15px 20px;
                }
              }
              .dl {
                .dt {
                  display: none;
                }
                .dd {
                  .ul {
                    display: table;
                    width: 100%;
                    .li {
                      display: table-cell;
                      width: 140px;
                      padding: 15px 5px;
                      text-align: center;
                      vertical-align: middle;
                      + .li {
                        border-left: 1px solid #202222;
                      }
                      .span {
                        display: none;
                      }
                      p {
                        padding: 10px;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
    .tablePanel02 {
      .tableBox {
        .table {
          border: 1px solid #202222;
          .tr {
            display: table;
            width: 100%;
            + .tr {
              border-top: 1px solid #202222;
            }
            > * {
              display: table-cell;
              padding: 15px 10px;
              text-align: center;
              vertical-align: middle;
              + * {
                border-left: 1px solid #202222;
              }
            }
            .th {
              width: 45%;
              background: #d5e8ec;
            }
          }
        }
      }
    }
    @media (min-width: 1025px) {
      .tablePanel02 {
        display: flex;
        justify-content: space-between;
        .tableBox {
          width: 48%;
        }
      }
    }
    .listBox {
      .ul {
        .li {
          p {
            padding: 10px;
            text-align: center;
          }
        }
      }
      @media (min-width: 1025px) {
        .ul {
          display: flex;
          flex-wrap: wrap;
          margin: -20px 0 0 -20px;
          .li {
            width: calc((100% / 4) - 20px);
            margin: 20px 0 0 20px;
          }
        }
      }
    }
  }
  .sec02 {
    padding: 0 0 100px;
    .secTtlBox {
      margin: 0 0 60px;
      text-align: center;
      .sub {
        width: 140px;
        margin: 0 auto 10px;
      }
      .secTtl {
        font-size: 36px;
      }
    }
    .secPanel {
      + .secPanel {
        margin: 50px 0 0;
      }
      .txtBox {
        h3 {
          margin: 0 0 20px;
          padding: 0 0 0 30px;
          font-size: 24px;
          background: url(https://sit-9545227.sibloo.com/system_panel/uploads/images/service_sec02_ttl_line.png)
            left center no-repeat;
          background-size: 20px auto;
        }
      }
    }
    @media (min-width: 1025px) {
      .secPanel {
        display: flex;
        justify-content: space-between;
        .photo {
          position: relative;
          width: 45%;
          height: 400px;
          img {
            @include cover-image;
          }
        }
        .txtBox {
          display: flex;
          flex-direction: column;
          justify-content: center;
          width: 50%;
          .inner {
            max-width: 640px;
          }
        }
        &:nth-child(odd) {
          flex-direction: row-reverse;
          .txtBox {
            align-items: flex-end;
            padding: 0 0 0 20px;
          }
        }
        &:nth-child(even) {
          .txtBox {
            padding: 0 20px 0 0;
          }
        }
      }
    }
  }
}

/*////////////////////////////////////////////////////////////
	recruit
///////////////////////////////////////////////////////////*/
.recruitMain {
  .kvContainer {
    position: relative;
    height: 800px;
    background: url(https://sit-9545227.sibloo.com/system_panel/uploads/images/recruit_top_kv.png)
      center center no-repeat;
    background-size: cover;
    .messageBox {
      position: absolute;
      right: 5%;
      bottom: 60px;
      width: 45%;
      .message01 {
        width: 100%;
        max-width: 800px;
        margin: 0 0 50px;
      }
      .message02 {
        width: 80%;
        max-width: 600px;
      }
    }
  }
  .sec01 {
    padding: 100px 0;
    color: #ffffff;
    background: url(https://sit-9545227.sibloo.com/system_panel/uploads/images/recruit_sec01_bg.png)
      center center no-repeat;
    background-size: cover;
    .secTtlBox {
      margin: 0 0 60px;
      .sub {
        width: 120px;
        margin: 0 0 10px;
      }
      .secTtl {
        font-size: 36px;
      }
    }
    .txt {
      p + p {
        margin: 30px 0 0;
      }
    }
  }
  .sec02 {
    padding: 100px 0;
    .secTtlBox {
      margin: 0 0 60px;
      text-align: center;
      .sub {
        width: 40px;
        margin: 0 auto 10px;
      }
      .secTtl {
        font-size: 36px;
      }
    }
    .topTtl {
      margin: 0 0 30px;
      font-size: 30px;
      color: #1e296f;
      text-align: center;
    }
    .secContainer01 {
      margin: 0 0 40px;
      .secPanel01 {
        margin: 0 0 40px;
        .pTtl01 {
          margin: 0 0 20px;
          padding: 5px 20px;
          font-size: 24px;
          color: #ffffff;
          background: #4a93b2;
        }
        .pTtl02 {
          margin: 0 0 15px;
          padding: 0 20px;
          font-size: 24px;
        }
        .secBox {
          .txtBox {
            .txt {
              p + p {
                margin: 20px 0 0;
              }
            }
          }
        }
        @media (min-width: 1025px) {
          .secBox {
            display: flex;
            justify-content: space-between;
            .photo {
              width: 280px;
            }
            .txtBox {
              width: calc(100% - 320px);
            }
          }
        }
      }
      .secPanel02 {
        .dl {
          + .dl {
            margin: 50px 0 0;
          }
          .dt {
            font-size: 0;
            > * {
              font-size: 34px;
            }
            .em {
              display: inline-block;
              color: #00b0d6;
            }
            .span {
              display: inline-block;
            }
          }
          .dd {
          }
        }
        @media (min-width: 1025px) {
          .dl {
            display: flex;
            justify-content: space-between;
            align-items: center;
            .dt {
              width: 200px;
              padding: 20px 0;
              border-right: 1px solid #202222;
            }
            .dd {
              width: calc(100% - 240px);
            }
          }
        }
      }
    }
    .secContainer02 {
      .section {
        + .section {
          margin: 60px 0 0;
        }
        .secTtl {
          position: relative;
          margin: 0 0 30px;
          &::before {
            content: "";
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            width: 100%;
            height: 1px;
            margin: auto 0;
            background: #202222;
          }
          h3 {
            position: relative;
            display: inline-block;
            min-width: 150px;
            padding: 0 20px 0 0;
            font-size: 24px;
            color: #00aa74;
            background: #ffffff;
          }
        }
      }
      .listBox {
        .ul {
          .li {
            padding: 2px;
            background: #00aa74;
            .inner {
              padding: 20px;
              border: 1px solid #ffffff;
            }
            p {
              font-size: 24px;
              color: #ffffff;
              text-align: center;
            }
          }
        }
        @media (min-width: 1025px) {
          .ul {
            display: flex;
            flex-wrap: wrap;
            margin: -20px 0 0 -20px;
            .li {
              width: calc((100% / 3) - 20px);
              margin: 20px 0 0 20px;
            }
          }
        }
      }
      .secBox {
        .photoBox {
          position: relative;
          .photo {
            .img {
              width: 100%;
              max-width: 320px;
            }
          }
          .photo02 {
            position: relative;
            top: -20px;
            display: flex;
            flex-direction: column;
            align-items: flex-end;
          }
        }
        .txtBox {
          .txt {
            p + p {
              margin: 30px 0 0;
            }
          }
        }
      }
      @media (min-width: 1025px) {
        .secBox {
          display: flex;
          justify-content: space-between;
          flex-direction: row-reverse;
          .photoBox {
            width: 500px;
          }
          .txtBox {
            width: calc(100% - 550px);
          }
        }
      }
    }
  }
  .sec03 {
    padding: 100px 0;
    color: #ffffff;
    background: #4b6dad;
    .secTtlBox {
      margin: 0 0 60px;
      text-align: center;
      .sub {
        width: 180px;
        margin: 0 auto 10px;
      }
      .secTtl {
        font-size: 36px;
      }
    }
    .infoBox {
      background: url(https://sit-9545227.sibloo.com/system_panel/uploads/images/recruit_sec03_line.png)
        left top no-repeat;
      background-size: 100% auto;
      .dl {
        display: flex;
        justify-content: space-between;
        padding: 20px 15px;
        line-height: 2;
        border-bottom: 1px dotted #ffffff;
        .dt {
          width: 200px;
          padding: 0 20px;
        }
        .dd {
          width: calc(100% - 210px);
        }
      }
    }
  }
  .sec04 {
    padding: 100px 0;
    .secTtlBox {
      margin: 0 0 40px;
      text-align: center;
      .sub {
        width: 90px;
        margin: 0 auto 10px;
      }
      .secTtl {
        font-size: 36px;
      }
    }
    .topTxt {
      margin: 0 0 30px;
      text-align: center;
    }
  }
}

/*////////////////////////////////////////////////////////////
	form
///////////////////////////////////////////////////////////*/
.formMain {
  /* 入力項目
  --------------------------------------*/
  /*テキストボックス・メール・電話*/
  .contactForm input[type="text"],
  .contactForm input[type="email"],
  .contactForm input[type="tel"] {
    width: 100%;
    height: 50px;
    padding-left: 20px;
    font-size: 16px;
    border: 1px solid #000000;
    background: #ffffff;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }
  /*テキストエリア*/
  .contactForm textarea {
    width: 100%;
    height: 200px;
    padding: 20px;
    font-size: 16px;
    border: 1px solid #000000;
    background: #ffffff;
    resize: none;
    // box-shadow: 0 1px 2px rgba(3, 0, 11, 0.14);
  }
  .contactForm input[type="text"]:focus,
  .contactForm input[type="email"]:focus,
  .contactForm input[type="tel"]:focus,
  .contactForm textarea:focus {
    outline: 0;
    border: 2px solid #90cefd;
  }
  .btnSubmitBox {
    max-width: 230px;
    margin: 40px auto 0;
  }
  .contactForm button[type="submit"] {
    position: relative;
    display: block;
    width: 100%;
    padding: 7px 10px;
    font-family:
      "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN",
      "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
    font-size: 15px;
    text-align: center;
    cursor: pointer;
    border: none;
    border: 1px solid #202222;
    background: url(https://sit-9545227.sibloo.com/system_panel/uploads/images/btn_more_arrow.png)
      right 10px center no-repeat #ffffff;
    transition: 0.6s;
    @media (min-width: 1025px) {
      &:hover {
        &:after {
          right: -15px;
        }
      }
    }
  }
  .contactForm button[type="submit"][disabled] {
    opacity: 0.6;
    cursor: default;
    pointer-events: none;
  }
  .contactForm .form {
    padding: 0 0 60px;
    .checkList {
      .ul {
        padding: 12px 0 0;
        + .ul {
          margin: 10px 0 0;
        }
        .li {
          + .li {
            margin: 10px 0 0;
          }
        }
      }
      .list {
        + .list {
          margin: 10px 0 0;
        }
      }
    }
    .checkList01 {
      .ul {
        .li {
          display: inline-block;
          + .li {
            margin: 0 0 0 10px;
          }
        }
      }
      .checkItem {
        display: inline-block;
        padding: 0 5px 0 0;
        + input {
          display: inline-block;
          width: 150px;
        }
      }
      .otherTxt {
        display: inline-block;
      }
    }
    .checkItem {
      + .checkItem {
        margin-top: 10px;
      }
      position: relative;
      display: flex;
      align-items: center;
      cursor: pointer;
      input[type="checkbox"] {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        width: 20px;
        height: 20px;
        z-index: 1;
      }
      label {
        display: inline-block;
        padding-left: 30px;
        position: relative;
        cursor: pointer;
        &::before {
          content: "";
          display: block;
          position: absolute;
          top: 50%;
          left: 0;
          width: 18px;
          height: 18px;
          transform: translateY(-50%);
          border: 1px solid #000000;
          background: #ffffff;
        }
      }
      input[type="checkbox"]:checked + label::after {
        content: "";
        display: block;
        position: absolute;
        top: 50%;
        left: 5px;
        width: 7px;
        height: 14px;
        transform: translateY(-50%) rotate(40deg);
        border-bottom: 3px solid #000000;
        border-right: 3px solid #000000;
      }
      &.agreeCheck {
        justify-content: center;
      }
    }

    .radioList01 {
      .list {
        display: inline-block;
        margin: 0 20px 0 0;
      }
      .otherTxt {
        display: inline-block;
      }
    }

    .radioBox {
      padding: 10px 0;
      .radio {
        position: relative;
        display: inline-block;
      }

      input[type="radio"] {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        z-index: 1;
      }

      label {
        position: relative;
        padding: 5px 0 5px 35px;
      }

      label:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        width: 25px;
        height: 25px;
        margin: auto 0;
        border-radius: 50%;
        border: 1px solid #000000;
        background: #ffffff;
        box-sizing: border-box;
      }

      input[type="radio"]:checked + label:before {
        border: 8px solid #000000;
      }
    }

    .postalBox {
      margin: 0 0 5px;
      input {
        width: 90px;
      }

      input + .span {
        display: inline-block;
        margin: 0 5px;
      }

      .postalTxt {
        display: inline-block;
        margin: 0 5px;
      }
      + input {
        + input {
          margin: 5px 0;
        }
      }
    }

    .selectBox {
      display: inline-block;
      width: 200px;
      select {
        display: block;
        width: 100%;
        padding: 11px 20px;
        font-size: 16px;
        color: #000000;
        line-height: 1.5em;
        border-radius: 0;
        border: 1px solid #deebe4;
        border-radius: 15px;
        background: #ffffff;
        background-size: 10px auto;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
      }
      + .span {
        display: inline-block;
        margin: 0 5px;
      }
    }
  }
  .contactForm {
    .formBox {
      border-top: 1px dotted #202222;
      + .formBox {
        margin-top: 60px;
      }

      > .dl {
        position: relative;
        display: flex;
        width: 100%;
        border-bottom: 1px dotted #202222;
        &.line {
          > .dt {
            vertical-align: top;
          }
        }

        > .dt {
          overflow: hidden;
          width: 25%;
          margin: 0 2px 0 0;
          padding: 20px 10px;
          .span {
            display: inline-block;
            margin-right: 10px;
            padding: 0 0 0 5px;
            vertical-align: middle;
            p {
              display: inline-block;
            }
          }

          .em {
            display: inline-block;
            padding: 0 8px;
            font-size: 14px;
            color: #ffffff;
            vertical-align: middle;
            background: #202222;
          }

          .small {
            display: inline-block;
            margin: 0 0 0 10px;
            font-size: 13px;
          }

          .aside {
            margin-top: 0;

            p {
              font-size: 14px;
              padding-left: 1em;
              text-indent: -1em;
            }
          }

          @media (min-width: 1025px) {
            .span {
              float: left;
            }
            .em {
              float: right;
            }
          }
        }

        > .dd {
          position: relative;
          width: 75%;
          padding: 10px 20px;
        }
      }
      .datePanel {
        display: flex;
        justify-content: space-between;
        font-size: 15px;
        + .datePanel {
          margin: 10px 0 0;
        }
        > * {
          display: flex;
          align-items: center;
        }
        input {
          width: 70px;
          border-radius: 15px;
        }
        .selectBox {
          width: 70px;
        }
        .dateTtl {
          margin: 0 10px 0 0;
        }
        .dateTxt {
          margin: 0 5px;
        }
      }
      .addressBox,
      .dateBox {
        .dl {
          display: table;
          width: 100%;

          + .dl {
            margin-top: 10px;
          }

          .dt {
            display: table-cell;
            width: 60px;
            vertical-align: middle;
          }

          .dd {
            display: table-cell;
            vertical-align: middle;
          }
        }
      }
      .addressBox {
        .innerBox {
          + .innerBox {
            margin: 5px 0 0;
          }
        }
      }
      @media (min-width: 1025px) {
        .addressBox {
          .innerBox {
            display: flex;
            align-items: center;
            > p {
              width: 80px;
              font-size: 16px;
            }
            .inputBox {
              width: calc(100% - 80px);
            }
          }
        }
      }
      .ageInput {
        input {
          display: inline-block;
          width: 120px;
          margin: 0 5px 0 0;
        }
        > p {
          display: inline-block;
        }
      }
      .meetingBox {
        margin: 0 0 20px;
        .radioList {
          display: inline-block;

          .list {
            display: inline-block;
            margin: 0 20px 0 0;
          }
        }
      }
      .dateBox {
        + .dateBox {
          margin: 10px 0 0;
        }
        + .txt {
          margin: 10px 0 0;
        }
        input[type="text"] {
          width: 90px;
        }

        .em {
          display: inline-block;
        }

        .span {
          display: inline-block;
          margin: 0 5px;
          vertical-align: middle;
        }
        .radioList {
          display: inline-block;
          margin: 0 0 0 40px;

          .list {
            display: inline-block;
            margin: 0 20px 0 0;
          }
        }
      }
      .caution {
        margin-top: 10px;
        color: #d20000;
        line-height: 2;
      }
      .telBox {
        padding: 10px 10px 40px;
        font-size: 0;
        font-weight: 400;
        text-align: left;
        line-height: 2;
        > * {
          display: inline-block;
          font-size: 14px;
        }
      }
      .telTxt {
        padding: 10px 10px 0;
      }
      .privacy {
        padding: 10px;

        > p {
          margin: 0 0 20px;
          text-align: left;
        }

        .agreeBox {
          overflow: scroll;
          height: 500px;
          padding: 20px;
          text-align: left;
          border: 1px solid #c5c5c5;
          background: #f8f8f8;
          .box {
            + .box {
              margin: 30px 0 0;
            }
            .link {
              a {
                display: inline-block;
              }
            }
          }
          p {
            line-height: 2;
          }
          .tel {
            p,
            a {
              display: inline-block;
            }
          }
        }
      }

      .privacy + .checkItem {
        margin: 40px 0;
        text-align: center;
      }
    }
    .fileUploadBox {
      .ttl {
        margin: 0 0 10px;
        line-height: 2;
      }
      .fileBox {
        display: flex;
        align-items: center;
        gap: 0 20px;
        + .fileBox {
          margin: 10px 0 0;
        }
      }
      .place {
        width: 100px;
      }
      .fileArea {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 0 20px;
        width: calc(100% - 120px);

        + .fileArea {
          margin: 10px 0 0;
        }

        .inputFile {
          position: relative;
          width: 180px;
          font-size: 16px;
          color: #ffffff;
          text-align: center;
          border: 1px solid #000000;
          background: #d2c2a8;

          input {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            opacity: 0;
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
          }

          p {
            padding: 12px 10px;
          }
        }

        > p,
        .fileTxt {
          width: 70%;
        }
        .fileTxt {
          p {
            display: inline-block;
          }
          .fileName {
            margin: 0 10px 0 0;
          }
          .attention {
            font-size: 13px;
            color: #54765f;
          }
        }
      }
      .txt {
        line-height: 2;
      }
    }
    .aside {
      margin: 10px 0 0;
    }
    .fileUploadTitleBox {
      margin: 60px 0 30px;
      .fileUploadTitle {
        position: relative;
        max-width: 440px;
        margin: 0 0 20px;
        &:before {
          content: "";
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          width: 100%;
          height: 1px;
          margin: auto;
          background: #000000;
        }
        p {
          position: relative;
          display: inline-block;
          padding: 0 20px 0 0;
          font-size: 30px;
          font-weight: bold;
          background: #ffffff;
        }
      }
    }
  }
}

/*////////////////////////////////////////////////////////////
	complete
///////////////////////////////////////////////////////////*/
.complete {
  padding: 60px 0 100px;
  .txt {
    margin: 0 0 40px;
    text-align: center;
    line-height: 3;
  }
  .btnMore {
    margin: 0 auto;
  }
}

/*////////////////////////////////////////////////////////////
	blog
///////////////////////////////////////////////////////////*/
.blogMain {
  .blogSection {
    padding: 80px 0 120px;
  }
  .catePanel {
    padding: 40px 0 80px;
    .webgene-blog {
      .webgene-header {
        display: none;
      }
      .webgene-item {
        display: inline-block;
        width: 220px;
        margin: 0 10px 0 0;
        a {
          display: block;
          padding: 10px;
          font-size: 14px;
          text-align: center;
          border: 1px solid #202222;
          background: url(https://sit-9545227.sibloo.com/system_panel/uploads/images/btn_more_arrow.png)
            right 10px center no-repeat;
        }
      }
    }
  }
  .blogPanel {
    &--list {
      .webgene-blog {
        .webgene-header {
          display: none;
        }
        .webgene-item {
          a {
            display: block;
            padding: 0 0 5px;
            border-bottom: 1px dashed #202222;
          }
          .photo {
            margin: 0 0 20px;
            img {
              border-radius: 6px;
            }
          }
          .title {
            min-height: 30px;
            margin: 0 0 10px;
          }
          .more {
            p {
              display: block;
              background: url(https://sit-9545227.sibloo.com/system_panel/uploads/images/btn_more_arrow.png)
                right 5px center no-repeat;
              background-size: 6px auto;
            }
          }
        }
      }
      @media (min-width: 1025px) {
        .webgene-blog {
          display: flex;
          flex-wrap: wrap;
          margin: -80px 0 0 -80px;
          .webgene-item {
            width: calc((100% / 3) - 80px);
            margin: 80px 0 0 80px;
            .photo {
              position: relative;
              height: 240px;
              img {
                @include cover-image;
              }
            }
          }
        }
      }
      .webgene-pagination {
        overflow: hidden;
        width: 100%;
        margin: 100px auto 0;
        font-size: 14px;
        ul {
          max-width: 700px;
          margin: 0 auto;
          text-align: center;
          li {
            display: inline-block;
            margin: 0 2px;

            a {
              display: block;
              width: 45px;
              color: #ffffff;
              line-height: 45px;
              text-align: center;
              background: #d6d7e1;
            }
          }
          .prev {
            margin: 0 2px 0 0;
          }
          .next {
            position: relative;
            margin: 0 0 0 2px;
          }
          .selected {
            a {
              background: #202222;
            }
          }
          @media (min-width: 1025px) {
            .prev {
              float: left;
            }
            .next {
              float: right;
            }
          }
        }
      }
    }
    &--detail {
      max-width: 1100px;
      margin: 0 auto;
      .webgene-blog {
        padding: 0 0 60px;
        border-bottom: 1px dashed #202222;
        .webgene-header {
          display: none;
        }
        .info {
          margin: 0 0 15px;
          .cate {
            display: inline-block;
            min-width: 100px;
            margin: 0 10px 0 0;
            padding: 0 10px;
            color: #ffffff;
            text-align: center;
            background: #171a1c;
          }
          .time {
            display: inline-block;
            vertical-align: middle;
          }
        }
        .ttlBox {
          margin: 0 0 30px;
          padding: 0 0 10px;
          font-size: 30px;
          border-bottom: 1px dashed #000000;
        }
        img {
          border-radius: 6px;
        }
        .slickSlide {
          margin: 0 0 40px;
        }
        .slick-list {
          margin: 0 0 10px;
        }
        .thumb-item {
          max-width: 800px;
          margin: 0 0 10px;
          @media (min-width: 1025px) {
            img {
              display: block;
              // width: auto;
              max-height: 600px;
              // margin: 0 auto;
              object-fit: cover;
            }
          }
        }
        .slick-slide {
        }
        .slideNav {
          .slider {
            .li {
              > div {
                overflow: hidden;
                position: relative;
                padding: 0 0 65%;
              }
              img {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                object-fit: cover;
              }
            }
          }
          .slick-slide {
            margin: 0 5px;
          }
        }
        .postBox {
          .photo {
            margin-bottom: 40px;
            img {
              width: auto;
              max-width: 100%;
            }
          }
          .postTxt {
            line-height: 2;
            p + p {
              margin: 30px 0 0;
            }
            img {
              max-width: 100%;
              width: auto;
              height: auto;
            }
          }
          .pdfArea {
            margin: 40px 0 0;
            a {
              color: #2151a3;
            }
          }
        }
        .videoBox {
          margin: 40px 0 0;
        }
      }
      .btnBackBox {
        margin: 80px 0 0;
        text-align: center;
      }
      .btnContact {
        max-width: 280px;
        margin: 0 auto;
        a {
          position: relative;
          display: block;
          padding: 10px;
          color: #ffffff;
          text-align: center;
          border: 1px solid #85283d;
          background: #85283d;
          &:after {
            content: "";
            position: absolute;
            top: 0;
            right: -10px;
            bottom: 0;
            width: 30px;
            height: 5px;
            margin: auto 0;
            background: url(https://sit-10205333.sibloo.com/system_panel/uploads/images/btn_more_arrow.png)
              no-repeat;
            background-size: 100% auto;
            transition: 0.6s;
          }
          @media (min-width: 1025px) {
            &:hover {
              &:after {
                right: -15px;
              }
            }
          }
        }
      }
      .btnMore {
        max-width: 220px;
        margin: 60px auto 0;
      }
      .webgene-item-aroundPageLink {
        display: inline-block;
        a {
          display: block;
          width: 40px;
          color: #ffffff;
          line-height: 44px;
          border-radius: 20px;
          background: #d10b14;
        }
      }
    }
  }
}
