@charset "UTF-8";

// カラー
$bgBaseColor: #ffffff;
$mainColor: #1a1819;

//画像
$imgPath: "https://kawachiku.jp/system_panel/uploads/images/";

//font
// https://fonts.google.com/?query=Morisawa+Inc.
$baseFont:
  "Noto Sans JP", "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", "メイリオ",
  "Meiryo", "ＭＳ Ｐゴシック", "Helvetica Neue", "Helvetica", "Arial",
  sans-serif;
$serif:
  "Noto Serif JP", "Hiragino Mincho ProN W3", "ヒラギノ明朝 ProN W3",
  "Hiragino Mincho ProN", "游明朝", YuMincho, "HG明朝E", "ＭＳ Ｐ明朝",
  "ＭＳ 明朝", serif;

//フォントサイズ
$PCfontSize: 18px;
$SPfontSize: 16px;

//行間
$lhBase: 1.5;
$lhTxt: 2;

// レイアウト・パーツ
