@charset "UTF-8";
/* CSS Document */
/*===================================================
	共通CSS（SMP）
===================================================*/
/* --------------------------------------------------
	base
-------------------------------------------------- */
@media (max-width: 1024px) {
  body {
    min-width: 0;
    font-size: 14px;
  }

  a:hover {
    text-decoration: none;
  }

  /*改行*/
  .pcBreak {
    display: none;
  }

  .spBreak {
    display: block;
  }

  /*spのみ表示*/
  .pcHidden {
    display: block;
  }

  .spHidden {
    display: none;
  }

  #sideBtn {
    display: none;
  }

  .topicPath {
    display: none;
  }
}
/* --------------------------------------------------
	header
-------------------------------------------------- */
@media (max-width: 1024px) {
  .header .headLogo {
    position: fixed;
    top: 20px;
    left: 20px;
    width: 120px;
  }
  .header .headLogo a {
    display: block;
  }
  .header .hamburger {
    top: 10px;
    right: 20px;
  }
}
/* --------------------------------------------------
	nav
-------------------------------------------------- */
@media (max-width: 1024px) {
  .navBox {
    height: 100%;
    padding: 20px 20px 60px;
  }
  .navBox .navContainer {
    display: block;
    width: 100%;
  }
  .navBox .navContainer .leftPanel {
    width: 100%;
    margin-bottom: 40px;
  }
  .navBox .navContainer .leftPanel .navLogo {
    width: 150px;
    margin-bottom: 20px;
  }
  .navBox .navContainer .leftPanel .txt {
    font-size: 12px;
  }
  .navBox .navContainer .rightPanel {
    display: block;
    width: 100%;
  }
  .navBox .navContainer .rightPanel .navList01,
.navBox .navContainer .rightPanel .navList01 > .ul {
    display: block;
  }
  .navBox .navContainer .rightPanel .navList01 > .ul + .ul {
    margin-top: 20px;
  }
  .navBox .navContainer .rightPanel .navList .li + .li,
.navBox .navContainer .rightPanel .subList .li + .li {
    margin-top: 20px;
  }
  .navBox .navContainer .rightPanel a {
    display: block;
  }
  .navBox .navContainer .rightPanel .navList .em {
    font-size: 18px;
    line-height: 1.4;
  }
  .navBox .navContainer .rightPanel .navList .span {
    margin-top: 2px;
    color: #94bea0;
    font-size: 12px;
    line-height: 1.5;
  }
  .navBox .navContainer .rightPanel .subList {
    margin-top: 25px;
    padding: 0;
  }
  .navBox .navContainer .rightPanel .subList > .ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 12px 20px;
  }
  .navBox .navContainer .rightPanel .subList .li + .li {
    margin-top: 0;
  }
  .navBox .navContainer .rightPanel .subList a {
    font-size: 14px;
  }
  .navBox .navContainer .rightPanel .navList02 {
    margin-top: 25px;
    padding-top: 20px;
    border-top: 1px solid #555;
  }
}
/* --------------------------------------------------
	main
-------------------------------------------------- */
@media (max-width: 1024px) {
  .pageKvContainer {
    padding: 0 20px 20px;
  }
  .pageKvContainer .pageKvPanel:before {
    left: -20px;
    width: calc(100% - 20px);
    height: 70px;
  }
  .pageKvContainer .pageKvPanel .pageKv {
    height: 200px;
  }
  .pageKvContainer .pageKvPanel .kvTitleBox {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 30px;
    width: 100%;
    padding: 0 20px;
    font-size: 24px;
  }

  .pageSecTtlBox {
    margin: 0 0 40px;
  }
  .pageSecTtlBox .sub {
    font-size: 16px;
  }
  .pageSecTtlBox .pageSecTtl {
    font-size: 20px;
  }

  .mapBox {
    padding: 0 0 70%;
  }
}
/* --------------------------------------------------
	footer
-------------------------------------------------- */
@media (max-width: 1024px) {
  .footer {
    padding: 60px 20px 30px;
  }
  .footer .secWrap {
    position: relative;
  }
  .footer .logo {
    max-width: 150px;
    margin: 0 auto 30px;
  }
  .footer .txt {
    margin: 0 0 40px;
  }
  .footer .copy {
    font-size: 13px;
  }
  .footer .pagetop {
    position: absolute;
    top: 0;
    right: 10px;
    width: 35px;
  }
}
/*   モーダルウインドウ
-------------------------------------------------- */
@media (max-width: 1024px) {
  .modalBoxWrap {
    padding: 50px 10px;
  }

  .modalContent {
    max-width: 580px;
  }
  .modalContent .mdlBody {
    min-height: 0;
    padding: 50px 20px;
  }
  .modalContent .mdlBody .modalTtl {
    margin: 0 0 20px;
    padding: 0 0 10px;
    font-size: 20px;
  }
  .modalContent .mdlBody .modalTtl:after {
    width: 80px;
  }
  .modalContent .mdlBody .secBox .photo {
    width: 120px;
    height: 120px;
    margin: 0 auto 20px;
  }
}