@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;500;700&display=swap");
@import "./mixin";
@import "./mod";
/* CSS Document */
/*===================================================
	共通CSS（PC/SMP）
===================================================*/

/*////////////////////////////////////////////////////////////
	共通設定
///////////////////////////////////////////////////////////*/

/* --------------------------------------------------
	base
-------------------------------------------------- */
* {
  box-sizing: border-box;
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
html,
body {
  width: 100%;
}
body {
  position: relative;
  overflow-x: hidden;
  //font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
  font-family:
    "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック体", "YuGothic",
    "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", "Meiryo",
    "verdana", sans-serif;
  line-height: 1.5;
  color: $mainColor;
  font-size: $PCfontSize;
  background: $bgBaseColor;
  // transition: 2s;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  position: relative;
  line-height: $lhBase;
}

.txt {
  line-height: $lhTxt;
}

/*リンク */
a {
  color: $mainColor;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}

/* 画像幅 */
img {
  width: 100%;
  height: auto;
  vertical-align: middle;
}

/* clearfix */
.clearfix::after {
  content: ".";
  display: block;
  height: 0;
  font-size: 0;
  clear: both;
  visibility: hidden;
}

.spBreak {
  display: none;
}

@media (min-width: 1025px) {
  a {
    transition: 0.6s;
  }

  a:hover {
    opacity: 0.6;
  }
}

.fax {
  a {
    pointer-events: none;
  }
}

.mincho {
  font-family:
    "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN",
    "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
  letter-spacing: 0.1em;
}

@keyframes fadeInTopMainTitle {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* --------------------------------------------------
	header
-------------------------------------------------- */
@media (min-width: 1141px) {
  .header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 95px;
    padding: 20px 20px 20px;
    z-index: 999;
    background: #ffffff;
    .headWrap {
      position: relative;
      display: flex;
      justify-content: space-between;
    }
    .logoBox {
      width: 20%;
      max-width: 240px;
      .headTtl {
        position: absolute;
        top: -10px;
        left: 0;
        font-size: 13px;
      }
      .logo {
        position: relative;
        top: 10px;
        a {
          display: block;
        }
      }
    }
  }
}
@media (max-width: 1140px) {
  .header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 20px;
    z-index: 999;
    background: #ffffff;
    .logoBox {
      width: 180px;
      .headTtl {
        display: none;
      }
      .logo {
        a {
          display: block;
        }
      }
    }
    .hamburger {
      cursor: pointer;
      display: block;
      position: fixed;
      top: 8px;
      right: 10px;
      width: 50px;
      height: 40px;
      z-index: 10000;
      .span {
        background: #2f4453;
        position: absolute;
        left: 50%;
        width: 30px;
        height: 1px;
        transform: translateX(-50%);
        transition: 0.4s;

        &:nth-of-type(1) {
          top: 10px;
        }

        &:nth-of-type(2) {
          top: 50%;
          transform: translate(-50%, -50%);
        }

        &:nth-of-type(3) {
          bottom: 10px;
        }
      }
      &.is-open {
        .span {
          background: #2f4453;
        }
        .span:nth-of-type(1) {
          transform: translate(-50%, 9px) rotate(-45deg);
        }

        .span:nth-of-type(2) {
          opacity: 0;
        }

        .span:nth-of-type(3) {
          transform: translate(-50%, -9px) rotate(45deg);
        }
      }
    }
  }
}
/* --------------------------------------------------
	nav
-------------------------------------------------- */
@media (min-width: 1141px) {
  .navBox {
    display: flex;
    align-items: flex-end;
    gap: 0 30px;
    .navList {
      > .ul {
        display: flex;
        gap: 0 20px;
        > .li {
          position: relative;
          > a {
            display: inline-block;
            font-size: 15px;
          }
          .pulldown {
            a {
              display: inline-block;
              font-size: 15px;
            }
          }
          &:hover .subList {
            display: block;
          }
        }
      }
      .subList {
        // display: none;
        position: absolute;
        top: 100%;
        left: -40px;
        width: 180px;
        z-index: 10;
        .ul {
          .li {
            + .li {
              margin: 5px 0 0;
            }
            a {
              display: block;
              padding: 5px;
              font-size: 13px;
              text-align: center;
              border: 1px solid #8f8c8c;
              background: #ffffff;
              &:hover {
                opacity: 1;
                color: #ffffff;
                background: #5b5656;
              }
            }
          }
        }
      }
    }
    .navItem {
      display: flex;
      align-items: flex-end;
      gap: 0 20px;
      .telBox {
        a {
          display: inline-block;
          padding: 0 0 0 20px;
          font-size: 24px;
          background: url(https://sit-9627786.sibloo.com/system_panel/uploads/images/header_tel.png)
            left center no-repeat;
          background-size: 14px auto;
        }
        > p {
          font-size: 13px;
        }
      }
      .mailBox {
        width: 160px;
        a {
          display: block;
          padding: 5px 10px;
          font-size: 14px;
          color: #ffffff;
          text-align: center;
          background: #2f4453;
          p {
            display: inline-block;
            padding: 0 20px;
            background: url(https://sit-9627786.sibloo.com/system_panel/uploads/images/header_mail.png)
              left center no-repeat;
            background-size: 12px auto;
          }
        }
      }
    }
  }
}
@media (max-width: 1140px) {
  .navBox {
    position: fixed;
    top: -100%;
    left: 0;
    overflow: auto;
    width: 100%;
    height: 100%;
    padding: 60px 0 60px;
    z-index: 999;
    background: #ffffff;
    opacity: 0;
    transition: 0.6s;
    &.active {
      top: 0;
      opacity: 1;
      z-index: 999;
    }
    .navList {
      > .ul {
        border-top: 1px solid #2f4453;
        > .li {
          text-align: center;
          border-bottom: 1px solid #2f4453;
          > a,
          .pulldown {
            display: block;
            padding: 20px 10px;
            font-size: 14px;
            line-height: 1.2;
          }
        }
      }
      .subList {
        display: block;
        > .ul {
          border-top: 1px solid #2f4453;
          > .li {
            text-align: center;
            + .li {
              border-top: 1px solid #2f4453;
            }
            > a {
              display: block;
              padding: 20px 10px;
              font-size: 14px;
              line-height: 1.2;
            }
          }
        }
      }
    }
    .navItem {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: 20px auto 0;
      .telBox {
        margin: 0 0 20px;
        a {
          display: inline-block;
          padding: 0 0 0 20px;
          font-size: 24px;
          background: url(https://sit-9627786.sibloo.com/system_panel/uploads/images/header_tel.png)
            left center no-repeat;
          background-size: 14px auto;
        }
        > p {
          font-size: 13px;
        }
      }
      .mailBox {
        width: 160px;
        a {
          display: block;
          padding: 5px 10px;
          font-size: 14px;
          color: #ffffff;
          text-align: center;
          background: #2f4453;
          p {
            display: inline-block;
            padding: 0 20px;
            background: url(https://sit-9627786.sibloo.com/system_panel/uploads/images/header_mail.png)
              left center no-repeat;
            background-size: 12px auto;
          }
        }
      }
    }
  }
}

/* --------------------------------------------------
	main
-------------------------------------------------- */
.main {
  overflow: hidden;
}
@media (min-width: 1141px) {
  .main {
    margin: 95px 0 0;
  }
}
@media (max-width: 1140px) {
  .main {
    margin: 55px 0 0;
  }
}
.pageTitlePanel {
  padding: 100px 20px 60px;
  text-align: center;
  .pageTitle {
    .img {
      display: inline-block;
    }
    .about {
      width: 330px;
    }
    .reform {
      width: 330px;
    }
    .service {
      width: 330px;
    }
    .contact {
      width: 280px;
    }
    .works {
      width: 220px;
    }
    .blog {
      width: 240px;
    }
    .propertySearch {
      width: 280px;
    }
  }
  h1 {
    font-family:
      "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN",
      "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
    letter-spacing: 0.1em;
  }
}
.secWrap {
  max-width: 1640px;
  margin: 0 auto;
  padding: 0 20px;
}
.secWrap01 {
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 20px;
}
.secWrap02 {
  max-width: 1040px;
  margin: 0 auto;
  padding: 0 20px;
}
.mapBox {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 0;
  padding: 0 0 45%;

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
  }
}
.btnMore {
  max-width: 230px;
  a {
    position: relative;
    display: block;
    padding: 5px;
    font-size: 14px;
    text-align: center;
    border: 1px solid #8f8c8c;
    background: #ffffff;
    &:after {
      content: "";
      position: absolute;
      top: 0;
      right: -6px;
      bottom: 0;
      width: 11px;
      height: 6px;
      margin: auto 0;
      background: url(https://sit-9627786.sibloo.com/system_panel/uploads/images/btn_more_arrow.png)
        no-repeat;
      background-size: 100% auto;
      transition: 0.6s;
    }
    @media (min-width: 1025px) {
      &:hover {
        opacity: 1;
        color: #ffffff;
        background: #5b5656;
        &:after {
          right: -10px;
        }
      }
    }
  }
  &.white {
    a {
      color: #ffffff;
      border: 1px solid #ffffff;
      background: none;
      &:after {
        background: url(https://sit-9627786.sibloo.com/system_panel/uploads/images/btn_more_arrow_white.png)
          no-repeat;
        background-size: 100% auto;
      }
      @media (min-width: 1025px) {
        &:hover {
          opacity: 1;
          color: #ffffff;
          background: #5b5656;
        }
      }
    }
  }
}
/* --------------------------------------------------
	footer
-------------------------------------------------- */
.footer {
  .footContact {
    padding: 120px 0;
    background: #f5f4f0;
    .secBox {
      .ttlBox {
        .secTtl {
          position: relative;
          margin: 0 0 40px;
          font-size: 30px;
          letter-spacing: 0.1em;
          &::before {
            content: "";
            position: absolute;
            top: -30px;
            left: -30px;
            width: 240px;
            height: 84px;
            z-index: 0;
            background: url(https://sit-9627786.sibloo.com/system_panel/uploads/images/contact_sec_ttl_bg.png)
              no-repeat;
            background-size: 100% auto;
          }
        }
      }
      .itemPanel {
        .itemBox {
          padding: 20px;
          + .itemBox {
            margin: 20px 0 0;
          }
          .dl {
            text-align: center;
            .dd {
              .tel {
                a {
                  display: inline-block;
                  padding: 0 0 0 20px;
                  font-size: 24px;
                  background: url(https://sit-9627786.sibloo.com/system_panel/uploads/images/footer_tel.png)
                    left center no-repeat;
                  background-size: 12px auto;
                }
              }
              .mail {
                a {
                  display: block;
                  background: url(https://sit-9627786.sibloo.com/system_panel/uploads/images/btn_more_arrow.png)
                    right center no-repeat;
                  p {
                    display: inline-block;
                    padding: 0 0 0 20px;
                    font-size: 18px;
                    background: url(https://sit-9627786.sibloo.com/system_panel/uploads/images/footer_mail.png)
                      left center no-repeat;
                    background-size: 14px auto;
                  }
                }
              }
            }
          }
        }
        .telBox {
          background: #c8d5c3;
        }
        .mailBox {
          background: #d4e4ea;
        }
      }
    }
    @media (min-width: 1025px) {
      .secBox {
        display: flex;
        justify-content: space-between;
        .ttlBox {
          width: 40%;
        }
        .itemPanel {
          width: 50%;
          .itemBox {
            .dl {
              display: flex;
              align-items: center;
              .dt {
                width: 45%;
              }
              .dd {
                width: 45%;
              }
            }
          }
        }
      }
    }
  }
  .footPanel {
    padding: 80px 0 20px;
    color: #e7edf1;
    background: #2f4453;
    .footBox {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      .leftBox {
        .ttl {
          margin: 0 0 40px;
          font-size: 30px;
          letter-spacing: 0.1em;
        }
        .txt {
          a {
            display: inline-block;
            color: #e7edf1;
          }
        }
      }
      .rightBox {
        .bnrBox {
          display: flex;
          align-items: center;
          gap: 0 20px;
          .bnr {
            a {
              display: block;
            }
          }
          .bnr01 {
            width: 120px;
          }
          .bnr02 {
            width: 160px;
          }
        }
      }
    }
    .copy {
      margin: 80px 0 0;
      font-size: 13px;
      text-align: center;
    }
  }
}
