@charset "UTF-8";
/* CSS Document */
/*===================================================
	画面用CSS（PC/SMP）
===================================================*/
/*////////////////////////////////////////////////////////////
	TOP
///////////////////////////////////////////////////////////*/
#top .topMvContainer .mvPanel {
  height: calc(100svh - 80px);
}
#top .topMvContainer .mvPanel .mvBox {
  height: calc(100vh - 80px);
}
#top .topMvContainer .mvPanel .mvBox img {
  height: calc(100vh - 80px);
}
#top .topMvContainer .mvPanel--sp {
  display: block;
}
#top .topMvContainer .mvPanel--pc {
  display: none;
}
#top .topMvContainer .titlePanel01 {
  position: absolute;
  top: 55%;
  left: 50%;
  padding: 35px 0;
  transform: translate(-50%, -50%);
}
#top .topMvContainer .titlePanel01 .titleBox .sub {
  font-size: 12px;
}
#top .topMvContainer .titlePanel01 .titleBox .title {
  letter-spacing: 0.05em;
}
#top .topMvContainer .titlePanel01 .titleBox .title span {
  font-size: 28px;
}
#top .topMvContainer .titlePanel01 .titleBox .title em {
  font-size: 18px;
}
#top .topMvContainer .titlePanel02 {
  position: absolute;
  bottom: -13vw;
  left: 0;
  width: 100%;
}
#top .topMvContainer .sideFollow {
  display: none;
}
#top #section__about {
  padding: 60px 25px;
}
#top #section__about .secPanel {
  width: 100%;
}
#top #section__about .secPanel .txtBox {
  margin: 0 0 30px;
}
#top #section__about .secPanel .txtBox .secTtl {
  margin: 0 0 30px;
  font-size: 28px;
}
#top #section__about .secPanel .txtBox .txt {
  font-size: 14px;
}
#top #section__about .secPanel .txtBox .txt p + p {
  margin: 20px 0 0;
}
#top #section__about .secPanel .photo {
  position: relative;
  height: 0;
  padding: 0 0 60%;
}
#top #section__about .secPanel .photo::before {
  content: "";
  position: absolute;
  top: 10px;
  left: 10px;
  background: url("../image/top/about_img_bg_sp.png") no-repeat;
  background-size: cover;
}
#top #section__works {
  padding: 60px 25px 25px;
}
#top #section__works .secContainer {
  width: 100%;
}
#top #section__works .secTtl {
  margin: 0 0 20px;
}
#top #section__works .secTtl .sub {
  font-size: 13px;
}
#top #section__works .secTtl .ttl {
  font-size: 28px;
}
#top #section__works .secTtl .ttl span {
  font-size: 34px;
}
#top #section__works .topBox {
  margin: 0 0 25px;
}
#top #section__works .topBox h3 {
  margin: 0 0 10px;
  font-size: 16px;
}
#top #section__works .topBox .txt {
  font-size: 14px;
}
#top #section__works .listBox {
  padding: 0;
}
#top #section__works .listBox ul li {
  padding: 25px;
}
#top #section__works .listBox ul li + li {
  margin: 25px 0 0;
}
#top #section__works .listBox ul .photo {
  margin: 0 0 15px;
}
#top #section__works .listBox ul dl dt {
  margin: 0 0 10px;
  padding: 0 0 10px;
  font-size: 16px;
}
#top #section__works .listBox ul dl dd {
  font-size: 14px;
  line-height: 1.7;
}
#top #section__environment {
  padding: 60px 25px;
}
#top #section__environment .secContainer {
  width: 100%;
}
#top #section__environment .secTtl {
  margin: 0 0 20px;
}
#top #section__environment .secTtl .sub {
  font-size: 13px;
}
#top #section__environment .secTtl .ttl {
  font-size: 28px;
}
#top #section__environment .topBox {
  margin: 0 0 25px;
}
#top #section__environment .topBox h3 {
  margin: 0 0 10px;
  font-size: 16px;
}
#top #section__environment .topBox .txt {
  font-size: 14px;
}
#top #section__environment .secPanel {
  padding: 30px 25px;
}
#top #section__environment .secPanel + .secPanel {
  margin: 25px 0 0;
}
#top #section__environment .secPanel .ttlBox {
  text-align: center;
}
#top #section__environment .secPanel .ttlBox .num {
  margin: 0 0 5px;
  font-size: 32px;
}
#top #section__environment .secPanel .ttlBox .ttl {
  font-size: 21px;
}
#top #section__environment .secPanel .imgBox {
  margin: 0 0 20px;
}
#top #section__environment .secPanel .imgBox .img {
  margin: 0 auto;
}
#top #section__environment .secPanel .imgBox .img01 {
  width: 98px;
}
#top #section__environment .secPanel .imgBox .img02 {
  width: 180px;
}
#top #section__environment .secPanel .imgBox .img03 {
  width: 200px;
}
#top #section__environment .secPanel .imgBox .img04 {
  width: 100px;
}
#top #section__environment .secPanel .imgBox .img05 {
  width: 150px;
}
#top #section__environment .secPanel .imgBox .img06 {
  width: 170px;
}
#top #section__environment .secPanel dl dt {
  margin: 0 0 10px;
  font-size: 15px;
  text-align: center;
}
#top #section__environment .secPanel dl dd {
  font-size: 14px;
}
#top #section__voices {
  padding: 60px 25px;
}
#top #section__voices .secContainer {
  width: 100%;
}
#top #section__voices .secContainer .secTtl {
  margin: 0 0 30px;
}
#top #section__voices .secContainer .secTtl .sub {
  font-size: 13px;
}
#top #section__voices .secContainer .secTtl .ttl {
  font-size: 28px;
}
#top #section__voices .secPanelList .secPanel {
  padding: 40px 0;
}
#top #section__voices .secPanelList .secPanel .secBox .photo {
  padding: 0 0 66%;
}
#top #section__voices .secPanelList .secPanel .secBox .txtBox {
  padding: 30px 0 0;
}
#top #section__voices .secPanelList .secPanel .secBox .txtBox .nameBox .name02 {
  font-size: 14px;
}
#top #section__voices .secPanelList .secPanel .secBox .txtBox .txt {
  font-size: 14px;
}
#top #section__voices .secPanelList .secPanel .secBox .txtBox .more {
  width: 178px;
  margin: 30px auto 0;
}
#top #section__message .secContainer {
  padding: 60px 25px;
}
#top #section__message .secContainer .secPanel {
  max-width: 1300px;
  margin: 0 auto;
}
#top #section__message .secContainer .secPanel .txtBox {
  padding: 0 0 40px;
}
#top #section__message .secContainer .secPanel .txtBox .secTtl {
  margin: 0 0 40px;
}
#top #section__message .secContainer .secPanel .txtBox .secTtl .sub {
  margin: 0 0 10px;
  font-size: 14px;
}
#top #section__message .secContainer .secPanel .txtBox .secTtl .ttl {
  font-size: 30px;
}
#top #section__message .secContainer .secPanel .txtBox .txt {
  font-size: 14px;
}
#top #section__message .secContainer .secPanel .txtBox .txt p + p {
  margin: 25px 0 0;
}
#top #section__message .secContainer .secPanel .txtBox .txt + .txt {
  margin: 30px 0 0;
}
#top #section__message .secContainer .secPanel .photoBox {
  display: block;
}
#top #section__message .secContainer .secPanel .photoBox .photo01 {
  right: 0;
  width: 100%;
  padding: 0 0 30px 40px;
  margin: 0 0 30px;
}
#top #section__message .secContainer .secPanel .photoBox .photo01::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 180px;
  height: 200px;
}
#top #section__message .secContainer .secPanel .photoBox .photo01 .photo {
  position: relative;
}
#top #section__message .secContainer .secPanel .photoBox .photo02 {
  width: 70%;
  max-width: 400px;
  margin: 0 auto;
}
#top #section__message .massagePhoto {
  height: 110px;
}
#top #section__faq {
  padding: 60px 25px;
}
#top #section__faq .secContainer {
  width: 100%;
}
#top #section__faq .secTtl {
  margin: 0 0 30px;
}
#top #section__faq .secTtl .sub {
  font-size: 13px;
}
#top #section__faq .secTtl .ttl {
  font-size: 28px;
}
#top #section__faq .secBoxList {
  width: 100%;
}
#top #section__faq .secBox + .secBox {
  margin: 15px 0 0;
}
#top #section__faq .secBox dl {
  font-size: 14px;
}
#top #section__faq .secBox dl dt {
  gap: 0 5px;
  padding: 10px 40px 10px 15px;
  background: url("../image/common/accord_plus.png") right 20px center no-repeat #e6e6e6;
  background-size: 12px auto;
}
#top #section__faq .secBox dl dt span {
  font-size: 18px;
  line-height: 1;
}
#top #section__faq .secBox dl dt.active {
  background: url("../image/common/accord_minus.png") right 20px center no-repeat #e6e6e6;
  background-size: 12px auto;
}
#top #section__faq .secBox dl dd {
  gap: 0 5px;
  padding: 10px 15px;
}
#top #section__faq .secBox dl dd span {
  font-size: 18px;
  line-height: 1.3;
}
#top #section__guideline {
  padding: 60px 25px;
}
#top #section__guideline .secContainer {
  width: 100%;
}
#top #section__guideline .secTtl {
  margin: 0 0 30px;
}
#top #section__guideline .secTtl .sub {
  font-size: 13px;
}
#top #section__guideline .secTtl .ttl {
  font-size: 28px;
}
#top #section__guideline .infoBox {
  font-size: 12px;
}
#top #section__guideline .infoBox dl {
  padding: 13px 0;
  font-size: 12px;
}
#top #section__guideline .infoBox dl dt {
  width: 70px;
  margin: 0;
}
#top #section__guideline .infoBox dl dt span {
  display: none;
}
#top #section__guideline .infoBox dl dd {
  width: calc(100% - 70px);
}
#top #section__flow {
  padding: 60px 25px;
}
#top #section__flow .secContainer {
  width: 100%;
}
#top #section__flow .secContainer .secTtl {
  margin: 0 0 30px;
}
#top #section__flow .secContainer .secTtl .sub {
  font-size: 13px;
}
#top #section__flow .secContainer .secTtl .ttl {
  font-size: 28px;
}
#top #section__flow .secContainer .flowList ol li {
  padding: 15px 25px;
  font-size: 13px;
}
#top #section__flow .secContainer .flowList ol li + li {
  margin: 20px 0 0;
}
#top #section__profile {
  padding: 60px 0;
}
#top #section__profile .secContainer {
  width: 100%;
}
#top #section__profile .secContainer .secTtl {
  margin: 0 0 30px;
  padding: 0 25px;
  text-align: left;
}
#top #section__profile .secContainer .secTtl .sub {
  font-size: 13px;
}
#top #section__profile .secContainer .secTtl .ttl {
  font-size: 28px;
}
#top #section__profile .secContainer .secBox {
  margin: 0 0 30px;
}
#top #section__profile .secContainer .secBox .photo {
  padding: 0 0 60%;
}
#top #section__profile .secContainer .secBox .txtBox {
  padding: 40px 25px 0;
}
#top #section__profile .secContainer .secBox .txtBox dl dt {
  margin: 0 0 20px;
  font-size: 18px;
}
#top #section__profile .secContainer .secBox .txtBox dl dd .txt {
  font-size: 13px;
}
#top #section__profile .secContainer .secBox .txtBox dl dd .txt + .txt {
  margin: 20px 0 0;
}
#top #section__profile .secContainer .secBox .txtBox dl dd .salonLink {
  margin: 15px 0 0;
}
#top #section__profile .secContainer .secBox .txtBox dl dd .salonLink a {
  font-size: 15px;
}
#top #section__profile .secContainer .secBox .txtBox dl dd .salonLink a .icon {
  width: 24px;
}
#top #section__profile .secContainer .mapPanel {
  padding: 0 25px;
}
#top #section__features {
  padding: 60px 0 60px 25px;
}
#top #section__features .secContainer {
  padding: 0;
}
#top #section__features .secContainer .secTtl {
  margin: 0 0 30px;
}
#top #section__features .secContainer .secTtl .sub {
  font-size: 52px;
}
#top #section__features .secContainer .topBox {
  margin: 0 0 30px;
  padding: 0 25px 0 0;
}
#top #section__features .secContainer .topBox .ttl {
  margin: 0 0 15px;
  font-size: 20px;
}
#top #section__features .secContainer .topBox .txt {
  font-size: 12px;
}
#top #section__features .secContainer .flowSliderList {
  margin: 0 0 0 -10px;
}
#top #section__features .secContainer .flowSliderList .slick-list {
  padding-right: 25px !important;
}
#top #section__features .secContainer .flowSliderList .flowSliderBox {
  margin: 0 10px;
  padding: 20px;
}
#top #section__features .secContainer .flowSliderList .flowSliderBox .secBox .txtBox {
  margin: 10px 0 0;
}
#top #section__features .secContainer .flowSliderList .flowSliderBox .secBox .txtBox dl dt {
  margin: 0 0 10px;
  padding: 0 0 10px;
  font-size: 14px;
}
#top #section__features .secContainer .flowSliderList .flowSliderBox .secBox .txtBox dl dd {
  font-size: 12px;
}
#top #section__features .secContainer .progressbar {
  width: calc(100% - 25px);
  margin: 40px 0 0;
}
#top #section__culture {
  padding: 60px 25px;
}
#top #section__culture .secContainer {
  width: 100%;
}
#top #section__culture .secContainer .secTtl {
  margin: 0 0 40px;
}
#top #section__culture .secContainer .secTtl .sub {
  font-size: 52px;
}
#top #section__culture .secContainer .secTtl .slick-dots {
  bottom: -40px;
}
#top #section__culture .cultureSlideContainer .cultureSlidePanel {
  padding: 20px 0;
  border-top: 1px solid #ffffff;
  border-bottom: 1px solid #ffffff;
}
#top #section__culture .cultureSlideContainer .cultureSlideBox .txtBox {
  padding: 20px 0 0;
}
#top #section__culture .cultureSlideContainer .cultureSlideBox .txtBox dl {
  min-height: 100px;
}
#top #section__culture .cultureSlideContainer .cultureSlideBox .txtBox dl dt {
  font-size: 14px;
}
#top #section__culture .cultureSlideContainer .cultureSlideBox .txtBox dl dd {
  font-size: 12px;
}
#top #section__culture .cultureSlideContainer .cultureSlideBox .txtBox .buttonBox {
  display: flex;
  justify-content: center;
  gap: 0 10px;
  margin: 40px 0 0;
}
#top #section__culture .cultureSlideContainer .cultureSlideBox .txtBox .buttonBox > * {
  width: 40px;
}
#top #section__join {
  padding: 40px 25px 70px;
}
#top #section__join .secContainer .secTtl {
  margin: 0 0 5px;
}
#top #section__join .secContainer .secTtl .sub {
  font-size: 40px;
}
#top #section__join .secContainer .btnJoin {
  width: 180px;
  margin: 20px auto 0;
}
#top #section__join .secContainer .btnJoin a .box .ttl {
  font-size: 12px;
}
#top #section__join .secContainer .btnJoin a .box .arrow {
  font-size: 12px;
}
#top .sectionEntry {
  padding: 0;
}
#top .sectionEntry .entryPanel {
  width: 100%;
  margin: 0 auto;
  padding: 0 25px;
  height: 400px;
  background: url("../image/top/entry_panel_bg_sp.png") center no-repeat;
  background-size: cover;
}
#top .sectionEntry .entryPanel h2 {
  margin: 0 0 10px;
  font-size: 40px;
}
#top .sectionEntry .entryPanel .txt {
  font-size: 12px;
}
#top .sectionEntry .entryPanel .snsList {
  display: flex;
  flex-direction: column;
  gap: 15px 0;
}
#top .bottomEntry {
  padding: 60px 25px;
  background: url("../image/top/entry_panel_bg_sp.png") center no-repeat;
  background-size: cover;
}
#top .bottomEntry .entryPanel {
  width: 100%;
  margin: 0 auto;
  padding: 0 25px;
}
#top .bottomEntry .entryPanel h2 {
  margin: 0 0 10px;
  font-size: 40px;
}
#top .bottomEntry .entryPanel .txt {
  font-size: 12px;
}
#top .bottomEntry .entryPanel .snsList {
  display: flex;
  flex-direction: column;
  gap: 15px 0;
}
#top .fixedPhotoContainer .fixedPhoto {
  height: 110px;
}

/* --------------------------------------------------
	modal
-------------------------------------------------- */
.itemModal {
  max-height: calc(100vh - 140px);
  padding: 50px 25px;
}

.modalBox {
  max-height: 100%;
  padding: 25px;
}

.modalBoxInner .leftCont .staffSlidePanel .slick-slider {
  padding: 0 0 20px;
}
.modalBoxInner .leftCont .staffSlidePanel .slick-dots {
  bottom: -20px;
}
.modalBoxInner .leftCont .nameBox {
  display: none;
}
.modalBoxInner .rightCnt {
  padding: 30px 0 0;
}
.modalBoxInner .rightCnt .commentBox dl + dl {
  padding: 30px 0 0;
}
.modalBoxInner .rightCnt .commentBox dl dt {
  font-size: 14px;
}
.modalBoxInner .rightCnt .commentBox dl dd {
  font-size: 14px;
}

.modalClose {
  width: 40px;
  margin: 15px auto 0;
}

.modalCloseArea {
  display: none;
}