@charset "UTF-8";
/* CSS Document */
/*===================================================
	画面用CSS（PC/SMP）
===================================================*/
/*////////////////////////////////////////////////////////////
	TOP
///////////////////////////////////////////////////////////*/
#top .topMvWrapper {
  overflow: hidden;
}
#top .topMvContainer {
  height: 100vh;
  background: url("../image/top/top_mv_sp.png") center no-repeat;
  background-size: cover;
}
#top .topMvContainer .mvTxtPanel {
  width: 100%;
  max-width: 300px;
}
#top .topMvContainer .mvTxtPanel .franchise {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 30vh;
  width: 100%;
  max-width: 280px;
  margin: 0 auto;
  padding: 13px 10px;
  font-size: 16px;
  background: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(30px);
  -webkit-backdrop-filter: blur(30px);
}
#top .topMvContainer .mvTxtPanel .mvTitle {
  position: relative;
  top: -16vw;
  font-size: 34px;
}
#top .topMvContainer .mvTxtPanel .circleList {
  display: none;
}
#top .topMvContainer .message {
  display: none;
}
#top #section__vision {
  padding: 60px 25px 130px;
  background: url("../image/top/vision_bg_sp.png") no-repeat;
  background-size: cover;
}
#top #section__vision .secContainer {
  width: 100%;
}
#top #section__vision .circleList {
  display: block;
  max-width: 295px;
  margin: 0 auto 40px;
}
#top #section__vision .circleList ul {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}
#top #section__vision .circleList ul li {
  width: calc(50% - 15px);
  aspect-ratio: 1/1;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#top #section__vision .circleList ul li p {
  font-family: "Zen Maru Gothic";
  font-weight: 500;
  font-size: 12px;
  color: #ffffff;
  text-align: center;
  line-height: 1.7;
}
#top #section__vision .circleList ul li:nth-child(1) {
  background: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(30px);
  -webkit-backdrop-filter: blur(30px);
}
#top #section__vision .circleList ul li:nth-child(2) {
  background: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(30px);
  -webkit-backdrop-filter: blur(30px);
}
#top #section__vision .circleList ul li:nth-child(3) {
  background: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(30px);
  -webkit-backdrop-filter: blur(30px);
}
#top #section__vision .circleList ul li:nth-child(4) {
  background: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(30px);
  -webkit-backdrop-filter: blur(30px);
}
#top #section__vision .secTtl {
  margin: 0 0 40px;
}
#top #section__vision .secTtl p {
  margin: 0 0 10px;
  font-size: 14px;
}
#top #section__vision .secTtl h2 {
  font-size: 20px;
  line-height: 1.7;
  white-space: nowrap;
}
#top #section__vision .txt {
  font-size: 12px;
}
#top #section__vision .txt p + p {
  margin: 20px 0 0;
}
#top #section__attraction .topBalloon {
  top: -80px;
  width: calc(100% - 50px);
  padding: 30px 30px;
  border-radius: 10px;
}
#top #section__attraction .topBalloon:after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: -14px;
  width: 0;
  height: 0;
  margin: 0 auto;
  border-left: 14px solid transparent;
  border-right: 14px solid transparent;
  border-top: 20px solid rgba(255, 255, 255, 0.8);
}
#top #section__attraction .topBalloon .secTtl p {
  margin: 0 0 10px;
  font-size: 14px;
}
#top #section__attraction .topBalloon .secTtl h2 {
  font-size: 20px;
}
#top #section__attraction .secBoxList {
  width: 100%;
}
#top #section__attraction .secBoxList .secBox + .secBox {
  margin: 40px 0 0;
}
#top #section__attraction .secBoxList .secBox .txtBox {
  position: relative;
  padding: 30px 0 0;
}
#top #section__attraction .secBoxList .secBox .txtBox .ttl01 {
  position: absolute;
  top: -70px;
  left: 0;
  display: block;
  width: 145px;
  padding: 8px 10px;
  font-size: 11px;
  text-align: center;
  border-radius: 0 25px 25px 0;
  background: rgba(255, 255, 255, 0.8);
}
#top #section__attraction .secBoxList .secBox .txtBox .ttl02 {
  margin: 0 0 20px;
  font-size: 18px;
}
#top #section__attraction .secBoxList .secBox .txtBox .txt {
  font-size: 12px;
}
#top #section__attraction .secContainer01 {
  padding: 140px 25px 40px;
}
#top #section__attraction .secContainer02 {
  padding: 40px 25px 60px;
}
#top #section__store {
  padding: 80px 25px 140px;
}
#top #section__store .message {
  position: absolute;
  top: -35px;
  left: 50%;
  right: auto;
  transform: translateX(-50%);
  width: 130vw;
  max-width: 420px;
}
#top #section__store .secContainer .ttlPanel {
  margin: 0 0 20px;
}
#top #section__store .secContainer .ttlPanel .secTtl {
  margin: 0 0 20px;
}
#top #section__store .secContainer .ttlPanel .secTtl p {
  margin: 0 0 10px;
  padding: 0;
  font-size: 14px;
}
#top #section__store .secContainer .ttlPanel .secTtl h2 {
  display: inline;
  padding: 0 10px;
  font-size: 22px;
  line-height: 1.7;
}
#top #section__store .secContainer .ttlPanel .txt {
  font-size: 12px;
}
#top #section__store .secContainer .mapPanel {
  max-width: 330px;
  margin: 0 auto;
}
#top #section__store .secContainer .areaPanel {
  margin: 40px 0 0;
}
#top #section__store .secContainer .areaPanel dl {
  padding: 0 0 0 15px;
}
#top #section__store .secContainer .areaPanel dl + dl {
  margin: 25px 0 0;
}
#top #section__store .secContainer .areaPanel dl dt {
  margin: 0 0 15px;
  font-size: 15px;
}
#top #section__store .secContainer .areaPanel dl dd {
  font-size: 12px;
}
#top #section__recommend {
  padding: 130px 0 60px;
}
#top #section__recommend .topBalloon {
  top: -80px;
  width: calc(100% - 50px);
  padding: 30px 30px;
  border-radius: 10px;
}
#top #section__recommend .topBalloon:after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: -14px;
  width: 0;
  height: 0;
  margin: 0 auto;
  border-left: 14px solid transparent;
  border-right: 14px solid transparent;
  border-top: 20px solid rgba(255, 255, 255, 0.8);
}
#top #section__recommend .topBalloon .secTtl p {
  margin: 0 0 10px;
  font-size: 14px;
}
#top #section__recommend .topBalloon .secTtl h2 {
  font-size: 20px;
}
#top #section__recommend .secContainer .secPanel {
  padding: 0 25px;
}
#top #section__recommend .secContainer .secPanel + .secPanel {
  margin: 40px 0 0;
}
#top #section__recommend .secContainer .secPanel .ttl {
  display: none;
}
#top #section__recommend .secContainer .secPanel dl {
  max-width: 545px;
  margin: 25px auto 0;
}
#top #section__recommend .secContainer .secPanel dl dt {
  margin: 0 0 20px;
  padding: 5px;
  font-size: 15px;
}
#top #section__recommend .secContainer .secPanel dl dd {
  font-size: 12px;
}
#top #section__investment {
  padding: 100px 0 0;
  background: url("../image/top/investment_bg_sp.png") center no-repeat;
  background-size: cover;
}
#top #section__investment .secContainer {
  position: relative;
  padding: 130px 25px 55px;
}
#top #section__investment .topBalloon {
  top: -40px;
  width: calc(100% - 50px);
  padding: 30px 30px;
  border-radius: 10px;
}
#top #section__investment .topBalloon:after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: -14px;
  width: 0;
  height: 0;
  margin: 0 auto;
  border-left: 14px solid transparent;
  border-right: 14px solid transparent;
  border-top: 20px solid rgba(255, 255, 255, 0.8);
}
#top #section__investment .topBalloon .secTtl p {
  margin: 0 0 10px;
  font-size: 14px;
}
#top #section__investment .topBalloon .secTtl h2 {
  font-size: 20px;
}
#top #section__investment .secPanel {
  width: 100%;
  padding: 20px;
  border-radius: 15px;
}
#top #section__investment .secPanel .txtBox {
  padding: 20px 0 0;
}
#top #section__investment .secPanel .txtBox .ttl {
  margin: 0 0 20px;
  padding: 10px;
  font-size: 15px;
  border-radius: 20px;
}
#top #section__investment .secPanel .txtBox .priceBox dl {
  display: flex;
  justify-content: space-between;
}
#top #section__investment .secPanel .txtBox .priceBox dl + dl {
  margin: 15px 0 0;
}
#top #section__investment .secPanel .txtBox .priceBox dl dt {
  font-size: 13px;
}
#top #section__investment .secPanel .txtBox .priceBox dl dd {
  font-size: 14px;
}
#top #section__investment .secPanel .txtBox .priceBox.total {
  margin: 20px 0 0;
  padding: 20px 0 0;
}
#top #section__investment .person {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  max-width: 150px;
  width: 150px;
  margin: 0 auto;
}
#top #section__investment .bottomTxtPc {
  display: none;
}
#top #section__investment .bottomTxtSp {
  position: relative;
  display: block;
  margin: 55px 0 0;
}
#top #section__investment .bottomTxtSp ul li + li {
  margin: 7px 0 0;
}
#top #section__investment .bottomTxtSp ul li span {
  display: inline-block;
  padding: 2px 8px;
  font-size: 10px;
  background: #ffffff;
}
#top #section__flow {
  padding: 60px 25px;
  background: url("../image/top/flow_bg_sp.png") center no-repeat;
  background-size: cover;
}
#top #section__flow .secTtl {
  margin: 0 0 30px;
  text-align: center;
}
#top #section__flow .secTtl p {
  margin: 0 0 10px;
  font-size: 14px;
}
#top #section__flow .secTtl h2 {
  font-size: 21px;
}
#top #section__flow .topTxt {
  margin: 0 0 50px;
  font-size: 12px;
}
#top #section__flow .topPager {
  margin: 0 0 20px;
}
#top #section__flow .topPager ul {
  display: flex;
  justify-content: center;
  align-items: center;
}
#top #section__flow .topPager ul .prev,
#top #section__flow .topPager ul .next {
  width: 18px;
}
#top #section__flow .topPager ul .prev {
  margin: 0 10px 0 0;
}
#top #section__flow .topPager ul .next {
  margin: 0 0 0 10px;
}
#top #section__flow .topPager ul .count {
  min-width: 0;
  font-size: 12px;
}
#top #section__flow .topPager ul .slash {
  position: relative;
  width: 1px;
  margin: 0 10px;
}
#top #section__flow .topPager ul .slash::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 1px;
  height: 12px;
  margin: auto;
  background: #ffffff;
}
#top #section__flow .flowSliderList {
  width: 100vw;
  margin: 0 -25px;
}
#top #section__flow .flowSliderList .flowSliderBox {
  margin: 0 25px;
}
#top #section__flow .flowSliderList .flowSliderBox .secBox {
  padding: 30px 20px 40px;
}
#top #section__flow .flowSliderList .flowSliderBox .secBox .num {
  position: absolute;
  top: 25px;
  right: 30px;
  font-size: 25px;
}
#top #section__flow .flowSliderList .flowSliderBox .secBox .photo {
  max-width: 160px;
  margin: 0 auto 30px;
}
#top #section__flow .flowSliderList .flowSliderBox .secBox .txtBox dl dt {
  margin: 0 0 15px;
  font-size: 15px;
  text-align: center;
}
#top #section__flow .flowSliderList .flowSliderBox .secBox .txtBox dl dd {
  font-size: 12px;
}
#top #section__flow aside {
  display: none;
}
#top #section__message {
  padding: 70px 25px 90px;
}
#top #section__message .secContainer {
  width: 100%;
  max-width: 1440px;
  margin: 90px auto 0;
}
#top #section__message .messageTitle {
  display: block;
  padding: 0;
}
#top #section__message .messageTitle .title {
  width: 100%;
  max-width: 600px;
}
#top #section__message .secBox01 {
  margin: 30px 0 40px;
}
#top #section__message .secBox01 .txtBox {
  padding: 30px 0 0;
}
#top #section__message .secBox01 .txtBox .secTtl {
  margin: 0 0 30px;
  font-size: 18px;
}
#top #section__message .secBox01 .txtBox .txt {
  width: 100%;
  font-size: 12px;
}
#top #section__message .secBox02 {
  margin: 0 0 50px;
}
#top #section__message .secBox02 .photo {
  margin: 0 -25px;
}
#top #section__message .secBox02 .txtBox {
  padding: 40px 0 0;
}
#top #section__message .secBox02 .txtBox .txt {
  font-size: 12px;
}
#top #section__message .secBox02 .txtBox .name {
  margin: 40px 0 0;
  padding: 0;
}
#top #section__message .secBox02 .txtBox .name dl dt {
  margin: 0 0 5px;
  font-size: 16px;
}
#top #section__message .secBox02 .txtBox .name dl dd {
  font-size: 10px;
  letter-spacing: 0.05em;
}
#top #section__message .videoPanel {
  margin: 0 -25px;
}
#top #section__interview {
  padding: 0 0 100px;
}
#top #section__interview .secContainer {
  width: 100%;
}
#top #section__interview .interviewTitle {
  margin: 0 0 20px;
}
#top #section__interview .secBox {
  margin: 0 0 50px;
  padding: 0 25px;
}
#top #section__interview .secTtl {
  margin: 0 0 30px;
  font-size: 18px;
}
#top #section__interview .txt {
  font-size: 12px;
}
#top #section__interview .txt br {
  display: none;
}
#top #section__interview .videoPanel .videoBox + .videoBox {
  margin: 40px 0 0;
}
#top #section__reason {
  padding: 70px 25px;
  background: url("../image/top/reason_bg_sp.png") center no-repeat;
  background-size: cover;
}
#top #section__reason .secContainer {
  width: 100%;
}
#top #section__reason .secBoxList .secBox .secTtl {
  padding: 0 0 40px;
  text-align: center;
}
#top #section__reason .secBoxList .secBox .secTtl p {
  margin: 0 0 10px;
  font-size: 14px;
}
#top #section__reason .secBoxList .secBox .secTtl h2 {
  font-size: 21px;
}
#top #section__reason .secBoxList .secBox .num {
  margin: 0 0 10px;
  font-size: 25px;
}
#top #section__reason .secBoxList .secBox dl dt {
  margin: 0 0 15px;
  font-size: 18px;
}
#top #section__reason .secBoxList .secBox dl dd {
  font-size: 12px;
}
#top #section__reason .secBoxList .secBox01 {
  padding: 0 0 30px;
}
#top #section__reason .secBoxList .secBox02 {
  padding: 30px 0;
  border-top: 1px solid #ffffff;
}
#top #section__reason .secBoxList .secBox03 {
  padding: 30px 0 0;
  border-top: 1px solid #ffffff;
}
#top #section__slide .slidePanel .slideBox li {
  width: 50%;
}
#top #section__faq {
  padding: 80px 25px;
}
#top #section__faq .secContainer {
  width: 100%;
}
#top #section__faq .secTtlBox {
  margin: 0 0 30px;
}
#top #section__faq .secTtlBox .secTtl {
  text-align: center;
}
#top #section__faq .secTtlBox .secTtl p {
  margin: 0 0 10px;
  font-size: 14px;
}
#top #section__faq .secTtlBox .secTtl h2 {
  font-size: 21px;
}
#top #section__faq .txtBox dl + dl {
  margin: 10px 0 0;
}
#top #section__faq .txtBox dl dt {
  display: flex;
  padding: 15px 30px 15px 20px;
  font-size: 12px;
  background: url("../image/common/accord_plus.png") right 20px center no-repeat #ffffff;
  background-size: 10px auto;
}
#top #section__faq .txtBox dl dt.active {
  background: url("../image/common/accord_minus.png") right 20px center no-repeat #ffffff;
  background-size: 10px auto;
}
#top #section__faq .txtBox dl dt span {
  margin: 0 10px 0 0;
}
#top #section__faq .txtBox dl dd {
  padding: 15px 20px 30px;
  font-size: 12px;
}
#top #section__faq .txtBox dl dd .box span {
  margin: 0 10px 0 0;
}
#top #section__step {
  padding: 0 25px;
}
#top #section__step .secContainer {
  width: 100%;
  padding: 0 0 80px;
}
#top #section__step .secTtl {
  margin: 0 0 40px;
  text-align: center;
}
#top #section__step .secTtl p {
  margin: 0 0 10px;
  font-size: 12px;
}
#top #section__step .secTtl h2 {
  font-size: 21px;
}
#top #section__step .stepContainer .stepPanel {
  position: relative;
}
#top #section__step .stepContainer .stepPanel:not(:last-child) {
  padding: 0 0 40px;
}
#top #section__step .stepContainer .stepPanel:not(:last-child)::before {
  content: "";
  position: absolute;
  top: 66px;
  left: 0;
  width: 1px;
  height: 100%;
  background: #5f5f5f;
}
#top #section__step .stepContainer .stepPanel .num {
  width: 105px;
  max-width: 105px;
  margin: 0 0 5px 20px;
}
#top #section__step .stepContainer .stepPanel dl {
  position: relative;
  padding: 0 0 0 20px;
}
#top #section__step .stepContainer .stepPanel dl dt {
  position: relative;
  max-width: 280px;
  height: 40px;
  margin: 0 0 10px;
  padding: 10px;
  font-size: 16px;
  border-radius: 8px;
}
#top #section__step .stepContainer .stepPanel dl dt::before {
  content: "";
  position: absolute;
  top: 18px;
  left: -20px;
  width: 20px;
  height: 1px;
  background: #5f5f5f;
}
#top #section__step .stepContainer .stepPanel dl dt:after {
  content: "";
  position: absolute;
  top: 17px;
  left: -3px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #5f5f5f;
}
#top #section__step .stepContainer .stepPanel dl dd {
  width: 90%;
  padding: 0 0 0 5px;
  font-size: 12px;
}
#top #section__step .bnrContainer {
  padding: 0 0 100px;
}
#top .bnrContainer .bnrPanel + .bnrPanel {
  margin: 20px 0 0;
}
#top .bnrContainer .bnrPanel a {
  padding: 40px 20px 30px;
}
#top .bnrContainer .bnrPanel .secTtl {
  margin: 0 0 30px;
}
#top .bnrContainer .bnrPanel .secTtl p {
  margin: 0 0 10px;
  font-size: 14px;
}
#top .bnrContainer .bnrPanel .secTtl h2 {
  font-size: 21px;
}
#top .bnrContainer .bnrPanel .txt {
  width: 100%;
  font-size: 11px;
}
#top .bnrContainer .bnrPanel .arrow {
  width: 40px;
  margin: 25px auto 0;
}
#top .bnrContainer .bnrPanel01 a::before {
  background: url("../image/top/bnr_document_bg_sp.png") no-repeat;
  background-size: cover;
}
#top .bnrContainer .bnrPanel02 a::before {
  background: url("../image/top/bnr_contact_bg_sp.png") no-repeat;
  background-size: cover;
}
#top .popupInfo {
  top: 30px;
  bottom: auto;
  width: calc(100% - 40px);
  max-width: 100%;
  height: calc(100svh - 120px);
  max-height: calc(100svh - 120px);
  padding: 20px;
}
#top .popupInfo__inner {
  max-width: 100%;
  width: 100%;
  margin: 0 auto;
  height: 100%;
  padding: 0;
}
#top .popupInfo .popupMain {
  width: 100%;
  margin: 0 auto;
}
#top .popupInfo .popupMain .popupTitle {
  margin: 0 0 20px;
  padding: 0 0 10px;
  font-size: 22px;
  text-align: left;
}
#top .popupInfo .popupMain .mainTitle {
  margin: 0 0 20px;
  font-size: 18px;
  text-align: left;
  line-height: 1.7;
}
#top .popupInfo .popupMain dl {
  margin: 0 0 15px;
  text-align: left;
}
#top .popupInfo .popupMain dl dt {
  margin: 0 0 20px;
  font-size: 14px;
}
#top .popupInfo .popupMain dl dd {
  font-size: 12px;
}
#top .popupInfo .popupMain .instaButton {
  max-width: 280px;
}
#top .popupInfo .popupMain .instaButton a {
  padding: 15px 10px;
  font-size: 13px;
}
#top .popupInfo .topClose {
  position: static;
}
#top .popupInfo .topClose p {
  display: inline-block;
  padding: 0 0 0 20px;
  font-family: neue-haas-grotesk-display, sans-serif;
  font-size: 11px;
  background: url("../image/common/popup_close.png") left center no-repeat;
  background-size: 16px auto;
  cursor: pointer;
}
#top .popupInfo .bottomClose {
  margin: 20px 0 0;
}
#top .popupInfo .bottomClose p {
  font-size: 12px;
}

/*////////////////////////////////////////////////////////////
	contact
///////////////////////////////////////////////////////////*/
#contact #section__contact,
#contactConfirm #section__contact,
#contactComplete #section__contact {
  padding: 150px 0 80px;
}
#contact #section__contact .contactContainer .secTtlBox,
#contactConfirm #section__contact .contactContainer .secTtlBox,
#contactComplete #section__contact .contactContainer .secTtlBox {
  margin: 0 0 30px;
}
#contact #section__contact .contactContainer .secTtlBox .secTtl,
#contactConfirm #section__contact .contactContainer .secTtlBox .secTtl,
#contactComplete #section__contact .contactContainer .secTtlBox .secTtl {
  margin: 0 0 5px;
  font-size: 30px;
}
#contact #section__contact .contactContainer .secTtlBox .secTtlContact,
#contactConfirm #section__contact .contactContainer .secTtlBox .secTtlContact,
#contactComplete #section__contact .contactContainer .secTtlBox .secTtlContact {
  width: 100%;
  max-width: 320px;
}
#contact #section__contact .contactContainer .secTtlBox .secTtlEntry,
#contactConfirm #section__contact .contactContainer .secTtlBox .secTtlEntry,
#contactComplete #section__contact .contactContainer .secTtlBox .secTtlEntry {
  width: 100%;
  max-width: 220px;
}
#contact #section__contact .contactContainer .secTtlBox .secTtlThankyou,
#contactConfirm #section__contact .contactContainer .secTtlBox .secTtlThankyou,
#contactComplete #section__contact .contactContainer .secTtlBox .secTtlThankyou {
  width: 100%;
  max-width: 240px;
  margin: 0 auto 10px;
}
#contact #section__contact .contactContainer .secTtlBox .secTtlThankyou + .sub,
#contactConfirm #section__contact .contactContainer .secTtlBox .secTtlThankyou + .sub,
#contactComplete #section__contact .contactContainer .secTtlBox .secTtlThankyou + .sub {
  text-align: center;
}
#contact #section__contact .contactContainer .secTtlBox .sub,
#contactConfirm #section__contact .contactContainer .secTtlBox .sub,
#contactComplete #section__contact .contactContainer .secTtlBox .sub {
  font-size: 18px;
}
#contact #section__contact .contactContainer .topTxt,
#contactConfirm #section__contact .contactContainer .topTxt,
#contactComplete #section__contact .contactContainer .topTxt {
  margin: 0 0 60px;
  font-size: 14px;
  letter-spacing: 0;
}

#contactConfirm .formConfirm dl {
  display: block;
  padding: 10px 0;
  font-size: 12px;
  letter-spacing: 0.05em;
}
#contactConfirm .formConfirm dl > * {
  padding: 0;
}
#contactConfirm .formConfirm dl dt {
  width: 100%;
  margin: 0 0 5px;
}
#contactConfirm .formConfirm dl dd {
  width: 100%;
}
#contactConfirm .formConfirm .submitButton {
  flex-direction: row;
  gap: 0 5px;
  max-width: 330px;
  margin: 0 auto;
  padding: 30px 0 0;
}
#contactConfirm .formConfirm input[type=submit] {
  order: 2;
  width: 100%;
  height: 70px;
  font-size: 16px;
}
#contactConfirm .formConfirm button.btnBack {
  order: 1;
  width: 100%;
  height: 70px;
  font-size: 16px;
}

/*===================================================
	フォーム
===================================================*/
.formBox form > dl {
  font-size: 12px;
}
.formBox form > dl + dl {
  margin: 15px 0 0;
}
.formBox form > dl dt {
  margin: 0;
}
.formBox form > dl dt span {
  font-size: 16px;
}
.formBox form > dl dt em {
  width: 40px;
  margin: 0 0 0 5px;
  padding: 1px;
  font-size: 12px;
}
.formBox form > dl dd {
  margin: 10px 0 0;
}
.formBox .radioForm dd {
  padding: 5px 0 0;
}
.formBox ::placeholder {
  font-size: 12px;
}
.formBox input[type=text],
.formBox input[type=email],
.formBox input[type=tel] {
  height: 44px;
  font-size: 16px;
}
.formBox textarea {
  height: 340px;
  padding: 10px;
  font-size: 16px;
}
.formBox .birthBox {
  padding: 0 10px;
}
.formBox .birthBox ul li {
  width: 70px;
}
.formBox .birthBox ul li + li {
  padding: 0 0 0 15px;
}
.formBox .birthBox input {
  height: 30px;
  padding: 0 5px;
}
.formBox .checkItem {
  margin: 30px 0 10px;
  padding: 0 10px;
}
.formBox .checkItem.agreeCheck {
  font-size: 16px;
}
.formBox .itemCheck .mwform-checkbox-field span {
  padding-left: 15px;
}
.formBox form .mwform-radio-field {
  display: block;
  font-size: 16px;
}
.formBox form .mwform-radio-field + .mwform-radio-field {
  margin: 10px 0 0;
}
.formBox .privacy {
  max-width: 205px;
  margin: 35px auto 0;
}
.formBox .privacy .agreeBox {
  height: 80px;
  padding: 10px;
  font-size: 10px;
}
.formBox .privacy .box + .box {
  margin: 5px 0 0;
}
.formBox .agreeTxt {
  margin: 0 0 20px;
  padding: 0 10px;
}
.formBox .submitButton {
  max-width: 330px;
  margin: 0 auto;
}
.formBox .submitButton .submitTxt {
  font-size: 14px;
}
.formBox .submitButton input[type=submit] {
  height: 70px;
  font-size: 20px;
}

#contactComplete #section__contact {
  text-align: center;
}
#contactComplete #section__contact .contactContainer .txt {
  display: inline-block;
  font-size: 14px;
  text-align: left;
}
#contactComplete .btnToTop {
  margin: 60px auto 0;
  text-align: center;
}
#contactComplete .btnToTop a span {
  font-size: 20px;
}