@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;500;700&display=swap");
@import "./mixin";
@import "./mod";
/* CSS Document */
/*===================================================
	共通CSS（PC/SMP）
===================================================*/

/*////////////////////////////////////////////////////////////
	共通設定
///////////////////////////////////////////////////////////*/

/* --------------------------------------------------
	base
-------------------------------------------------- */
* {
  box-sizing: border-box;
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
html,
body {
  width: 100%;
}
body {
  position: relative;
  overflow-x: hidden;
  // font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3","Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
  font-family:
    $baseFont, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック体",
    "YuGothic", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ",
    "Meiryo", "verdana", sans-serif;
  font-weight: 500;
  line-height: 1.5;
  color: $mainColor;
  font-size: $PCfontSize;
  background: $bgBaseColor;
  transition: 2s;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: $lhBase;
}

.txt {
  line-height: $lhTxt;
}

/*リンク */
a {
  color: $mainColor;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}

/* 画像幅 */
img {
  width: 100%;
  height: auto;
  vertical-align: middle;
}

/* clearfix */
.clearfix::after {
  content: ".";
  display: block;
  height: 0;
  font-size: 0;
  clear: both;
  visibility: hidden;
}

.spBreak {
  display: none;
}

@media (min-width: 1025px) {
  a {
    transition: 0.6s;
  }

  a:hover {
    opacity: 0.6;
  }
}

.fax {
  a {
    pointer-events: none;
  }
}

/* --------------------------------------------------
	header
-------------------------------------------------- */
@media (min-width: 1025px) {
  .header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 3% 10px;
    z-index: 999;
    background: #ffffff;
    .headWrap {
      position: relative;
    }
    .logo {
      position: absolute;
      top: 0;
      left: 0;
      display: flex;
      align-items: center;
      gap: 0 10px;
      a {
        display: block;
        width: 120px;
      }
      span {
      }
    }
    .hamburger {
      display: none;
    }
  }
}

/* --------------------------------------------------
	nav
-------------------------------------------------- */
@media (min-width: 1025px) {
  .navBox {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 0 140px 0 0;
    .navList {
      ul {
        display: flex;
        gap: 0 20px;
        li {
          a {
            display: inline-block;
            font-size: clamp(12px, 1vw, 14px);
          }
        }
      }
    }
    .navItemBox {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      .navItem01 {
        order: 2;
        ul {
          display: flex;
          gap: 0 10px;
          li {
            a {
              display: block;
              padding: 0 20px;
              font-size: clamp(12px, 1vw, 14px);
              text-align: center;
              border: 1px solid #000000;
            }
          }
        }
      }
      .navItem02 {
        order: 1;
        display: flex;
        align-items: center;
        gap: 0 20px;
        margin: 0 0 10px;
        .telBox {
          .tel01 {
            a {
              display: inline-block;
            }
            span {
              display: inline-block;
              font-size: 13px;
              line-height: 1;
            }
            em {
              display: inline-block;
              font-size: 24px;
              line-height: 1;
            }
          }
          .tel02 {
            a {
              display: inline-block;
              font-size: 12px;
              line-height: 1;
            }
          }
        }
        .mailBox {
          width: 180px;
          a {
            display: block;
            padding: 7px 10px;
            font-size: 14px;
            color: #ffffff;
            text-align: center;
            background: #d61807;
            span {
              display: inline-block;
              padding: 0 0 0 20px;
              background: url("../image/common/header_mail.png") left center
                no-repeat;
              background-size: 15px auto;
            }
          }
        }
      }
    }
    .langBox {
      position: absolute;
      top: 5px;
      right: 0;
      display: flex;
      align-items: center;
      z-index: 1;
      .language {
        position: relative;
        width: 120px;
        text-align: center;
        .lang {
          cursor: pointer;
          padding: 5px 10px;
          border: 1px solid #e5e5e3;
          background: url("../image/common/header_lang_arrow.png") right 10px
            center no-repeat #f9f9f8;
          background-size: 10px auto;
        }
        .langList {
          display: none;
          position: absolute;
          top: 35px;
          left: 0;
          width: 100%;
          ul {
            border: 1px solid #e5e5e3;
            li {
              + li {
                border-top: 1px solid #e5e5e3;
              }
              a {
                display: block;
                padding: 5px 10px;
                font-size: 13px;
                text-align: center;
                background: #f9f9f8;
              }
            }
          }
        }
      }
    }
  }
}

/* --------------------------------------------------
	main
-------------------------------------------------- */
.main {
  overflow: hidden;
  margin: 104px 0 0;
}
.pageKvContainer {
  padding: 0 0 0 5%;
  .pageKv {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 300px;
  }
  .kvTitle {
    position: relative;
    left: -40px;
    bottom: -20px;
    h1 {
      display: inline-block;
      min-width: 330px;
      padding: 30px 40px;
      text-align: center;
      background: url("../image/common/page_title_bg.png") no-repeat;
      background-size: cover;
      font-size: 34px;
      font-weight: 700;
      color: #ffffff;
    }
  }
}
.pageSecTtlBox {
  margin: 0 0 50px;
  text-align: center;
  h2 {
    font-size: 34px;
    font-weight: 700;
    color: #d61807;
  }
  p {
    font-size: 18px;
  }
  &.left {
    text-align: left;
  }
}
.sectionWrap {
  max-width: 1640px;
  margin: 0 auto;
  padding: 0 20px;
}
.secWrap {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 20px;
}
.secWrap01 {
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 20px;
}
.secWrap02 {
  max-width: 1040px;
  margin: 0 auto;
  padding: 0 20px;
}
.mapBox {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 0;
  padding: 0 0 45%;

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
  }
}

.btnMore {
  a {
    display: inline-block;
    padding: 15px 40px 15px 0;
    background: url("../image/common/btn_more_circle_red.png") right center
      no-repeat;
    background-size: 28px auto;
  }
  &.white {
    a {
      color: #ffffff;
    }
  }
}

/* --------------------------------------------------
	footer
-------------------------------------------------- */
.footer {
  .footContact {
    padding: 60px 0;
    background: url("../image/common/footer_contact_bg.png") center no-repeat;
    background-size: cover;
    &--corp,
    &--school,
    &--personal,
    &--agency {
      display: none;
    }
    .ttlBox {
      font-size: 34px;
      font-weight: 700;
      color: #2550a2;
    }
    .itemBox {
      padding: 20px;
      text-align: center;
      border-top: 1px solid #000000;
      border-bottom: 1px solid #000000;
      dl {
        dt {
          margin: 0 0 5px;
          font-size: 24px;
        }
        dd {
          .mailBox {
            padding: 10px 0 0;
            a {
              display: block;
              width: 180px;
              margin: 0 auto;
              padding: 7px 10px;
              font-size: 14px;
              color: #ffffff;
              text-align: center;
              background: #d61807;
              span {
                display: inline-block;
                padding: 0 0 0 20px;
                background: url("../image/common/header_mail.png") left center
                  no-repeat;
                background-size: 15px auto;
              }
            }
          }
          .telBox {
            .tel01 {
              a {
                display: inline-block;
                font-size: 30px;
                padding: 0 0 0 25px;
                background: url("../image/common/footer_tel.png") left center
                  no-repeat;
                background-size: 20px auto;
              }
            }
            .tel02 {
              padding: 0 0 0 20px;
              font-size: 14px;
            }
          }
        }
      }
    }
    .secBox01 {
      margin: 0 0 50px;
    }
    @media (min-width: 1025px) {
      .secBox01 {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .ttlBox {
          width: 60%;
        }
        .itemBox {
          width: 360px;
        }
      }
      .secBox02 {
        display: flex;
        justify-content: space-between;
        .itemBox {
          width: calc((100% / 3) - 20px);
        }
      }
      .secBox03 {
        display: flex;
        justify-content: space-between;
        max-width: 800px;
        margin: 0 auto;
        .itemBox {
          width: calc((100% / 2) - 20px);
        }
      }
    }
  }
  .footNavContainer {
    padding: 30px 0;
    color: #ffffff;
    text-align: center;
    background: #000000;
    .footNav {
      ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
        li {
          position: relative;
          a {
            display: inline-block;
            color: #ffffff;
            text-decoration: underline;
          }
        }
      }
      @media (min-width: 1025px) {
        ul {
          li {
            + li {
              &::before {
                content: "";
                position: absolute;
                top: 0;
                left: -10px;
                bottom: 0;
                width: 1px;
                height: 16px;
                margin: auto 0;
                background: #ffffff;
              }
            }
          }
        }
      }
    }
  }
  .footPanel {
    position: relative;
    padding: 80px 0 20px;
    color: #ffffff;
    background: url("../image/common/footer_panel_bg.png") center no-repeat;
    background-size: cover;
    .pagetop {
      position: absolute;
      top: 60px;
      right: 5%;
      width: 40px;
      cursor: pointer;
    }
    .logo {
      width: 160px;
      margin: 0 0 20px;
    }
    .txt {
      a {
        display: inline-block;
        color: #ffffff;
      }
    }
    .sns {
      margin: 40px 0 0;
      ul {
        display: flex;
        gap: 0 20px;
        li {
          a {
            display: inline-block;
            padding: 0 0 0 30px;
            color: #ffffff;
          }
          &.instagram {
            a {
              background: url("../image/common/footer_instagram.png") left
                center no-repeat;
              background-size: 25px auto;
            }
          }
          &.facebook {
            a {
              background: url("../image/common/footer_facebook.png") left center
                no-repeat;
              background-size: 25px auto;
            }
          }
        }
      }
    }
    .copy {
      margin: 40px 0 0;
      text-align: right;
    }
  }
}

/* --------------------------------------------------
	fadeAnimation
-------------------------------------------------- */
body::after {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ffffff; /* 背景カラー */
  z-index: 9999; /* 一番手前に */
  pointer-events: none; /* 他の要素にアクセス可能にするためにポインターイベントは無効に */
  opacity: 0; /* 初期値では非表示 */
  -webkit-transition: opacity 0.8s ease; /* アニメーション時間は 0.8秒 */
  -ms-transition: opacity 0.8s ease;
  -moz-transition: opacity 0.8s ease;
  transition: opacity 0.8s ease;
}

/*body要素に.fadeoutセレクタがある場合には、レイヤーが表示されるようにopacityを１に設定します。*/

body.fadeout::after {
  opacity: 1;
}

/*お好みで、.fadeoutセレクタ以下の他の要素にもアニメーション用のCSSを定義します*/
/*DEMOではページ遷移時にarticle要素のスケールもアニメーションさせています*/

body.fadeout article {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}
