@charset "UTF-8";
@import "./mixin";
@import "./mod";
/* CSS Document */

/*===================================================
	共通CSS（SMP）
===================================================*/

/* --------------------------------------------------
	base
-------------------------------------------------- */

body {
  min-width: 0;
  font-size: $SPfontSize;
}
a:hover {
  text-decoration: none;
}
/*改行*/
.pcBreak {
  display: none;
}
.spBreak {
  display: block;
}
/*spのみ表示*/
.pcHidden {
  display: block;
}
.spHidden {
  display: none;
}
#sideBtn {
  display: none;
}
.topicPath {
  display: none;
}
/* --------------------------------------------------
	header
-------------------------------------------------- */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px 20px;
  z-index: 999;
  background: #ffffff;
  .headWrap {
    position: relative;
  }
  .logo {
    display: flex;
    align-items: center;
    gap: 0 10px;
    a {
      display: block;
      width: 90px;
    }
  }
  .hamburger {
    cursor: pointer;
    position: fixed;
    top: 25px;
    right: 20px;
    width: 28px;
    height: 8px;
    z-index: 10000;
    span {
      position: absolute;
      left: 50%;
      width: 100%;
      height: 2px;
      background: #000000;
      transform: translateX(-50%);
      transition: 0.4s;
      &:nth-of-type(1) {
        top: 10px;
      }

      &:nth-of-type(2) {
        top: 50%;
        transform: translate(-50%, -50%);
      }

      &:nth-of-type(3) {
        bottom: 10px;
      }
    }
    &.is-open {
      span {
        top: 50%;
        bottom: auto;
        &:nth-of-type(1) {
          transform: translate(-50%, -50%) rotate(-45deg);
        }
        &:nth-of-type(2) {
          opacity: 0;
        }
        &:nth-of-type(3) {
          transform: translate(-50%, -50%) rotate(45deg);
        }
      }
    }
  }
}
/* --------------------------------------------------
	nav
-------------------------------------------------- */
.navBox {
  position: fixed;
  top: -100%;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 0 20px 80px;
  z-index: 998;
  background: #ffffff;
  transition: 0.6s;
  &.active {
    top: 53px;
  }
  .navList {
    padding: 30px 0 10px;
    ul {
      li {
        + li {
          margin: 5px 0 0;
        }
        a {
          display: block;
          padding: 5px 10px;
          font-size: 13px;
        }
      }
    }
  }
  .navItemBox {
    margin: 0 0 20px;
    .navItem01 {
      margin: 0 0 20px;
      ul {
        display: flex;
        flex-wrap: wrap;
        gap: 5px;
        li {
          a {
            display: block;
            padding: 2px 10px;
            font-size: 13px;
            text-align: center;
            border: 1px solid #000000;
          }
        }
      }
    }
    .navItem02 {
      .telBox {
        margin: 0 0 10px;
        .tel01 {
          a {
            display: inline-block;
          }
          span {
            display: inline-block;
            font-size: 13px;
            line-height: 1;
          }
          em {
            display: inline-block;
            font-size: 24px;
            line-height: 1;
          }
        }
        .tel02 {
          a {
            display: inline-block;
            font-size: 12px;
            line-height: 1;
          }
        }
      }
      .mailBox {
        width: 180px;
        a {
          display: block;
          padding: 7px 10px;
          font-size: 14px;
          color: #ffffff;
          text-align: center;
          background: #d61807;
          span {
            display: inline-block;
            padding: 0 0 0 20px;
            background: url("../image/common/header_mail.png") left center
              no-repeat;
            background-size: 15px auto;
          }
        }
      }
    }
  }
  .langBox {
    display: flex;
    align-items: center;
    z-index: 1;
    .language {
      position: relative;
      width: 120px;
      text-align: center;
      .lang {
        cursor: pointer;
        padding: 5px 10px;
        border: 1px solid #e5e5e3;
        background: url("../image/common/header_lang_arrow.png") right 10px
          center no-repeat #f9f9f8;
        background-size: 10px auto;
      }
      .langList {
        display: none;
        position: absolute;
        top: 35px;
        left: 0;
        width: 100%;
        ul {
          border: 1px solid #e5e5e3;
          li {
            + li {
              border-top: 1px solid #e5e5e3;
            }
            a {
              display: block;
              padding: 5px 10px;
              font-size: 13px;
              text-align: center;
              background: #f9f9f8;
            }
          }
        }
      }
    }
  }
}

/* --------------------------------------------------
	main
-------------------------------------------------- */
.main {
  margin: 53px 0 0;
}
.pageKvContainer {
  padding: 0 0 0 20px;
  .pageKv {
    height: 250px;
  }
  .kvTitle {
    position: relative;
    left: -25px;
    bottom: 0;
    h1 {
      min-width: 200px;
      padding: 20px;
      font-size: 22px;
    }
  }
}
.pageSecTtlBox {
  margin: 0 0 40px;
  h2 {
    font-size: 24px;
  }
  p {
    font-size: 16px;
  }
}
.mapBox {
  padding: 0 0 70%;
}

/* --------------------------------------------------
	footer
-------------------------------------------------- */
.footer {
  .footContact {
    padding: 50px 0;
    .ttlBox {
      margin: 0 0 30px;
      font-size: 20px;
    }
    .itemBox {
      padding: 15px 20px;
      dl {
        dt {
          font-size: 20px;
        }
      }
    }
    .secBox01 {
      margin: 0 0 40px;
    }
    .secBox02,
    .secBox03 {
      .itemBox {
        + .itemBox {
          margin: 20px 0 0;
        }
      }
    }
  }
  .footNavContainer {
    padding: 25px 0;
    .footNav {
      ul {
        gap: 15px;
      }
    }
  }
  .footPanel {
    padding: 50px 0 20px;
    .pagetop {
      position: absolute;
      top: 40px;
      right: 20px;
      width: 40px;
    }
    .logo {
      width: 100px;
      margin: 0 0 20px;
    }
    .txt {
      a {
        display: inline-block;
        color: #ffffff;
      }
    }
    .sns {
      margin: 30px 0 0;
      ul {
        display: block;
        li {
          + li {
            margin: 15px 0 0;
          }
        }
      }
    }
    .copy {
      margin: 40px 0 0;
      text-align: center;
    }
  }
}
