@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;500;700&display=swap");
/* CSS Document */
/*===================================================
	共通CSS（PC/SMP）
===================================================*/
/*////////////////////////////////////////////////////////////
	共通設定
///////////////////////////////////////////////////////////*/
/* --------------------------------------------------
	base
-------------------------------------------------- */
* {
  box-sizing: border-box;
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

html,
body {
  width: 100%;
}

body {
  position: relative;
  overflow-x: hidden;
  font-family: "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック体", "YuGothic", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", "Meiryo", "verdana", sans-serif;
  line-height: 1.5;
  color: #282828;
  font-size: 14px;
  background: #ffffff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.5;
}

.txt {
  line-height: 2;
}

/*リンク */
a {
  color: #282828;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* 画像幅 */
img {
  width: 100%;
  height: auto;
  vertical-align: middle;
}

/* clearfix */
.clearfix::after {
  content: ".";
  display: block;
  height: 0;
  font-size: 0;
  clear: both;
  visibility: hidden;
}

.spBreak {
  display: none;
}

@media (min-width: 1025px) {
  a {
    transition: 0.6s;
  }

  a:hover {
    opacity: 0.6;
  }
}
.fax a {
  pointer-events: none;
}

.mincho {
  font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
}

/* --------------------------------------------------
	header
-------------------------------------------------- */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px 60px 15px;
  z-index: 999;
  background: #ffffff;
}
.header .logo {
  width: 100px;
}
.header .logo a {
  display: block;
}
.header .hamburger {
  cursor: pointer;
  display: block;
  position: fixed;
  top: 30px;
  right: 10px;
  width: 50px;
  height: 40px;
  z-index: 10000;
}
.header .hamburger .span {
  background: #282828;
  position: absolute;
  left: 50%;
  width: 30px;
  height: 1px;
  transform: translateX(-50%);
  transition: 0.4s;
}
.header .hamburger .span:nth-of-type(1) {
  top: 10px;
}
.header .hamburger .span:nth-of-type(2) {
  top: 50%;
  transform: translate(-50%, -50%);
}
.header .hamburger .span:nth-of-type(3) {
  bottom: 10px;
}
.header .hamburger.is-open .span {
  background: #2f4453;
}
.header .hamburger.is-open .span:nth-of-type(1) {
  transform: translate(-50%, 9px) rotate(-45deg);
}
.header .hamburger.is-open .span:nth-of-type(2) {
  opacity: 0;
}
.header .hamburger.is-open .span:nth-of-type(3) {
  transform: translate(-50%, -9px) rotate(45deg);
}

@media (min-width: 1025px) {
  .header .headTtl {
    margin: 0 0 5px;
  }
  .header .headerContainer {
    display: flex;
    justify-content: space-between;
    padding: 0 60px 0 0;
  }
  .header .headItem {
    display: flex;
    align-items: center;
    gap: 0 40px;
  }
  .header .headItem .list > .ul {
    display: flex;
    gap: 0 20px;
  }
  .header .headItem .list > .ul > .li {
    position: relative;
  }
  .header .headItem .list > .ul > .li > a {
    display: inline-block;
    padding: 0 20px;
  }
  .header .headItem .list > .ul > .li .pulldown {
    background: url("https://sit-7938494.sibloo.com/system_panel/uploads/images/nav_list_arrow.png") right center no-repeat;
    background-size: 10px auto;
  }
  .header .headItem .list .subList {
    display: none;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    width: 160px;
    border: 1px solid #e2dfdb;
  }
  .header .headItem .list .subList .ul .li + .li {
    border-top: 1px solid #e2dfdb;
  }
  .header .headItem .list .subList .ul .li a {
    display: block;
    padding: 8px 10px;
    text-align: center;
    background: #ffffff;
  }
  .header .headItem .list .pulldown:hover + .subList,
.header .headItem .list .pulldown:focus + .subList,
.header .headItem .list .subList:hover,
.header .headItem .list > .ul > .li:focus-within .subList {
    display: block;
  }
}
/* --------------------------------------------------
	nav
-------------------------------------------------- */
.navBox {
  overflow: auto;
  position: fixed;
  top: 0;
  width: 30%;
  height: 100%;
  max-width: 600px;
  padding: 100px 60px;
  z-index: 999;
  background: #f2efeb;
  transition: 0.6s;
}
.navBox .navList + .navList {
  margin: 30px 0 0;
}
.navBox .navList .ul .li + .li {
  margin: 10px 0 0;
}
.navBox .navList .ul .li a {
  display: inline-block;
}
.navBox .btnAmazon {
  margin: 40px 0 0;
}

/* --------------------------------------------------
	main
-------------------------------------------------- */
.main {
  overflow: hidden;
  margin: 83px 0 0;
}

.pageTitlePanel {
  padding: 50px 20px;
}
.pageTitlePanel .pageTitle {
  font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
  font-size: 23px;
  text-align: center;
}

.pageSecTtlBox {
  margin: 0 0 50px;
  text-align: center;
}
.pageSecTtlBox .sub {
  margin: 0 0 5px;
  color: #988b9e;
}
.pageSecTtlBox .pageSecTtl {
  font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
  font-size: 23px;
  letter-spacing: 0.05em;
}

.secWrap {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 20px;
}

.secWrap01 {
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 20px;
}

.secWrap02 {
  max-width: 1040px;
  margin: 0 auto;
  padding: 0 20px;
}

.mapBox {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 0;
  padding: 0 0 45%;
}
.mapBox iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
}

.btnAmazon {
  width: 160px;
}
.btnAmazon a {
  display: block;
  padding: 5px;
  color: #ffffff;
  text-align: center;
  background: #8b8b8a;
}
.btnAmazon a p {
  display: inline-block;
  padding: 0 0 0 22px;
  background: url("https://sit-7938494.sibloo.com/system_panel/uploads/images/icon_amazon_cart.png") left center no-repeat;
  background-size: 17px auto;
}

.btnMore {
  max-width: 220px;
  margin: 0 auto;
}
.btnMore a {
  display: block;
  padding: 8px 10px;
  color: #ffffff;
  text-align: center;
  background: #988b9e;
}
.btnMore a p {
  padding: 0 15px;
  background: url("https://sit-7938494.sibloo.com/system_panel/uploads/images/btn_more_arrow_white.png") right 5px center no-repeat;
  transition: 0.6s;
}
@media (min-width: 1025px) {
  .btnMore a:hover p {
    background-position: right 0 center;
  }
}

.btnMoreWhite {
  max-width: 220px;
  margin: 0 auto;
}
.btnMoreWhite a {
  display: block;
  padding: 8px 10px;
  text-align: center;
  border: 1px solid #988b9e;
  background: #ffffff;
}
.btnMoreWhite a p {
  padding: 0 15px;
  background: url("https://sit-7938494.sibloo.com/system_panel/uploads/images/btn_more_arrow.png") right 5px center no-repeat;
  transition: 0.6s;
}
@media (min-width: 1025px) {
  .btnMoreWhite a:hover p {
    background-position: right 0 center;
  }
}

.guideSec {
  padding: 80px 0;
}
.guideSec .itemPanel {
  max-width: 800px;
  margin: 0 auto;
}
.guideSec .itemPanel .itemBox {
  border: 1px solid #e2dfdb;
}
.guideSec .itemPanel .itemBox a {
  display: block;
  padding: 20px;
}
.guideSec .itemPanel .itemBox .dl {
  max-width: 280px;
  margin: 0 auto;
}
.guideSec .itemPanel .itemBox .dl .dt {
  margin: 0 0 10px;
  font-size: 22px;
  color: #988b9e;
}
.guideSec .itemPanel .itemBox .dl .dt.faq {
  padding: 0 0 0 40px;
  background: url("https://sit-7938494.sibloo.com/system_panel/uploads/images/top_guide_faq.png") left center no-repeat;
  background-size: 30px auto;
}
.guideSec .itemPanel .itemBox .dl .dt.howto {
  padding: 0 0 0 35px;
  background: url("https://sit-7938494.sibloo.com/system_panel/uploads/images/top_guide_howto.png") left center no-repeat;
  background-size: 25px auto;
}
.guideSec .itemPanel .itemBox .dl .dd {
  line-height: 2;
}
@media (min-width: 1025px) {
  .guideSec .itemPanel {
    display: flex;
    justify-content: space-between;
  }
  .guideSec .itemPanel .itemBox {
    width: 48%;
  }
  .guideSec .itemPanel .itemBox a:hover {
    opacity: 1;
    background: #f2efeb;
  }
}

/* --------------------------------------------------
	footer
-------------------------------------------------- */
.footer {
  padding: 100px 0 50px;
  color: #cccccc;
  background: #282828;
}
.footer .footBox .logoBox .logo {
  width: 130px;
  margin: 0 0 40px;
}
.footer .footBox .logoBox .txt {
  margin: 0 0 10px;
}
.footer .footBox .footNav {
  display: flex;
  justify-content: space-between;
}
.footer .footBox .footNav .dl {
  width: calc(33.3333333333% - 20px);
  font-size: 14px;
}
.footer .footBox .footNav .dl .dt {
  margin: 0 0 30px;
  padding: 0 5px 5px;
  color: #988b9e;
  border-bottom: 1px solid #988b9e;
}
.footer .footBox .footNav .dl .dd .ul .li + .li {
  margin: 15px 0 0;
}
.footer .footBox .footNav .dl .dd .ul .li a {
  display: inline-block;
  color: #cccccc;
  padding: 5px;
}
@media (min-width: 1025px) {
  .footer .footBox {
    display: flex;
    justify-content: space-between;
  }
  .footer .footBox .logoBox {
    width: 30%;
  }
  .footer .footBox .footNav {
    width: 55%;
  }
}
.footer .copy {
  margin: 100px 0 0;
  font-size: 14px;
}