@charset "UTF-8";
@import "./mixin";
@import "./mod";
/* CSS Document */

/*===================================================
	画面用CSS（PC/SMP）
===================================================*/

/*////////////////////////////////////////////////////////////
	TOP
///////////////////////////////////////////////////////////*/
@media (max-width: 1024px) {
  .topMain {
    .topKvPanel {
      .topKvContainer {
        height: calc(100vh - 100px);
      }
      .topKv {
        width: 100%;
      }
    }
    .sec01 {
      padding: 40px 0 80px;
      background: url(https://sit-10205333.sibloo.com/system_panel/uploads/images/top_sec01_bg.png)
        center bottom no-repeat;
      background-size: cover;
      .secTtl {
        margin: 0 0 40px;
        font-size: 24px;
      }
      .list {
        max-width: 340px;
        .ul {
          .li {
            padding: 25px 20px;
            + .li {
              margin: 20px 0 0;
            }
          }
        }
      }
    }
    .sec02 {
      padding: 60px 0;
      .secTtl {
        margin: 0 0 40px;
        font-size: 22px;
      }
    }
    .sec03 {
      padding: 60px 0;
      .secContainer {
        .secTtl {
          margin: 0 0 30px;
          font-size: 24px;
          h2 {
            padding: 0 0 15px;
            &:after {
              width: 40px;
            }
          }
        }
        .secPanel {
          border-top: 1px solid #000000;
          .secBox {
            border-bottom: 1px solid #000000;
            a {
              padding: 40px 20px;
            }
            .dl {
              .dt {
                margin: 0 0 20px;
                font-size: 24px;
              }
              .dd {
              }
            }
          }
          .secBox01 {
            a {
              background: url(https://sit-10205333.sibloo.com/system_panel/uploads/images/top_sec03_arrow_01.png)
                right bottom no-repeat;
              background-size: 30px auto;
            }
          }
          .secBox02 {
            a {
              background: url(https://sit-10205333.sibloo.com/system_panel/uploads/images/top_sec03_arrow_02.png)
                right bottom no-repeat;
              background-size: 30px auto;
            }
          }
          .secBox03 {
            a {
              background: url(https://sit-10205333.sibloo.com/system_panel/uploads/images/top_sec03_arrow_03.png)
                right bottom no-repeat;
              background-size: 30px auto;
            }
          }
        }
      }
    }
    .sec04 {
      padding: 60px 0 100px;
      .secTtl {
        margin: 0 0 30px;
        padding: 0 0 15px;
        font-size: 24px;
        &:after {
          width: 40px;
        }
      }
      .listBox {
        max-width: 550px;
        .ul {
          + .ul {
            margin: 30px 0 0;
          }
          .li {
            padding: 40px 20px;
            + .li {
              margin: 30px 0 0;
            }
            &.list01 {
              background: url(https://sit-10205333.sibloo.com/system_panel/uploads/images/top_sec04_bg_01.png)
                center no-repeat;
              background-size: cover;
            }
            &.list02 {
              background: url(https://sit-10205333.sibloo.com/system_panel/uploads/images/top_sec04_bg_02.png)
                center no-repeat;
              background-size: cover;
            }
            &.list03 {
              background: url(https://sit-10205333.sibloo.com/system_panel/uploads/images/top_sec04_bg_03.png)
                center no-repeat;
              background-size: cover;
            }
            &.list04 {
              background: url(https://sit-10205333.sibloo.com/system_panel/uploads/images/top_sec04_bg_04.png)
                center no-repeat;
              background-size: cover;
            }
          }
          .dl {
            .dt {
              margin: 0 0 15px;
              font-size: 18px;
            }
            .dd {
              font-size: 16px;
            }
          }
        }
      }
    }
    .sec05 {
      padding: 120px 0;
      background: url(https://sit-10205333.sibloo.com/system_panel/uploads/images/top_sec05_bg.png)
        no-repeat;
      background-size: cover;
      .secWrap01 {
        position: relative;
      }
      .secContainer {
        .secTtlBox {
          margin: 0 0 30px;
          .secTtl {
            padding: 0 0 15px;
            font-size: 24px;
            &:after {
              width: 40px;
            }
          }
        }
        .blogPanel {
          .webgene-blog {
            .webgene-item {
              + .webgene-item {
                margin: 30px 0 0;
              }
            }
          }
        }
      }
      .more {
        width: 50px;
        margin: 40px auto 0;
      }
    }
    .sec06 {
      background: none;
      .fixedImage {
        display: block;
      }
      .secContainer {
        padding: 30px 0 0;
        .secPanel {
          padding: 40px 20px;
          .secTtl {
            margin: 0 0 30px;
            padding: 0 0 15px;
            font-size: 24px;
            &:after {
              width: 40px;
            }
          }
          .infoBox {
            .dl {
              + .dl {
                margin: 10px 0 0;
              }
              .dt {
                padding: 10px 0;
              }
              .dd {
                padding: 10px 0;
              }
            }
          }
        }
      }
    }
    .slidePanel {
      .slideBox {
        .ul {
          .li {
            width: calc(100% / 2);
          }
        }
      }
    }
  }
}

/*////////////////////////////////////////////////////////////
	service
///////////////////////////////////////////////////////////*/
@media (max-width: 1024px) {
  .serviceMain {
    .topContainer {
      padding: 40px 0;
      .linkList {
        max-width: 330px;
        margin: 0 auto;
        .ul {
          .li {
            + .li {
              margin: 20px 0 0;
            }
          }
        }
      }
    }
    .section {
      padding: 60px 0;
      .secTtl {
        margin: 0 0 30px;
        padding: 0 0 15px;
        font-size: 24px;
        &:after {
          width: 40px;
        }
      }
      .explainContainer {
        margin: 50px 0 0;
        .dl {
          + .dl {
            margin: 30px 0 0;
          }
          .dt {
            margin: 0 0 10px;
            padding: 0 0 5px;
            font-size: 18px;
            border-bottom: 1px solid #000000;
          }
          .dd {
            line-height: 2;
          }
        }
      }
      .flowContainer {
        margin: 100px 0 0;
        .flowTtl {
          margin: 0 0 30px;
          padding: 0 0 0 10px;
          font-size: 24px;
        }
        .flowList01,
        .flowList02,
        .flowList03 {
          .ol {
            .li {
              padding: 15px 20px 30px;
              + .li {
                margin: 40px 0 0;
                &::before {
                  content: "";
                  position: absolute;
                  top: -35px;
                  left: 0;
                  right: 0;
                  width: 40px;
                  height: 25px;
                  margin: 0 auto;
                  background: url(https://sit-10205333.sibloo.com/system_panel/uploads/images/service_flow_arrow_02.png)
                    no-repeat;
                  background-size: 100% auto;
                }
              }
              .dl {
                .dt {
                  margin: 0 0 10px;
                  font-size: 24px;
                }
                .dd {
                  font-size: 18px;
                }
              }
            }
          }
        }
      }
    }
    .sec01 {
      .secContainer {
        .ttlBox {
          margin: 0 0 20px;
          .ttl {
            font-size: 20px;
          }
        }
      }
      .checkContainer {
        margin: 30px 0 50px;
        .dl {
          .dt {
            padding: 20px;
            font-size: 18px;
          }
          .dd {
            padding: 20px;
            .ul {
              .li {
                padding: 0 0 0 20px;
                background: url(https://sit-10205333.sibloo.com/system_panel/uploads/images/service_list_chaeck_01.png)
                  left center no-repeat;
                background-size: 15px auto;
                + .li {
                  margin: 10px 0 0;
                }
              }
            }
          }
        }
      }
    }
    .sec02 {
      .secContainer {
        .ttlBox {
          margin: 0 0 20px;
          .ttl {
            font-size: 20px;
          }
        }
      }
      .checkContainer {
        margin: 30px 0 50px;
        .dl {
          .dt {
            padding: 20px;
            font-size: 18px;
          }
          .dd {
            padding: 20px;
            .ul {
              .li {
                padding: 0 0 0 20px;
                background: url(https://sit-10205333.sibloo.com/system_panel/uploads/images/service_list_chaeck_02.png)
                  left center no-repeat;
                background-size: 15px auto;
                + .li {
                  margin: 10px 0 0;
                }
              }
            }
          }
        }
      }
    }
    .sec03 {
      .secContainer {
        .ttlBox {
          margin: 0 0 20px;
          .ttl {
            font-size: 20px;
          }
        }
      }
      .checkContainer {
        margin: 30px 0 50px;
        .dl {
          .dt {
            padding: 20px;
            font-size: 18px;
          }
          .dd {
            padding: 20px;
            .ul {
              .li {
                padding: 0 0 0 20px;
                background: url(https://sit-10205333.sibloo.com/system_panel/uploads/images/service_list_chaeck_03.png)
                  left center no-repeat;
                background-size: 15px auto;
                + .li {
                  margin: 10px 0 0;
                }
              }
            }
          }
        }
      }
    }
    .secYearSupport {
      padding: 60px 0;
      .secTtl {
        margin: 0 0 30px;
        padding: 0 0 15px;
        font-size: 24px;
        &:after {
          width: 40px;
        }
      }
      .secContainer {
        .ttlBox {
          margin: 0 0 20px;
          .ttl {
            font-size: 20px;
          }
        }
        .txt {
          p + p {
            margin: 20px 0 0;
          }
        }
      }
    }
  }
}

/*////////////////////////////////////////////////////////////
	contact
///////////////////////////////////////////////////////////*/
@media (max-width: 1024px) {
  .contactMain {
    .sec01 {
      padding: 50px 0 80px;
      .secTtl {
        margin: 0 0 30px;
        padding: 0 0 15px;
        font-size: 24px;
        &:after {
          width: 40px;
        }
      }
    }
  }
}

/*////////////////////////////////////////////////////////////
	form
///////////////////////////////////////////////////////////*/
@media (max-width: 1024px) {
  .formMain {
    .contactForm {
      .form {
        .checkList {
          .ul {
            padding: 0;
          }
        }
      }
      .formBox {
        + .formBox {
          margin-top: 40px;
        }

        > .dl {
          display: block;
          width: 100%;
          padding: 10px;
          &::before {
            display: none;
          }
          &.line {
            .dt {
              padding: 10px;
            }
          }
          &.top {
            display: none;
          }
          > .dt {
            display: block;
            width: 100%;
            margin: 0;
            padding: 10px;

            .span {
              width: auto;
              min-width: 0;
              margin-right: 10px;
              padding: 0;
              font-size: 16px;
              text-align: left;

              br {
                display: none;
              }
            }

            .em {
              font-size: 12px;
              vertical-align: middle;
            }

            .aside {
              margin-top: 5px;

              p {
                font-size: 12px;

                br {
                  display: none;
                }
              }
            }
          }

          > .dd {
            display: block;
            width: 100%;
            padding: 10px;
            border-bottom: none;
          }
        }
        .radioBox {
          padding: 0;
        }
        .radioList01 {
          .list {
            display: block;
            margin: 0;
            + .list {
              margin: 20px 0 0;
            }
          }
        }

        .checkList01 {
          .ul {
            .li {
              display: block;
              + .li {
                margin: 10px 0 0;
              }
            }
          }
          .checkItem {
            display: inline-block;
            padding: 0 5px 0 0;
            + input {
              display: inline-block;
              width: 150px;
            }
          }
        }

        .addressBox,
        .dateBox {
          .dl {
            display: block;

            .dt {
              display: block;
              width: 100%;
            }

            .dd {
              display: block;
            }
          }
        }

        .datePanel {
          display: block;
          font-size: 14px;
          + .datePanel {
            margin: 20px 0 0;
          }
          > * {
            padding: 0 0 5px;
          }
          input {
            width: 60px;
          }
          .selectBox {
            width: 60px;
          }
          .dateTtl {
            margin: 0 10px 0 0;
          }
          .dateTxt {
            margin: 0 5px;
          }
        }

        .dateBox {
          input[type="text"] {
            width: 70px;
          }

          .radioList {
            display: block;
            margin: 10px 0 0;
          }
        }

        .selectBox {
          width: 180px;
        }

        .privacy {
          .agreeBox {
            height: 250px;
            padding: 20px 10px;
          }
        }
      }
      .fileUploadBox {
        display: block;
        .fileBox {
          display: block;
          width: 100%;
        }
        .place {
          margin: 0 0 5px;
        }
        .fileArea {
          display: block;
          width: 100%;
          .inputFile {
            width: 200px;
          }
          > p,
          .fileTxt {
            width: 100%;
            margin: 10px 0 0;
          }
        }
      }
      .fileUploadTitleBox {
        margin: 40px 0 20px;
        .fileUploadTitle {
          p {
            padding: 0 15px 0 0;
            font-size: 20px;
          }
        }
      }
    }
  }
}

/*////////////////////////////////////////////////////////////
	blog
///////////////////////////////////////////////////////////*/
@media (max-width: 1024px) {
  .blogMain {
    .blogSection {
      padding: 60px 0 80px;
    }
    .catePanel {
      padding: 40px 0;
      .webgene-blog {
        .webgene-item {
          display: block;
          width: 180px;
          margin: 0 auto 20px;
        }
      }
    }
    .blogPanel {
      &--list {
        .webgene-blog {
          display: flex;
          flex-wrap: wrap;
          margin: -40px 0 0 -10px;
          .webgene-item {
            width: calc((100% / 2) - 10px);
            margin: 40px 0 0 10px;
            .photo {
              position: relative;
              height: 0;
              margin: 0 0 10px;
              padding: 0 0 80%;
              img {
                @include cover-image;
              }
            }
            .title {
              min-height: 0;
              margin: 0;
            }
            .more {
              p {
                padding: 5px 0;
                font-size: 12px;
                background: url(https://sit-10205333.sibloo.com/system_panel/uploads/images/blog_list_arrow.png)
                  right 2px center no-repeat;
                background-size: 10px auto;
              }
            }
          }
        }
        .webgene-pagination {
          margin: 60px auto 0;
        }
      }
      &--detail {
        .webgene-blog {
          .ttlBox {
            font-size: 20px;
          }
          .slickSlide {
            margin: 0 0 40px;
            .slider {
              .li {
                > div {
                  padding: 0 0 70%;
                }
              }
            }
          }
          .thumb-item {
            &.slider {
              .li {
                > div {
                  overflow: hidden;
                  position: relative;
                  padding: 0 0 100%;
                }
                img {
                  position: absolute;
                  top: 0;
                  left: 0;
                  width: 100%;
                  height: 100%;
                  object-fit: cover;
                }
              }
            }
          }
          .slick-prev {
            left: -20px;
          }
          .slick-next {
            right: -20px;
          }
        }
        .btnBackBox {
          margin: 50px 0 0;
        }
        .btnBack {
          margin: 40px auto 0;
        }
        .btnMore {
          margin: 40px auto 0;
        }
      }
    }
  }
}
