@charset "UTF-8";
@import "./mixin";
@import "./mod";
/* CSS Document */

/*===================================================
	画面用CSS（PC/SMP）
===================================================*/

/*////////////////////////////////////////////////////////////
	TOP
///////////////////////////////////////////////////////////*/
.topMain {
  > h1 {
    font-size: 0;
  }
  .topKvPanel {
    .topKvContainer {
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      height: 100vh;
    }
    .topKv {
      position: relative;
      width: calc(100% / 2);
      height: 100%;
      img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
  .sec01 {
    margin: -1px 0 0;
    padding: 60px 0 100px;
    color: #ffffff;
    text-align: center;
    background: url(https://sit-10205333.sibloo.com/system_panel/uploads/images/top_sec01_bg.png)
      center no-repeat;
    background-size: cover;
    .secTtl {
      margin: 0 0 50px;
      font-size: 34px;
    }
    .list {
      max-width: 1060px;
      margin: 0 auto;
      .ul {
        .li {
          padding: 40px 20px;
          &:nth-child(1) {
            color: #b33932;
            background: url(https://sit-10205333.sibloo.com/system_panel/uploads/images/top_sec01_list_bg_01.png)
              no-repeat;
            background-size: contain;
          }
          &:nth-child(2) {
            background: url(https://sit-10205333.sibloo.com/system_panel/uploads/images/top_sec01_list_bg_02.png)
              no-repeat;
            background-size: contain;
          }
          &:nth-child(3) {
            background: url(https://sit-10205333.sibloo.com/system_panel/uploads/images/top_sec01_list_bg_03.png)
              no-repeat;
            background-size: contain;
          }
          &:nth-child(4) {
            background: url(https://sit-10205333.sibloo.com/system_panel/uploads/images/top_sec01_list_bg_04.png)
              no-repeat;
            background-size: contain;
          }
        }
      }
      @media (min-width: 1025px) {
        .ul {
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
          gap: 30px 0;
          .li {
            width: calc((100% / 2) - 20px);
          }
        }
      }
    }
  }
  .sec02 {
    padding: 100px 0;
    .secTtl {
      margin: 0 0 50px;
      font-size: 34px;
      text-align: center;
      .ttl {
        p {
          display: inline;
        }
        .em {
          background: linear-gradient(transparent 60%, #e0d7ae 60%);
        }
      }
    }
  }
  .sec03 {
    text-align: center;
    background: #ffffff;
    .secContainer {
      .secTtl {
        font-size: 70px;
        h2 {
          position: relative;
          display: inline;
          padding: 0 0 40px;
          &:after {
            content: "";
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            width: 80px;
            height: 2px;
            margin: 0 auto;
            background: #ef6b3d;
          }
        }
      }
      .secPanel {
        .secBox {
          a {
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 20px;
          }
          .dl {
            .dt {
              margin: 0 0 40px;
              font-size: 34px;
            }
            .dd {
              line-height: 2;
            }
          }
        }
        .secBox01 {
          a {
            background: url(https://sit-10205333.sibloo.com/system_panel/uploads/images/top_sec03_arrow_01.png)
              right bottom no-repeat;
            background-size: 50px auto;
          }
        }
        .secBox02 {
          a {
            background: url(https://sit-10205333.sibloo.com/system_panel/uploads/images/top_sec03_arrow_02.png)
              right bottom no-repeat;
            background-size: 50px auto;
          }
        }
        .secBox03 {
          a {
            background: url(https://sit-10205333.sibloo.com/system_panel/uploads/images/top_sec03_arrow_03.png)
              right bottom no-repeat;
            background-size: 50px auto;
          }
        }
      }
    }
    @media (min-width: 1025px) {
      .secContainer {
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid #000000;
        .secTtl {
          width: 120px;
          writing-mode: vertical-lr;
          border-right: 1px solid #000000;
        }
        .secPanel {
          display: flex;
          width: calc(100% - 120px);
          > * {
            width: 50%;
          }
          .secBox {
            a {
              &::before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                transition: 0.6s;
              }
              &:hover {
                opacity: 1;
                &::before {
                  opacity: 0;
                }
              }
            }
          }
          .secBox01 {
            border-right: 1px solid #000000;
            a {
              height: 900px;
              &::before {
                background: url(https://sit-10205333.sibloo.com/system_panel/uploads/images/top_sec03_bg_01.png)
                  no-repeat;
                background-size: cover;
              }
            }
          }
          .secBox02 {
            border-bottom: 1px solid #000000;
            a {
              &::before {
                background: url(https://sit-10205333.sibloo.com/system_panel/uploads/images/top_sec03_bg_02.png)
                  no-repeat;
                background-size: cover;
              }
            }
          }
          .secBox03 {
            a {
              &::before {
                background: url(https://sit-10205333.sibloo.com/system_panel/uploads/images/top_sec03_bg_03.png)
                  no-repeat;
                background-size: cover;
              }
            }
          }
          .secBoxList {
            .secBox {
              a {
                height: 450px;
              }
            }
          }
        }
      }
    }
  }
  .sec04 {
    padding: 100px 0 160px;
    text-align: center;
    background: #f6eee2;
    .secTtl {
      position: relative;
      margin: 0 0 50px;
      padding: 0 0 20px;
      font-size: 34px;
      &:after {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        width: 50px;
        height: 2px;
        margin: 0 auto;
        background: #181b39;
      }
    }
    .listBox {
      max-width: 1140px;
      margin: 0 auto;
      .ul {
        .li {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          padding: 20px;
          + .li {
            margin: 30px 0 0;
          }
          &.list01 {
            background: url(https://sit-10205333.sibloo.com/system_panel/uploads/images/top_sec04_bg_01.png)
              center no-repeat;
            background-size: cover;
          }
          &.list02 {
            background: url(https://sit-10205333.sibloo.com/system_panel/uploads/images/top_sec04_bg_02.png)
              center no-repeat;
            background-size: cover;
          }
          &.list03 {
            background: url(https://sit-10205333.sibloo.com/system_panel/uploads/images/top_sec04_bg_03.png)
              center no-repeat;
            background-size: cover;
          }
          &.list04 {
            background: url(https://sit-10205333.sibloo.com/system_panel/uploads/images/top_sec04_bg_04.png)
              center no-repeat;
            background-size: cover;
          }
        }
        .dl {
          .dt {
            margin: 0 0 20px;
            font-size: 22px;
          }
          .dd {
            font-size: 18px;
            line-height: 1.7;
          }
        }
      }
    }
    @media (min-width: 1025px) {
      .listBox {
        display: flex;
        justify-content: space-between;
        .ul {
          width: 49%;
          .li {
            height: 335px;
          }
          .dl {
            max-width: 460px;
            margin: 0 auto;
          }
          &:nth-child(1) {
            position: relative;
            top: 60px;
          }
        }
      }
    }
  }
  .sec05 {
    padding: 120px 0;
    background: url(https://sit-10205333.sibloo.com/system_panel/uploads/images/top_sec05_bg.png)
      no-repeat;
    background-size: cover;
    .secWrap01 {
      position: relative;
    }
    .secContainer {
      .secTtlBox {
        .secTtl {
          position: relative;
          margin: 0 0 50px;
          padding: 0 0 20px;
          font-size: 34px;
          color: #f7efe3;
          text-align: center;
          &:after {
            content: "";
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            width: 50px;
            height: 2px;
            margin: 0 auto;
            background: #f7efe3;
          }
        }
      }
      .blogPanel {
        .webgene-blog {
          .webgene-header {
            display: none;
          }
          .webgene-item {
            a {
              display: block;
              color: #ffffff;
            }
            .photo {
            }
            .txtBox {
              margin: 10px 0 0;
            }
          }
        }
      }
    }
    .more {
      width: 50px;
      a {
        display: block;
      }
    }
    @media (min-width: 1025px) {
      .secContainer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .secTtlBox {
          width: 120px;
        }
        .blogPanel {
          width: calc(100% - 300px);
          .webgene-blog {
            display: flex;
            margin: 0 0 0 -60px;
            .webgene-item {
              width: calc((100% / 3) - 60px);
              margin: 0 0 0 60px;
              .photo {
                position: relative;
                height: 350px;
                img {
                  @include cover-image;
                }
              }
            }
          }
        }
      }
      .more {
        position: absolute;
        left: 55px;
        bottom: 20px;
      }
    }
  }
  .sec06 {
    background: url(https://sit-10205333.sibloo.com/system_panel/uploads/images/top_sec06_bg.jpg)
      no-repeat;
    background-attachment: fixed;
    .fixedImage {
      display: none;
    }
    .secContainer {
      padding: 100vh 0 0;
      .secPanel {
        padding: 80px 20px;
        background: rgba(255, 255, 255, 0.9);
        .secTtl {
          position: relative;
          margin: 0 0 50px;
          padding: 0 0 20px;
          font-size: 34px;
          text-align: center;
          &:after {
            content: "";
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            width: 50px;
            height: 2px;
            margin: 0 auto;
            background: #181b39;
          }
        }
        .infoBox {
          max-width: 880px;
          margin: 0 auto;
          .dl {
            line-height: 2;
            .dt {
              padding: 15px 30px;
              border-bottom: 1px solid #c9aa4c;
            }
            .dd {
              padding: 15px 40px;
              border-bottom: 1px solid #181b39;
              a {
                display: inline-block;
              }
            }
          }
          @media (min-width: 1025px) {
            .dl {
              display: flex;
              .dt {
                width: 200px;
              }
              .dd {
                width: calc(100% - 200px);
              }
            }
          }
        }
      }
    }
  }
  .slidePanel {
    margin: 2px 0 0;
    .slideBox {
      .ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        .li {
          width: calc(100% / 5);
          margin: 0 1px;
        }
      }
    }
  }
}

/*////////////////////////////////////////////////////////////
	service
///////////////////////////////////////////////////////////*/
.serviceMain {
  .pageKvPanel {
    background: url(https://sit-10205333.sibloo.com/system_panel/uploads/images/service_kv.png)
      no-repeat;
    background-size: cover;
  }
  .topContainer {
    padding: 50px 0;
    background: #22485a;
    .linkList {
      max-width: 1100px;
      margin: 0 auto;
      .ul {
        .li {
          cursor: pointer;
        }
      }
      @media (min-width: 1025px) {
        .ul {
          display: flex;
          justify-content: space-between;
          .li {
            width: calc((100% / 3) - 20px);
          }
        }
      }
    }
  }
  .section {
    padding: 120px 0;
    .secTtl {
      position: relative;
      margin: 0 0 50px;
      padding: 0 0 20px;
      font-size: 34px;
      text-align: center;
      &:after {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        width: 50px;
        height: 2px;
        margin: 0 auto;
        background: #181b39;
      }
    }
    .explainContainer {
      margin: 80px 0 0;
      .dl {
        + .dl {
          margin: 30px 0 0;
        }
        .dt {
          font-size: 24px;
        }
        .dd {
          line-height: 2;
        }
      }
      @media (min-width: 1025px) {
        .dl {
          display: flex;
          align-items: center;
          .dt {
            width: 420px;
            padding: 30px 15px 30px 0;
            border-right: 1px solid #000000;
          }
          .dd {
            width: calc(100% - 420px);
            padding: 30px 20px;
          }
        }
      }
    }
    .flowContainer {
      margin: 100px 0 0;
      .flowTtl {
        margin: 0 0 40px;
        padding: 0 0 0 15px;
        font-size: 34px;
        h3 {
          line-height: 1.1;
        }
        &.flowTtl01 {
          border-left: 6px solid #e4cfa9;
        }
        &.flowTtl02 {
          border-left: 6px solid #42415d;
        }
        &.flowTtl03 {
          border-left: 6px solid #c6954e;
        }
      }
      .flowList01 {
        .ol {
          .li {
            position: relative;
            padding: 20px 20px 40px;
            text-align: center;
            border: 2px solid #a43932;
            background: #e4cfa9;
            .dl {
              .dt {
                margin: 0 0 15px;
                font-size: 34px;
              }
              .dd {
                font-size: 24px;
              }
            }
          }
        }
        @media (min-width: 1025px) {
          .ol {
            display: flex;
            justify-content: space-between;
            .li {
              width: calc((100% / 4) - 30px);
              + .li {
                &::before {
                  content: "";
                  position: absolute;
                  top: 0;
                  left: -33px;
                  bottom: 0;
                  width: 25px;
                  height: 40px;
                  margin: auto 0;
                  background: url(https://sit-10205333.sibloo.com/system_panel/uploads/images/service_flow_arrow_01.png)
                    no-repeat;
                  background-size: 100% auto;
                }
              }
            }
          }
        }
      }
      .flowList02 {
        .ol {
          .li {
            position: relative;
            padding: 20px 20px 40px;
            text-align: center;
            border: 2px solid #e0693f;
            background: #f6e5d7;
            .dl {
              .dt {
                margin: 0 0 15px;
                font-size: 34px;
              }
              .dd {
                font-size: 24px;
              }
            }
          }
        }
        @media (min-width: 1025px) {
          .ol {
            display: flex;
            justify-content: space-between;
            .li {
              width: calc((100% / 3) - 40px);
              + .li {
                &::before {
                  content: "";
                  position: absolute;
                  top: 0;
                  left: -43px;
                  bottom: 0;
                  width: 25px;
                  height: 40px;
                  margin: auto 0;
                  background: url(https://sit-10205333.sibloo.com/system_panel/uploads/images/service_flow_arrow_01.png)
                    no-repeat;
                  background-size: 100% auto;
                }
              }
              .dl {
                .dd {
                  display: flex;
                  flex-direction: column;
                  justify-content: center;
                  align-items: center;
                  min-height: 110px;
                }
              }
            }
          }
        }
      }
      .flowList03 {
        .ol {
          .li {
            position: relative;
            padding: 20px 20px 40px;
            color: #ffffff;
            text-align: center;
            border: 2px solid #c6954e;
            background: #456950;
            .dl {
              .dt {
                margin: 0 0 15px;
                font-size: 34px;
              }
              .dd {
                font-size: 24px;
              }
            }
          }
        }
        @media (min-width: 1025px) {
          .ol {
            display: flex;
            justify-content: space-between;
            .li {
              width: calc((100% / 5) - 30px);
              + .li {
                &::before {
                  content: "";
                  position: absolute;
                  top: 0;
                  left: -33px;
                  bottom: 0;
                  width: 25px;
                  height: 40px;
                  margin: auto 0;
                  background: url(https://sit-10205333.sibloo.com/system_panel/uploads/images/service_flow_arrow_01.png)
                    no-repeat;
                  background-size: 100% auto;
                }
              }
              .dl {
                .dd {
                  display: flex;
                  flex-direction: column;
                  justify-content: center;
                  align-items: center;
                  min-height: 75px;
                }
              }
            }
          }
        }
      }
      .aside {
        margin: 15px 0 0;
      }
    }
  }
  .sec01 {
    .secContainer {
      .ttlBox {
        margin: 0 0 30px;
        .ttl {
          font-size: 34px;
          text-align: center;
          p {
            display: inline;
          }
          .em {
            background: linear-gradient(transparent 60%, #e0d7ae 60%);
          }
        }
      }
    }
    .checkContainer {
      margin: 40px 0 80px;
      border: 1px solid #86283e;
      background: #ffffff;
      .dl {
        .dt {
          padding: 30px;
          font-size: 24px;
          color: #ffffff;
          text-align: center;
          background: #86283e;
        }
        .dd {
          padding: 30px;
          .ul {
            .li {
              padding: 0 0 0 30px;
              background: url(https://sit-10205333.sibloo.com/system_panel/uploads/images/service_list_chaeck_01.png)
                left center no-repeat;
              background-size: 20px auto;
              + .li {
                margin: 10px 0 0;
              }
            }
          }
        }
      }
      @media (min-width: 1025px) {
        .dl {
          display: flex;
          justify-content: stretch;
          .dt {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 350px;
          }
          .dd {
            width: calc(100% - 350px);
          }
        }
      }
    }
    .chart {
      max-width: 600px;
      margin: 40px auto;
    }
  }
  .sec02 {
    background: #dcd0a3;
    .secContainer {
      .ttlBox {
        margin: 0 0 30px;
        .ttl {
          font-size: 34px;
          text-align: center;
          p {
            display: inline;
          }
          .em {
            background: linear-gradient(transparent 60%, #ef6b3d 60%);
          }
        }
      }
    }
    .checkContainer {
      margin: 40px 0 80px;
      border: 1px solid #ef6b3d;
      background: #ffffff;
      .dl {
        .dt {
          padding: 30px;
          font-size: 24px;
          color: #ffffff;
          text-align: center;
          background: #ef6b3d;
        }
        .dd {
          padding: 30px;
          .ul {
            .li {
              padding: 0 0 0 30px;
              background: url(https://sit-10205333.sibloo.com/system_panel/uploads/images/service_list_chaeck_02.png)
                left center no-repeat;
              background-size: 20px auto;
              + .li {
                margin: 10px 0 0;
              }
            }
          }
        }
      }
      @media (min-width: 1025px) {
        .dl {
          display: flex;
          justify-content: stretch;
          .dt {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 350px;
          }
          .dd {
            width: calc(100% - 350px);
          }
        }
      }
    }
  }
  .sec03 {
    background: #f1f3e7;
    .secContainer {
      .ttlBox {
        margin: 0 0 30px;
        .ttl {
          font-size: 34px;
          text-align: center;
          p {
            display: inline;
          }
          .em {
            background: linear-gradient(transparent 60%, #e1d8ae 60%);
          }
        }
      }
    }
    .checkContainer {
      margin: 40px 0 80px;
      border: 1px solid #456950;
      background: #ffffff;
      .dl {
        .dt {
          padding: 30px;
          font-size: 24px;
          color: #ffffff;
          text-align: center;
          background: #456950;
        }
        .dd {
          padding: 30px;
          .ul {
            .li {
              padding: 0 0 0 30px;
              background: url(https://sit-10205333.sibloo.com/system_panel/uploads/images/service_list_chaeck_03.png)
                left center no-repeat;
              background-size: 20px auto;
              + .li {
                margin: 10px 0 0;
              }
            }
          }
        }
      }
      @media (min-width: 1025px) {
        .dl {
          display: flex;
          justify-content: stretch;
          .dt {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 350px;
          }
          .dd {
            width: calc(100% - 350px);
          }
        }
      }
    }
  }
  .secYearSupport {
    padding: 120px 0;
    color: #d8cda7;
    background: #22485a;
    .secTtl {
      position: relative;
      margin: 0 0 50px;
      padding: 0 0 20px;
      font-size: 34px;
      text-align: center;
      &:after {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        width: 50px;
        height: 2px;
        margin: 0 auto;
        background: #cc252a;
      }
    }
    .secContainer {
      .ttlBox {
        margin: 0 0 30px;
        .ttl {
          font-size: 34px;
          text-align: center;
        }
      }
      .txt {
        p + p {
          margin: 30px 0 0;
        }
      }
    }
  }
}

/*////////////////////////////////////////////////////////////
	contact
///////////////////////////////////////////////////////////*/
.contactMain {
  .pageKvPanel {
    background: url(https://sit-10205333.sibloo.com/system_panel/uploads/images/contact_kv.png)
      no-repeat;
    background-size: cover;
  }
  .sec01 {
    padding: 80px 0 100px;
    background: #f5ede0;
    .secTtl {
      position: relative;
      margin: 0 0 50px;
      padding: 0 0 20px;
      font-size: 34px;
      text-align: center;
      &:after {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        width: 50px;
        height: 2px;
        margin: 0 auto;
        background: #181b39;
      }
    }
    .topTxt {
      margin: 0 0 40px;
      text-align: center;
    }
  }
}

/*////////////////////////////////////////////////////////////
	form
///////////////////////////////////////////////////////////*/
.formMain {
  /* 入力項目
  --------------------------------------*/
  /*テキストボックス・メール・電話*/
  .contactForm input[type="text"],
  .contactForm input[type="email"],
  .contactForm input[type="tel"] {
    width: 100%;
    height: 50px;
    padding-left: 20px;
    font-size: 16px;
    border: 1px solid #b39e7c;
    background: #ffffff;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }
  /*テキストエリア*/
  .contactForm textarea {
    width: 100%;
    height: 200px;
    padding: 20px;
    font-size: 16px;
    border: 1px solid #b39e7c;
    background: #ffffff;
    resize: none;
    // box-shadow: 0 1px 2px rgba(3, 0, 11, 0.14);
  }
  .contactForm input[type="text"]:focus,
  .contactForm input[type="email"]:focus,
  .contactForm input[type="tel"]:focus,
  .contactForm textarea:focus {
    outline: 0;
    border: 2px solid #90cefd;
  }
  .btnSubmitBox {
    max-width: 230px;
    margin: 40px auto 0;
  }
  .contactForm button[type="submit"] {
    position: relative;
    display: block;
    width: 100%;
    padding: 7px 10px;
    font-family:
      $baseFont, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック体",
      "YuGothic", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN",
      "メイリオ", "Meiryo", "verdana", sans-serif;
    font-size: 15px;
    color: #ffffff;
    text-align: center;
    cursor: pointer;
    border: none;
    border: 1px solid #85283d;
    background: #85283d;
    transition: 0.6s;
    &:after {
      content: "";
      position: absolute;
      top: 0;
      right: -10px;
      bottom: 0;
      width: 30px;
      height: 5px;
      margin: auto 0;
      background: url(https://sit-10205333.sibloo.com/system_panel/uploads/images/btn_more_arrow.png)
        no-repeat;
      background-size: 100% auto;
      transition: 0.6s;
    }
    @media (min-width: 1025px) {
      &:hover {
        &:after {
          right: -15px;
        }
      }
    }
  }
  .contactForm button[type="submit"][disabled] {
    opacity: 0.6;
    cursor: default;
    pointer-events: none;
  }
  .contactForm .form {
    padding: 0 0 60px;
    .checkList {
      .ul {
        padding: 12px 0 0;
        + .ul {
          margin: 10px 0 0;
        }
        .li {
          + .li {
            margin: 10px 0 0;
          }
        }
      }
      .list {
        + .list {
          margin: 10px 0 0;
        }
      }
    }
    .checkList01 {
      .ul {
        .li {
          display: inline-block;
          + .li {
            margin: 0 0 0 10px;
          }
        }
      }
      .checkItem {
        display: inline-block;
        padding: 0 5px 0 0;
        + input {
          display: inline-block;
          width: 150px;
        }
      }
      .otherTxt {
        display: inline-block;
      }
    }
    .checkItem {
      + .checkItem {
        margin-top: 10px;
      }
      position: relative;
      display: flex;
      align-items: center;
      cursor: pointer;
      input[type="checkbox"] {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        width: 20px;
        height: 20px;
        z-index: 1;
      }
      label {
        display: inline-block;
        padding-left: 30px;
        position: relative;
        cursor: pointer;
        &::before {
          content: "";
          display: block;
          position: absolute;
          top: 50%;
          left: 0;
          width: 18px;
          height: 18px;
          transform: translateY(-50%);
          border: 1px solid #b39e7c;
          background: #ffffff;
        }
      }
      input[type="checkbox"]:checked + label::after {
        content: "";
        display: block;
        position: absolute;
        top: 50%;
        left: 5px;
        width: 7px;
        height: 14px;
        transform: translateY(-50%) rotate(40deg);
        border-bottom: 3px solid #c9aa4c;
        border-right: 3px solid #c9aa4c;
      }
      &.agreeCheck {
        justify-content: center;
      }
    }

    .radioList01 {
      .list {
        display: inline-block;
        margin: 0 20px 0 0;
      }
      .otherTxt {
        display: inline-block;
      }
    }

    .radioBox {
      padding: 10px 0;
      .radio {
        position: relative;
        display: inline-block;
      }

      input[type="radio"] {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        z-index: 1;
      }

      label {
        position: relative;
        padding: 5px 0 5px 35px;
      }

      label:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        width: 25px;
        height: 25px;
        margin: auto 0;
        border-radius: 50%;
        border: 1px solid #b7c5b2;
        background: #eff8ec;
        box-sizing: border-box;
      }

      input[type="radio"]:checked + label:before {
        border: 8px solid #000000;
      }
    }

    .postalBox {
      margin: 0 0 5px;
      input {
        width: 90px;
      }

      input + .span {
        display: inline-block;
        margin: 0 5px;
      }

      .postalTxt {
        display: inline-block;
        margin: 0 5px;
      }
      + input {
        + input {
          margin: 5px 0;
        }
      }
    }

    .selectBox {
      display: inline-block;
      width: 200px;
      select {
        display: block;
        width: 100%;
        padding: 11px 20px;
        font-size: 16px;
        color: #000000;
        line-height: 1.5em;
        border-radius: 0;
        border: 1px solid #deebe4;
        border-radius: 15px;
        background: #f7f7f7;
        background-size: 10px auto;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
      }
      + .span {
        display: inline-block;
        margin: 0 5px;
      }
    }
  }
  .contactForm {
    .formBox {
      + .formBox {
        margin-top: 60px;
      }

      > .dl {
        position: relative;
        display: flex;
        width: 100%;
        border-bottom: 1px solid #b39e7c;
        &.line {
          > .dt {
            vertical-align: top;
          }
        }

        > .dt {
          overflow: hidden;
          width: 340px;
          margin: 0 2px 0 0;
          padding: 20px 10px;
          .span {
            display: inline-block;
            min-width: 165px;
            margin-right: 10px;
            padding: 0 0 0 5px;
            vertical-align: middle;
            p {
              display: inline-block;
            }
          }

          .em {
            display: inline-block;
            padding: 0 8px;
            font-size: 14px;
            color: #ffffff;
            vertical-align: middle;
            background: #c9aa4c;
          }

          .small {
            display: inline-block;
            margin: 0 0 0 10px;
            font-size: 13px;
          }

          .aside {
            margin-top: 0;

            p {
              font-size: 14px;
              padding-left: 1em;
              text-indent: -1em;
            }
          }

          @media (min-width: 1025px) {
            .span {
              float: left;
            }
            .em {
              float: right;
            }
          }
        }

        > .dd {
          position: relative;
          width: calc(100% - 345px);
          padding: 10px 20px;
        }
      }
      .datePanel {
        display: flex;
        justify-content: space-between;
        font-size: 15px;
        + .datePanel {
          margin: 10px 0 0;
        }
        > * {
          display: flex;
          align-items: center;
        }
        input {
          width: 70px;
          border-radius: 15px;
        }
        .selectBox {
          width: 70px;
        }
        .dateTtl {
          margin: 0 10px 0 0;
        }
        .dateTxt {
          margin: 0 5px;
        }
      }
      .addressBox,
      .dateBox {
        .dl {
          display: table;
          width: 100%;

          + .dl {
            margin-top: 10px;
          }

          .dt {
            display: table-cell;
            width: 60px;
            vertical-align: middle;
          }

          .dd {
            display: table-cell;
            vertical-align: middle;
          }
        }
      }
      .addressBox {
        .innerBox {
          + .innerBox {
            margin: 5px 0 0;
          }
        }
      }
      @media (min-width: 1025px) {
        .addressBox {
          .innerBox {
            display: flex;
            align-items: center;
            > p {
              width: 80px;
              font-size: 16px;
            }
            .inputBox {
              width: calc(100% - 80px);
            }
          }
        }
      }
      .ageInput {
        input {
          display: inline-block;
          width: 120px;
          margin: 0 5px 0 0;
        }
        > p {
          display: inline-block;
        }
      }
      .meetingBox {
        margin: 0 0 20px;
        .radioList {
          display: inline-block;

          .list {
            display: inline-block;
            margin: 0 20px 0 0;
          }
        }
      }
      .dateBox {
        + .dateBox {
          margin: 10px 0 0;
        }
        + .txt {
          margin: 10px 0 0;
        }
        input[type="text"] {
          width: 90px;
        }

        .em {
          display: inline-block;
        }

        .span {
          display: inline-block;
          margin: 0 5px;
          vertical-align: middle;
        }
        .radioList {
          display: inline-block;
          margin: 0 0 0 40px;

          .list {
            display: inline-block;
            margin: 0 20px 0 0;
          }
        }
      }
      .caution {
        margin-top: 10px;
        color: #d20000;
        line-height: 2;
      }
      .telBox {
        padding: 10px 10px 40px;
        font-size: 0;
        font-weight: 400;
        text-align: left;
        line-height: 2;
        > * {
          display: inline-block;
          font-size: 14px;
        }
      }
      .telTxt {
        padding: 10px 10px 0;
      }
      .privacy {
        padding: 10px;

        > p {
          margin: 0 0 20px;
          text-align: left;
        }

        .agreeBox {
          overflow: scroll;
          height: 500px;
          padding: 20px;
          text-align: left;
          border: 1px solid #b39e7c;
          background: #e3d8c7;
          .box {
            + .box {
              margin: 30px 0 0;
            }
            .link {
              a {
                display: inline-block;
              }
            }
          }
          p {
            line-height: 2;
          }
          .tel {
            p,
            a {
              display: inline-block;
            }
          }
        }
      }

      .privacy + .checkItem {
        margin: 40px 0;
        text-align: center;
      }
    }
    .fileUploadBox {
      .ttl {
        margin: 0 0 10px;
        line-height: 2;
      }
      .fileBox {
        display: flex;
        align-items: center;
        gap: 0 20px;
        + .fileBox {
          margin: 10px 0 0;
        }
      }
      .place {
        width: 100px;
      }
      .fileArea {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 0 20px;
        width: calc(100% - 120px);

        + .fileArea {
          margin: 10px 0 0;
        }

        .inputFile {
          position: relative;
          width: 180px;
          font-size: 16px;
          color: #ffffff;
          text-align: center;
          border: 1px solid #b39e7c;
          background: #d2c2a8;

          input {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            opacity: 0;
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
          }

          p {
            padding: 12px 10px;
          }
        }

        > p,
        .fileTxt {
          width: 70%;
        }
        .fileTxt {
          p {
            display: inline-block;
          }
          .fileName {
            margin: 0 10px 0 0;
          }
          .attention {
            font-size: 13px;
            color: #54765f;
          }
        }
      }
      .txt {
        line-height: 2;
      }
    }
    .aside {
      margin: 10px 0 0;
    }
    .fileUploadTitleBox {
      margin: 60px 0 30px;
      .fileUploadTitle {
        position: relative;
        max-width: 440px;
        margin: 0 0 20px;
        &:before {
          content: "";
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          width: 100%;
          height: 1px;
          margin: auto;
          background: #000000;
        }
        p {
          position: relative;
          display: inline-block;
          padding: 0 20px 0 0;
          font-size: 30px;
          font-weight: bold;
          background: #ffffff;
        }
      }
    }
  }
}

/*////////////////////////////////////////////////////////////
	complete
///////////////////////////////////////////////////////////*/
.complete {
  padding: 60px 0 100px;
  .txt {
    margin: 0 0 40px;
    text-align: center;
    line-height: 3;
  }
  .btnMore {
    width: 220px;
    margin: 0 auto;
    a {
      display: block;
      padding: 10px 0;
      font-size: 16px;
      color: #ffffff;
      text-align: center;
      background: #85283d;
    }
  }
}

/*////////////////////////////////////////////////////////////
	blog
///////////////////////////////////////////////////////////*/
.blogMain {
  .pageKvPanel {
    background: url(https://sit-10205333.sibloo.com/system_panel/uploads/images/blog_kv.png)
      no-repeat;
    background-size: cover;
  }
  .blogSection {
    padding: 80px 0 120px;
  }
  .catePanel {
    padding: 40px 0 80px;
    .webgene-blog {
      .webgene-header {
        display: none;
      }
      .webgene-item {
        display: inline-block;
        width: 220px;
        margin: 0 10px 0 0;
        a {
          position: relative;
          display: block;
          padding: 10px 10px;
          font-size: 16px;
          color: #ffffff;
          text-align: center;
          background: #214657;
        }
      }
    }
  }
  .blogPanel {
    &--list {
      .webgene-blog {
        .webgene-header {
          display: none;
        }
        .webgene-item {
          a {
            display: block;
            padding: 0 0 5px;
            border-bottom: 1px solid #181b39;
          }
          .photo {
            margin: 0 0 20px;
            img {
              border-radius: 6px;
            }
          }
          .title {
            min-height: 30px;
            margin: 0 0 10px;
          }
          .more {
            p {
              display: block;
              background: url(https://sit-10205333.sibloo.com/system_panel/uploads/images/blog_list_arrow.png)
                right 5px center no-repeat;
              background-size: 10px auto;
            }
          }
        }
      }
      @media (min-width: 1025px) {
        .webgene-blog {
          display: flex;
          flex-wrap: wrap;
          margin: -80px 0 0 -80px;
          .webgene-item {
            width: calc((100% / 3) - 80px);
            margin: 80px 0 0 80px;
            .photo {
              position: relative;
              height: 240px;
              img {
                @include cover-image;
              }
            }
          }
        }
      }
      .webgene-pagination {
        overflow: hidden;
        width: 100%;
        margin: 100px auto 0;
        font-size: 14px;
        ul {
          max-width: 700px;
          margin: 0 auto;
          text-align: center;
          li {
            display: inline-block;
            margin: 0 2px;

            a {
              display: block;
              width: 45px;
              color: #ffffff;
              line-height: 45px;
              text-align: center;
              background: #d7cebf;
            }
          }
          .prev {
            margin: 0 2px 0 0;
          }
          .next {
            position: relative;
            margin: 0 0 0 2px;
          }
          .selected {
            a {
              background: #214657;
            }
          }
          @media (min-width: 1025px) {
            .prev {
              float: left;
            }
            .next {
              float: right;
            }
          }
        }
      }
    }
    &--detail {
      max-width: 1100px;
      margin: 0 auto;
      .webgene-blog {
        .webgene-header {
          display: none;
        }
        .info {
          margin: 0 0 15px;
          .cate {
            display: inline-block;
            min-width: 100px;
            margin: 0 10px 0 0;
            padding: 0 10px;
            color: #ffffff;
            text-align: center;
            background: #171a1c;
          }
          .time {
            display: inline-block;
            vertical-align: middle;
          }
        }
        .ttlBox {
          margin: 0 0 30px;
          padding: 0 0 10px;
          font-size: 30px;
          border-bottom: 1px solid #181b39;
        }
        img {
          border-radius: 6px;
        }
        .slickSlide {
          margin: 0 0 40px;
        }
        .slick-list {
          margin: 0 0 10px;
        }
        .thumb-item {
          max-width: 800px;
          margin: 0 0 10px;
          @media (min-width: 1025px) {
            img {
              display: block;
              // width: auto;
              max-height: 600px;
              // margin: 0 auto;
              object-fit: cover;
            }
          }
        }
        .slick-slide {
        }
        .slideNav {
          .slider {
            .li {
              > div {
                overflow: hidden;
                position: relative;
                padding: 0 0 65%;
              }
              img {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                object-fit: cover;
              }
            }
          }
          .slick-slide {
            margin: 0 5px;
          }
        }
        .postBox {
          .photo {
            margin-bottom: 40px;
            img {
              width: auto;
              max-width: 100%;
            }
          }
          .postTxt {
            line-height: 2;
            p + p {
              margin: 30px 0 0;
            }
            img {
              max-width: 100%;
              width: auto;
              height: auto;
            }
          }
          .pdfArea {
            margin: 40px 0 0;
            a {
              color: #2151a3;
            }
          }
        }
        .videoBox {
          margin: 40px 0 0;
        }
      }
      .btnBackBox {
        margin: 80px 0 0;
        text-align: center;
      }
      .btnContact {
        max-width: 280px;
        margin: 0 auto;
        a {
          position: relative;
          display: block;
          padding: 10px;
          color: #ffffff;
          text-align: center;
          border: 1px solid #85283d;
          background: #85283d;
          &:after {
            content: "";
            position: absolute;
            top: 0;
            right: -10px;
            bottom: 0;
            width: 30px;
            height: 5px;
            margin: auto 0;
            background: url(https://sit-10205333.sibloo.com/system_panel/uploads/images/btn_more_arrow.png)
              no-repeat;
            background-size: 100% auto;
            transition: 0.6s;
          }
          @media (min-width: 1025px) {
            &:hover {
              &:after {
                right: -15px;
              }
            }
          }
        }
      }
      .btnMore {
        max-width: 220px;
        margin: 60px auto 0;
        a {
          display: block;
          padding: 10px;
          color: #ffffff;
          text-align: center;
          background: #214657;
        }
      }
      .webgene-item-aroundPageLink {
        display: inline-block;
        a {
          display: block;
          width: 40px;
          color: #ffffff;
          line-height: 44px;
          border-radius: 20px;
          background: #d10b14;
        }
      }
    }
  }
}
