@charset "UTF-8";
/* CSS Document */

/*===================================================
	共通CSS（SMP）
===================================================*/

/* --------------------------------------------------
	base
-------------------------------------------------- */
body {
  min-width: 0;
  font-size: 12px;
}
a:hover {
  text-decoration: none;
}
/*改行*/
.pcBreak {
  display: none;
}
.spBreak {
  display: block;
}
/*spのみ表示*/
.pcHidden {
  display: block;
}
.spHidden {
  display: none;
}
#sideBtn {
  display: none;
}
.topicPath {
  display: none;
}
/* --------------------------------------------------
	header
-------------------------------------------------- */
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px 5px;
  z-index: 999;
  border-bottom: 1px solid #d5bd7d;
  background: #ffffff;

  .headWrap {
    position: relative;
  }

  .logo {
    width: 175px;
    margin: 0 auto 10px;
  }

  .intro {
    display: none;
    font-size: 10px;
    text-align: center;

    .tel {
      display: none;
    }
  }

  #menuBtn {
    position: absolute;
    top: 0;
    right: 0;
    width: 30px;
    height: 50px;
    vertical-align: top;
    cursor: pointer;
    z-index: 1000;

    span {
      display: block;
      position: absolute;
      left: 0;
      width: 100%;
      height: 2px;
      background-color: #d5bd7d;
      z-index: 99999;
      transition: all 0.4s;
    }

    span:nth-child(1) {
      top: 0;
    }

    span:nth-child(2) {
      top: 10px;
    }

    span:nth-child(3) {
      top: 20px;
    }
  }

  #menuBtn.active {
    span:nth-child(1) {
      -webkit-transform: translateY(10px) rotate(-45deg);
      transform: translateY(10px) rotate(-45deg);
    }

    span:nth-child(2) {
      left: 50%;
      opacity: 0;
      -webkit-animation: active-menu-bar02 0.8s forwards;
      animation: active-menu-bar02 1s forwards;
    }

    span:nth-child(3) {
      -webkit-transform: translateY(-10px) rotate(45deg);
      transform: translateY(-10px) rotate(45deg);
    }
  }

  @-webkit-keyframes active-menu-bar02 {
    100% {
      height: 0;
    }
  }
  @keyframes active-menu-bar02 {
    100% {
      height: 0;
    }
  }
}

/* --------------------------------------------------
	nav
-------------------------------------------------- */
nav {
  display: none;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 60px 10px 0;
  z-index: 999;
  background-color: rgba(255, 255, 255, 0.95);

  ul {
    overflow: hidden;
    max-width: 300px;
    margin: 0 auto;

    li {
      float: left;
      width: 45%;
      margin: 0 0 20px;
      padding-left: 20px;
      text-align: left;
      background: url("../image/common/nav_icon.png") left center no-repeat;
    }
  }
}

/* --------------------------------------------------
	main
-------------------------------------------------- */
main {
  margin: 54px 0 0;
}

/* --------------------------------------------------
	kv
-------------------------------------------------- */
.kv {
  padding: 100px 10px;

  h2 {
    font-size: 20px;
  }
}

/* --------------------------------------------------
	footer
-------------------------------------------------- */
footer {
  .footBox {
    padding: 30px 10px;

    dl {
      display: block;
      text-align: center;

      dt {
        display: block;
        margin-bottom: 20px;

        img {
          width: 170px;
        }
      }

      dd {
        display: block;
        line-height: 2;
      }
    }
  }

  .copy {
    padding: 10px;
  }
}
