@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;500;700&display=swap");
@import "./mixin";
@import "./mod";
/* CSS Document */
/*===================================================
	共通CSS（PC/SMP）
===================================================*/

/*////////////////////////////////////////////////////////////
	共通設定
///////////////////////////////////////////////////////////*/

/* --------------------------------------------------
	base
-------------------------------------------------- */
* {
  box-sizing: border-box;
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
html,
body {
  width: 100%;
}
body {
  position: relative;
  overflow-x: hidden;
  font-family:
    "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN",
    "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
  //font-family: "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック体", "YuGothic", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", "Meiryo", "verdana", sans-serif;
  line-height: 1.5;
  color: $mainColor;
  font-size: $PCfontSize;
  background: $bgBaseColor;
  transition: 2s;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: $lhBase;
}

.txt {
  line-height: $lhTxt;
}

/*リンク */
a {
  color: $mainColor;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}

/* 画像幅 */
img {
  width: 100%;
  height: auto;
  vertical-align: middle;
}

/* clearfix */
.clearfix::after {
  content: ".";
  display: block;
  height: 0;
  font-size: 0;
  clear: both;
  visibility: hidden;
}

.spBreak {
  display: none;
}

@media (min-width: 1025px) {
  a {
    transition: 0.6s;
  }

  a:hover {
    opacity: 0.6;
  }
}

.fax {
  a {
    pointer-events: none;
  }
}

/* --------------------------------------------------
	header
-------------------------------------------------- */
@media (min-width: 1025px) {
  .header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    z-index: 999;
    background: #f4efe2;
    .headWrap {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      padding: 20px;
    }
    .logo {
      position: absolute;
      top: 20px;
      left: 5%;
      width: 80px;
      transition: 0.6s;
      a {
        display: block;
      }
    }
    .hamburger {
      display: none;
    }
  }
  .topHeader {
    background: none;
    .logo {
      opacity: 0;
    }
    .navBox {
      opacity: 0;
      transition: opacity 1s ease;
      &.show {
        opacity: 1;
      }
    }
    &.fixed {
      background: #f4efe2;
      .logo {
        opacity: 1;
      }
    }
  }
}

/* --------------------------------------------------
	nav
-------------------------------------------------- */
@media (min-width: 1025px) {
  .navBox {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 0 5%;
    width: 90%;
    max-width: 1000px;
    .navList {
      ul {
        display: flex;
        gap: 0 20px;
        > li {
          position: relative;
          > a,
          > p {
            display: inline-block;
            cursor: pointer;
          }
          > ul {
            display: none;
            position: absolute;
            top: 100%;
            left: 0;
            min-width: 200px;
            font-size: 14px;
            background: #ffffff;
            box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
            flex-direction: column;
            gap: 0;
            li {
              a {
                display: block;
                padding: 10px 20px;
                white-space: nowrap;
                &:hover {
                  opacity: 1;
                  background: #f4efe2;
                }
              }
            }
          }
          &:hover {
            > ul {
              display: flex;
            }
          }
        }
      }
    }
    .navItem {
      .telBox {
        text-align: right;
        > p {
          margin: 0 0 3px;
          font-size: 13px;
        }
        .tel {
          a {
            display: inline-block;
            padding: 0 0 0 30px;
            font-size: 26px;
            line-height: 1;
            background: url("../image/common/header_tel.png") no-repeat;
            background-size: 25px auto;
          }
        }
      }
    }
  }
}

/* --------------------------------------------------
	main
-------------------------------------------------- */
.main {
  overflow: hidden;
  margin: 80px 0 0;
}
.pageKvContainer {
  position: relative;
  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: calc(100% - 600px);
    height: 40px;
    background: #f4efe2;
  }
  &:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 600px;
    height: 40px;
    background: url("../image/common/page_kv_bg.png") no-repeat;
    background-size: cover;
  }
  .pageKvPanel {
    position: relative;
    padding: 0 20px;
    width: 70%;
    max-width: 1200px;
    margin: 0 auto;
    height: 400px;
    .kvTtl {
      position: absolute;
      top: 0;
      left: 0;
      padding: 30px 10px;
      font-size: 30px;
      z-index: 1;
      writing-mode: vertical-rl;
      background: #ffffff;
    }
  }
}
.pageSecTtlBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 0 60px;
  text-align: center;
  .pageSecTtl {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px;
    border: 2px solid #fbf9f4;
    h2 {
      display: inline-block;
      padding: 30px 10px;
      font-size: 30px;
      writing-mode: vertical-rl;
      background: #fbf9f4;
    }
  }
}
.secWrap {
  max-width: 1640px;
  margin: 0 auto;
  padding: 0 20px;
}
.secWrap01 {
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 20px;
}
.secWrap02 {
  max-width: 1040px;
  margin: 0 auto;
  padding: 0 20px;
}
.mapBox {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 0;
  padding: 0 0 45%;

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
  }
}
.btnMore {
  max-width: 180px;
  a {
    display: block;
    padding: 7px 10px;
    font-size: 15px;
    color: #ffffff;
    text-align: center;
    background: url("../image/common/btn_arrow_right_white.png") right 10px
      center no-repeat #988135;
  }
}

/* --------------------------------------------------
	footer
-------------------------------------------------- */
.footer {
  .footContact {
    padding: 80px 0;
    text-align: center;
    background: #ecece9;
    .secTtl {
      margin: 0 0 30px;
      font-size: 30px;
    }
    .itemPanel {
      max-width: 860px;
      margin: 0 auto;
      .itemBox {
        dl {
          dt {
            margin: 0 0 10px;
            font-size: 24px;
          }
          dd {
            a {
              display: block;
              padding: 12px 10px;
              font-size: 30px;
              border-top: 1px solid #231815;
              border-bottom: 1px solid #231815;
            }
            > p {
              font-size: 14px;
              margin: 10px 20px 0;
              text-align: left;
            }
          }
        }
      }
    }
    @media (min-width: 1025px) {
      .itemPanel {
        display: flex;
        justify-content: space-between;
        .itemBox {
          width: 48%;
        }
      }
    }
  }
  .footPanel {
    padding: 60px 0 20px;
    color: #ffffff;
    text-align: center;
    background: url("../image/common/footer_panel_bg.png") center no-repeat;
    background-size: cover;
    .logo {
      width: 80px;
      margin: 0 auto 20px;
    }
    .info {
      display: inline-block;
      dl {
        display: flex;
        text-align: left;
        line-height: 2;
        dt {
          width: 80px;
        }
        dd {
          position: relative;
          padding: 0 0 0 1em;
          &::before {
            content: "：";
            position: absolute;
            top: 0;
            left: 0;
          }
          a {
            display: inline-block;
            color: #ffffff;
          }
        }
      }
    }
    .sns {
      margin: 15px 0 0;
      a {
        display: inline-block;
        width: 25px;
      }
    }
    .copy {
      margin: 40px 0 0;
      text-align: right;
    }
  }
}

/* --------------------------------------------------
	fadeAnimation
-------------------------------------------------- */
body::after {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ffffff; /* 背景カラー */
  z-index: 9999; /* 一番手前に */
  pointer-events: none; /* 他の要素にアクセス可能にするためにポインターイベントは無効に */
  opacity: 0; /* 初期値では非表示 */
  -webkit-transition: opacity 0.8s ease; /* アニメーション時間は 0.8秒 */
  -ms-transition: opacity 0.8s ease;
  -moz-transition: opacity 0.8s ease;
  transition: opacity 0.8s ease;
}

/*body要素に.fadeoutセレクタがある場合には、レイヤーが表示されるようにopacityを１に設定します。*/

body.fadeout::after {
  opacity: 1;
}

/*お好みで、.fadeoutセレクタ以下の他の要素にもアニメーション用のCSSを定義します*/
/*DEMOではページ遷移時にarticle要素のスケールもアニメーションさせています*/

body.fadeout article {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}
