@charset "UTF-8";
@import "./mixin";
@import "./mod";
/* CSS Document */

/*===================================================
	画面用CSS（PC/SMP）
===================================================*/

/*////////////////////////////////////////////////////////////
	TOP
///////////////////////////////////////////////////////////*/
#top {
  margin: 0;
  .topKvContainer {
    height: 100vh;
    background: url("../image/top/top_kv_01.png") center no-repeat;
    background-size: cover;
    overflow: hidden;
    position: relative;
    @media (min-width: 1025px) {
      .topKvLogoPanel {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        height: 400px;
        padding: 20px 20px 50px;
        z-index: 1;
        background: url("../image/top/top_window_bg.png") bottom center
          no-repeat;
        background-size: cover;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        transform: translateY(0);
        transition: transform 1.5s ease;
        &::before {
          content: "";
          position: absolute;
          bottom: 100%;
          left: 0;
          width: 100%;
          height: calc(100vh - 400px);
          background: rgba(244, 239, 226, 0.9);
          z-index: -1;
        }
        &.rollUp {
          transform: translateY(-100%);
          .topKvLogo {
            opacity: 1;
          }
        }
        .topKvLogo {
          opacity: 0;
          width: 120px;
          margin: 0 auto;
          transition: 1s;
        }
      }
    }
    .topBnrPanel {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 60px;
      width: 100%;
      max-width: 640px;
      margin: 0 auto;
      padding: 0 20px;
      .topBnr {
        a {
          display: block;
        }
      }
    }
  }
  .topSection {
    padding: 120px 0;
    background: url("../image/top/top_sec_bg.png") center no-repeat;
    background-size: cover;
    .secContainer {
      .txtPanel {
        .txtBox {
          padding: 0 20px;
          .ttl {
            margin: 0 0 30px;
            font-size: 30px;
            writing-mode: vertical-rl;
            > * {
              line-height: 2;
            }
          }
          .txt {
            margin: 0 0 30px;
          }
        }
      }
      .photoPanel {
      }
    }
    @media (min-width: 1025px) {
      .secContainer {
        display: flex;
        justify-content: space-between;
        flex-direction: row-reverse;
        align-items: center;
        .txtPanel {
          width: 48%;
        }
        .photoPanel {
          width: 48%;
        }
      }
    }
  }
  .lunchboxSec {
    padding: 120px 0;
    .secPanel {
      position: relative;
      + .secPanel {
        margin: 100px 0 0;
      }
      > a {
        display: block;
      }
      .photo {
        position: relative;
        &::before {
          content: "";
          position: absolute;
          top: 0;
          right: 0;
          width: 100px;
          height: 100px;
          background: url("../image/top/lunchbox_photo_bg_01.png") center
            no-repeat;
          background-size: contain;
        }
        &::after {
          content: "";
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100px;
          height: 100px;
          background: url("../image/top/lunchbox_photo_bg_02.png") center
            no-repeat;
          background-size: contain;
        }
      }
      .txtBox {
        a {
          display: block;
          padding: 50px;
          background: url("../image/top/lunchbox_box_bg_tri.png") left top
            no-repeat #ffffff;
          background-size: 45px auto;
        }
        .ttlHead {
          display: flex;
          gap: 0 20px;
          .ttl {
            font-size: 30px;
            > * {
              line-height: 1.2;
            }
            span {
              font-size: 16px;
            }
          }
          .more {
            width: 40px;
            a {
              display: block;
            }
          }
        }
        .cntBody {
          .txt {
            line-height: 2;
          }
        }
      }
    }
    @media (min-width: 1025px) {
      .secPanel {
        .txtBox {
          width: 50%;
          max-width: 600px;
          .inner {
            display: flex;
            justify-content: space-between;
            gap: 0 10px;
          }
          .ttlHead {
            flex-direction: column;
            align-items: center;
            gap: 30px 0;
            width: 100px;
            .ttl {
              writing-mode: vertical-rl;
            }
            .more {
              margin: 0 auto;
            }
          }
          .cntBody {
            width: calc(100% - 100px);
          }
        }
        &:nth-child(odd) {
          .txtBox {
            position: absolute;
            right: -40px;
            bottom: -40px;
          }
        }
        &:nth-child(even) {
          .txtBox {
            position: absolute;
            left: -40px;
            bottom: -40px;
          }
        }
      }
    }
  }
  .linkSec {
    padding: 120px 0;
    background: #ede8d7;
    .itemPanel {
      .itemBox {
        a {
          position: relative;
          display: block;
        }
        .ttl {
          position: absolute;
          right: 0;
          bottom: 20px;
        }
        .ttl01 {
          width: 70%;
        }
        .ttl02 {
          width: 60%;
        }
      }
    }
    @media (min-width: 1025px) {
      .itemPanel {
        display: flex;
        justify-content: space-between;
        .itemBox {
          width: 48%;
        }
      }
    }
  }
  .newsSec {
    padding: 120px 0;
    .secContainer {
      .titleBox {
        display: flex;
        flex-direction: column;
        align-items: center;
        .ttl {
          margin: 0 0 40px;
          font-size: 30px;
          writing-mode: vertical-rl;
        }
        .more {
          width: 180px;
          a {
            position: relative;
            display: block;
            padding: 7px 10px;
            text-align: center;
            border-radius: 30px;
            border: 1px solid #231815;
            &:after {
              content: "";
              position: absolute;
              top: 0;
              right: -12px;
              bottom: 0;
              width: 25px;
              height: 1px;
              margin: auto 0;
              background: #231815;
            }
          }
        }
      }
      .txtBox {
        ul {
          li {
            a {
              display: block;
            }
            .ttl {
              margin: 10px 0 0;
            }
          }
        }
      }
    }
    @media (min-width: 1025px) {
      .secContainer {
        display: flex;
        justify-content: space-between;
        .titleBox {
          width: 200px;
        }
        .txtBox {
          width: calc(100% - 300px);
          ul {
            display: flex;
            gap: 0 50px;
            li {
              width: calc((100% / 3) - 50px);
            }
          }
        }
      }
    }
  }
}

/*////////////////////////////////////////////////////////////
	commitment
///////////////////////////////////////////////////////////*/
#commitment {
  .pageKvContainer {
    background: url("../image/commitment/kv.png") center no-repeat;
    background-size: cover;
  }
  .topSection {
    padding: 120px 0;
    background: url("../image/commitment/top_sec_bg.png") center no-repeat;
    background-size: cover;
    .secContainer {
      .ttlBox {
        .ttl {
          font-size: 30px;
          writing-mode: vertical-rl;
          > * {
            line-height: 2;
          }
        }
      }
      .txtBox {
        padding: 20px 0 0;
      }
    }
    @media (min-width: 1025px) {
      .secContainer {
        display: flex;
        justify-content: space-between;
        .ttlBox {
          width: 25%;
        }
        .txtBox {
          width: 75%;
        }
      }
    }
  }
  .sec01 {
    padding: 120px 0;
    .secBox {
      + .secBox {
        margin: 100px 0 0;
      }
      .txtBox {
        padding: 15px 0 0;
        h3 {
          margin: 0 0 20px;
          font-size: 26px;
        }
      }
    }
    @media (min-width: 1025px) {
      .secBox {
        display: flex;
        justify-content: space-between;
        .photo {
          width: 50%;
        }
        .txtBox {
          width: 45%;
        }
        &:nth-child(odd) {
          flex-direction: row-reverse;
        }
      }
    }
  }
}

/*////////////////////////////////////////////////////////////
	sale
///////////////////////////////////////////////////////////*/
#sale {
  .pageKvContainer {
    background: url("../image/sale/kv.png") center no-repeat;
    background-size: cover;
  }
  .topSection {
    padding: 120px 0;
    background: url("../image/sale/top_sec_bg.png") center no-repeat;
    background-size: cover;
    .secContainer {
      .txtBox {
        h2 {
          margin: 0 0 20px;
          font-size: 30px;
        }
      }
    }
    @media (min-width: 1025px) {
      .secContainer {
        display: flex;
        justify-content: space-between;
        .txtBox {
          width: 58%;
        }
        .photo {
          width: 40%;
        }
      }
    }
  }
  .telSection {
    padding: 60px 0;
    text-align: center;
    background: #ecece9;
    .ttlBox {
      margin: 0 0 30px;
      .ttl01 {
        margin: 0 0 5px;
        font-size: 24px;
      }
      .ttl02 {
        font-size: 14px;
      }
    }
    .itemBox {
      max-width: 840px;
      margin: 0 auto;
      dl {
        max-width: 380px;
        dt {
          margin: 0 0 10px;
          font-size: 20px;
        }
        dd {
          a {
            display: block;
            padding: 8px 10px;
            font-size: 28px;
            border-top: 1px solid #231815;
            border-bottom: 1px solid #231815;
          }
        }
      }
      aside {
        font-size: 14px;
        text-align: left;
      }
    }
    @media (min-width: 1025px) {
      .itemBox {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        dl {
          width: 49%;
        }
        aside {
          width: 49%;
          padding: 0 0 10px;
        }
      }
    }
  }
  .sec01 {
    padding: 120px 0;
    .pageSecTtlBox {
      margin: 0 0 20px;
    }
    .topTxt {
      margin: 0 0 60px;
      text-align: center;
    }
    .secPanel {
      margin: 0 0 50px;
      .txtBox {
        .ttlBox {
          display: flex;
          justify-content: space-between;
          margin: 0 0 20px;
          padding: 10px 0 0;
          .ttl {
            em {
              font-size: 24px;
            }
            span {
              font-size: 18px;
            }
          }
          .price {
            em {
              font-size: 18px;
            }
            span {
              font-size: 14px;
            }
          }
        }
        .txt {
          p + p {
            margin: 20px 0 0;
          }
        }
      }
    }
    @media (min-width: 1025px) {
      .secPanel {
        display: flex;
        justify-content: space-between;
        .photo {
          width: 50%;
        }
        .txtBox {
          width: 45%;
        }
      }
    }
    .message {
      max-width: 1000px;
      margin: 0 auto 30px;
      padding: 10px 20px;
      font-size: 22px;
      text-align: center;
      background: url("../image/sale/sec01_message_bg.png") center no-repeat;
      background-size: cover;
    }
    .listBox {
      margin: 0 0 60px;
      ul {
        display: flex;
        flex-wrap: wrap;
        margin: -30px 0 0 -30px;
        li {
          width: calc((100% / 3) - 30px);
          margin: 30px 0 0 30px;
        }
      }
    }
    .saleBox {
      max-width: 1000px;
      margin: 0 auto 30px;
      padding: 20px;
      text-align: center;
      background: #e9e9e5;
      .txt {
        line-height: 2;
        p + p {
          margin: 10px 0 0;
        }
      }
    }
    .subBox {
      position: relative;
      max-width: 550px;
      margin: 0 auto;
      padding: 3px;
      text-align: center;
      border: 1px solid #2a2a27;
      &::before {
        content: "";
        position: absolute;
        top: 5px;
        left: 5px;
        width: 100%;
        height: 100%;
        border: 1px solid #2a2a27;
      }
      .inner {
        position: relative;
        top: 5px;
        padding: 10px;
        font-size: 20px;
      }
    }
  }
  .slidePanel {
    padding: 0 0 120px;
    .slideBox {
      ul {
        display: flex;
        li {
          width: calc(100% / 5);
          margin: 0 2px;
        }
      }
    }
  }
}

/*////////////////////////////////////////////////////////////
	lunchbox
///////////////////////////////////////////////////////////*/
.lunchboxMain {
  .topSection {
    padding: 120px 0;
    background: url("../image/sale/top_sec_bg.png") center no-repeat;
    background-size: cover;
    .secContainer {
      .txtBox {
        h2 {
          margin: 0 0 20px;
          font-size: 30px;
        }
      }
      .photoList01 {
        .multi {
          display: flex;
          gap: 0 5px;
          li {
            width: calc((100% / 2) - 5px);
          }
        }
        .single {
          margin: 5px 0 0;
        }
      }
    }
    @media (min-width: 1025px) {
      .secContainer {
        display: flex;
        justify-content: space-between;
        .txtBox {
          width: 60%;
        }
        .photo {
          width: 37%;
          padding: 30px 0 0;
        }
        .photoList01 {
          width: 37%;
          padding: 30px 0 0;
        }
      }
    }
    .photoList02 {
      padding: 40px 0 0;
      ul {
        display: flex;
        flex-wrap: wrap;
        gap: 5px;
        li {
          width: calc((100% / 6) - 5px);
        }
      }
    }
  }
  .useSection {
    padding: 100px 0;
    .secTtl {
      margin: 0 0 40px;
      text-align: center;
      > * {
        position: relative;
        display: inline-block;
        padding: 0 60px;
        font-size: 24px;
        &:before {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          bottom: 0;
          width: 25px;
          height: 1px;
          margin: auto 0;
          background: #231815;
        }
        &:after {
          content: "";
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          width: 25px;
          height: 1px;
          margin: auto 0;
          background: #231815;
        }
      }
    }
    .secBox {
      dl {
        + dl {
          margin: 50px 0 0;
        }
        dt {
          font-size: 24px;
        }
        dd {
          line-height: 2;
        }
      }
      @media (min-width: 1025px) {
        dl {
          display: flex;
          justify-content: space-between;
          align-items: center;
          dt {
            width: 260px;
            padding: 15px 0;
            border-right: 1px solid #231815;
          }
          dd {
            width: calc(100% - 300px);
            padding: 10px 0;
          }
        }
      }
    }
  }
  .telSection {
    padding: 60px 0;
    text-align: center;
    background: #ecece9;
    .topTxt {
      margin: 0 0 40px;
      line-height: 2;
    }
    .itemBox {
      max-width: 800px;
      margin: 0 auto;
      + .itemBox {
        margin: 30px auto 0;
      }
      dl {
        max-width: 380px;
        dt {
          margin: 0 0 10px;
          font-size: 20px;
        }
        dd {
          a {
            display: block;
            padding: 8px 10px;
            font-size: 28px;
            border-top: 1px solid #231815;
            border-bottom: 1px solid #231815;
          }
        }
      }
      aside {
        font-size: 14px;
        text-align: left;
      }
      .pdfBox {
        max-width: 300px;
        a {
          display: block;
          padding: 15px 20px;
          text-align: left;
          background: #ffffff;
          p {
            padding: 0 0 0 55px;
            font-size: 14px;
            line-height: 1.7;
            background: url("../image/common/icon_pdf.png") left center
              no-repeat;
            background-size: 40px auto;
          }
        }
      }
    }
    @media (min-width: 1025px) {
      .itemBox {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        + .itemBox {
          justify-content: flex-start;
        }
        dl {
          width: 49%;
        }
        aside {
          width: 49%;
          padding: 0 0 10px;
        }
        .pdfBox {
          width: 49%;
          margin: 0 0 0 30px;
        }
      }
    }
    .limitBox {
      max-width: 500px;
      margin: 40px auto 0;
      padding: 20px;
      background: #ddddd7;
      dl {
        max-width: 420px;
        margin: 0 auto;
        text-align: left;
        dt {
          margin: 0 0 10px;
          span {
            font-size: 12px;
          }
          em {
            font-size: 22px;
          }
        }
        dd {
          line-height: 2;
        }
      }
    }
  }
  .sideMenuSection {
    + .sideMenuSection {
      margin: 80px 0 0;
    }
    .secTtl {
      margin: 0 0 40px;
      text-align: center;
      > * {
        position: relative;
        display: inline-block;
        padding: 0 60px;
        font-size: 24px;
        &:before {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          bottom: 0;
          width: 25px;
          height: 1px;
          margin: auto 0;
          background: #231815;
        }
        &:after {
          content: "";
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          width: 25px;
          height: 1px;
          margin: auto 0;
          background: #231815;
        }
      }
    }
    .menuList {
      ul {
        li {
          padding: 15px 20px;
          border-bottom: 1px solid #090909;
        }
        dl {
          line-height: 2;
          dd {
            text-align: right;
          }
        }
      }
      @media (min-width: 1025px) {
        ul {
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
          margin: -10px 0 0;
          li {
            width: calc((100% / 2) - 20px);
            margin: 10px 0 0;
          }
          dl {
            display: flex;
            justify-content: space-between;
          }
        }
      }
    }
  }
}

/*////////////////////////////////////////////////////////////
	packed
///////////////////////////////////////////////////////////*/
#packed {
  .pageKvContainer {
    background: url("../image/packed/kv.png") center no-repeat;
    background-size: cover;
  }
  .sec01 {
    padding: 120px 0;
    .pageSecTtlBox {
      margin: 0 0 20px;
    }
    .topTxt {
      margin: 0 0 40px;
      text-align: center;
    }
    .topBox {
      margin: 0 0 40px;
      h3 {
        margin: 0 0 20px;
        font-size: 30px;
      }
    }
    .listBox {
      ul {
        dl {
          margin: 20px 0 0;
          dt {
            margin: 0 0 20px;
            text-align: center;
            em {
              font-size: 24px;
            }
            span {
              margin: 0 0 0 10px;
              font-size: 20px;
            }
            small {
              font-size: 14px;
            }
          }
          dd {
            font-size: 15px;
            line-height: 2;
          }
        }
      }
      @media (min-width: 1025px) {
        ul {
          display: flex;
          flex-wrap: wrap;
          margin: -40px 0 0 -40px;
          li {
            width: calc((100% / 2) - 40px);
            margin: 40px 0 0 40px;
          }
        }
      }
    }
  }
  .sec02 {
    padding: 120px 0;
    background: url("../image/packed/sec02_bg.png") center no-repeat;
    background-size: cover;
    .pageSecTtlBox {
      margin: 0 0 20px;
    }
    .topTxt {
      margin: 0 0 60px;
      text-align: center;
    }
    .secContainer {
      margin: 0 0 60px;
      .txtBox {
        h3 {
          margin: 0 0 20px;
          font-size: 30px;
        }
      }
    }
    @media (min-width: 1025px) {
      .secContainer {
        display: flex;
        justify-content: space-between;
        .txtBox {
          width: 58%;
        }
        .photo {
          width: 40%;
        }
      }
    }
    .listBox {
      margin: 0 0 100px;
      ul {
        dl {
          margin: 20px 0 0;
          dt {
            margin: 0 0 20px;
            text-align: center;
            em {
              font-size: 24px;
            }
            span {
              margin: 0 0 0 10px;
              font-size: 20px;
            }
            small {
              font-size: 14px;
            }
          }
          dd {
            font-size: 15px;
            line-height: 2;
          }
        }
      }
      @media (min-width: 1025px) {
        ul {
          display: flex;
          flex-wrap: wrap;
          margin: -40px 0 0 -40px;
          li {
            width: calc((100% / 2) - 40px);
            margin: 40px 0 0 40px;
          }
        }
      }
    }
  }
}

/*////////////////////////////////////////////////////////////
	wariko
///////////////////////////////////////////////////////////*/
#wariko {
  .pageKvContainer {
    background: url("../image/wariko/kv.png") center no-repeat;
    background-size: cover;
  }
  .sec01 {
    padding: 120px 0;
    .pageSecTtlBox {
      margin: 0 0 20px;
    }
    .topTxt {
      margin: 0 0 40px;
      text-align: center;
    }
    .listBox01 {
      margin: 0 0 40px;
      ul {
        dl {
          margin: 20px 0 0;
          dt {
            margin: 0 0 20px;
            text-align: center;
            em {
              font-size: 24px;
            }
            span {
              margin: 0 0 0 10px;
              font-size: 20px;
            }
            small {
              font-size: 14px;
            }
          }
          dd {
            font-size: 15px;
            line-height: 2;
          }
        }
      }
      @media (min-width: 1025px) {
        ul {
          display: flex;
          flex-wrap: wrap;
          margin: -40px 0 0 -40px;
          li {
            width: calc((100% / 2) - 40px);
            margin: 40px 0 0 40px;
          }
        }
      }
    }
    .listBox02 {
      margin: 0 0 100px;
      ul {
        dl {
          margin: 20px 0 0;
          dt {
            margin: 0 0 20px;
            text-align: center;
            em {
              display: block;
              margin: 0 0 5px;
              font-size: 24px;
            }
            span {
              font-size: 20px;
            }
            small {
              font-size: 14px;
            }
          }
          dd {
            font-size: 15px;
            line-height: 2;
          }
        }
      }
      @media (min-width: 1025px) {
        ul {
          display: flex;
          flex-wrap: wrap;
          margin: -40px 0 0 -20px;
          li {
            width: calc((100% / 3) - 20px);
            margin: 40px 0 0 20px;
          }
        }
      }
    }
  }
}

/*////////////////////////////////////////////////////////////
  houji
///////////////////////////////////////////////////////////*/
#houji {
  .pageKvContainer {
    background: url("../image/houji/kv.png") center no-repeat;
    background-size: cover;
  }
  .sec01 {
    padding: 120px 0;
    .pageSecTtlBox {
      margin: 0 0 20px;
    }
    .topTxt {
      margin: 0 0 40px;
      text-align: center;
    }
    .listBox01 {
      margin: 0 0 40px;
      ul {
        dl {
          margin: 20px 0 0;
          dt {
            margin: 0 0 20px;
            text-align: center;
            em {
              font-size: 24px;
            }
            span {
              margin: 0 0 0 10px;
              font-size: 20px;
            }
            small {
              font-size: 14px;
            }
          }
          dd {
            font-size: 15px;
            line-height: 2;
          }
        }
      }
      @media (min-width: 1025px) {
        ul {
          display: flex;
          flex-wrap: wrap;
          margin: -40px 0 0 -40px;
          li {
            width: calc((100% / 2) - 40px);
            margin: 40px 0 0 40px;
          }
        }
      }
    }
    .listBox02 {
      margin: 0 0 100px;
      ul {
        dl {
          margin: 20px 0 0;
          dt {
            margin: 0 0 20px;
            text-align: center;
            em {
              display: block;
              margin: 0 0 5px;
              font-size: 24px;
            }
            span {
              font-size: 20px;
            }
            small {
              font-size: 14px;
            }
          }
          dd {
            font-size: 15px;
            line-height: 2;
          }
        }
      }
      @media (min-width: 1025px) {
        ul {
          display: flex;
          flex-wrap: wrap;
          margin: -40px 0 0 -20px;
          li {
            width: calc((100% / 3) - 20px);
            margin: 40px 0 0 20px;
          }
        }
      }
    }
  }
}

/*////////////////////////////////////////////////////////////
  other
///////////////////////////////////////////////////////////*/
#other {
  .pageKvContainer {
    background: url("../image/other/kv.png") center no-repeat;
    background-size: cover;
  }
  .sec01,
  .sec03 {
    padding: 120px 0;
    .secBoxList {
      margin: 0 0 60px;
      .secBox {
        + .secBox {
          margin: 60px 0 0;
        }
        .txtBox {
          h3 {
            margin: 0 0 20px;
            font-size: 30px;
          }
          .ttlBox {
            margin: 0 0 20px;
            .reserveTtl {
              width: 110px;
              margin: 0 0 20px;
            }
            .ttl {
              margin: 0 0 15px;
              em {
                font-size: 24px;
              }
            }
            .price {
              em {
                font-size: 24px;
              }
            }
          }
          .txt {
            font-size: 15px;
            p + p {
              margin: 20px 0 0;
            }
          }
          .btnMore {
            margin: 20px 0 0;
          }
        }
      }
      @media (min-width: 1025px) {
        .secBox {
          display: flex;
          justify-content: space-between;
          .photo {
            width: 50%;
          }
          .txtBox {
            width: 45%;
          }
          &:nth-child(odd) {
            flex-direction: row-reverse;
          }
        }
      }
    }
    .listBox {
      margin: 0 0 100px;
      ul {
        dl {
          margin: 20px 0 0;
          dt {
            margin: 0 0 20px;
            text-align: center;
            em {
              display: block;
              margin: 0 0 5px;
              font-size: 24px;
            }
            span {
              font-size: 20px;
            }
            small {
              font-size: 14px;
            }
          }
          dd {
            font-size: 15px;
            line-height: 2;
          }
        }
      }
      @media (min-width: 1025px) {
        ul {
          display: flex;
          flex-wrap: wrap;
          margin: -40px 0 0 -20px;
          li {
            width: calc((100% / 3) - 20px);
            margin: 40px 0 0 20px;
          }
        }
      }
    }
  }
  .sec02 {
    padding: 120px 0;
    background: url("../image/other/sec02_bg.png") center no-repeat;
    background-size: cover;
    .topBox {
      margin: 0 0 40px;
      h3 {
        margin: 0 0 20px;
        font-size: 30px;
      }
      .txt {
        p + p {
          margin: 20px 0 0;
        }
      }
    }
    .listBox {
      ul {
        dl {
          margin: 20px 0 0;
          dt {
            margin: 0 0 20px;
            text-align: center;
            em {
              font-size: 24px;
            }
            span {
              margin: 0 0 0 10px;
              font-size: 20px;
            }
            small {
              font-size: 14px;
            }
          }
          dd {
            font-size: 15px;
            line-height: 2;
          }
        }
      }
      @media (min-width: 1025px) {
        ul {
          display: flex;
          flex-wrap: wrap;
          margin: -40px 0 0 -40px;
          li {
            width: calc((100% / 2) - 40px);
            margin: 40px 0 0 40px;
          }
        }
      }
    }
  }
}

/*////////////////////////////////////////////////////////////
  faq
///////////////////////////////////////////////////////////*/
#faq {
  .pageKvContainer {
    background: url("../image/faq/kv.png") center no-repeat;
    background-size: cover;
  }
  .topSection {
    padding: 60px 0 100px;
    text-align: center;
    .txt {
      margin: 0 0 30px;
    }
    .pagingBox {
      max-width: 1000px;
      margin: 0 auto;
      padding: 50px 20px;
      background: #ebebe7;
      ul {
        max-width: 740px;
        margin: 0 auto;
        li {
          border-bottom: 1px solid #231815;
          a {
            display: block;
            padding: 12px 0;
            font-size: 20px;
          }
        }
      }
      @media (min-width: 1025px) {
        ul {
          display: flex;
          justify-content: space-around;
          li {
            width: 25%;
          }
        }
      }
    }
  }
  .section {
    + .section {
      margin: 100px 0 0;
    }
    .secTtl {
      margin: 0 0 40px;
      text-align: center;
      > * {
        position: relative;
        display: inline-block;
        padding: 0 60px;
        font-size: 24px;
        &:before {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          bottom: 0;
          width: 25px;
          height: 1px;
          margin: auto 0;
          background: #231815;
        }
        &:after {
          content: "";
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          width: 25px;
          height: 1px;
          margin: auto 0;
          background: #231815;
        }
      }
    }
    .secBox {
      position: relative;
      padding: 40px 60px;
      background: url("../image/faq/faq_tri.png") left top no-repeat #ffffff;
      background-size: 80px auto;
      + .secBox {
        margin: 20px 0 0;
      }
      dl {
        dt {
          padding: 0 40px 0 0;
          font-size: 24px;
          cursor: pointer;
          background: url("../image/faq/accord_plus.png") right center no-repeat;
          background-size: 25px auto;
          &.active {
            background: url("../image/faq/accord_minus.png") right center
              no-repeat;
            background-size: 25px auto;
          }
        }
        dd {
          display: none;
          padding: 20px 0 0;
          line-height: 2;
          p + p {
            margin: 20px 0 0;
          }
        }
      }
    }
  }
}

/*////////////////////////////////////////////////////////////
  about
///////////////////////////////////////////////////////////*/
#about {
  .pageKvContainer {
    background: url("../image/about/kv.png") center no-repeat;
    background-size: cover;
  }
  .sec01 {
    .secContainer01 {
      padding: 60px 0;
      .photoList {
        .photo {
          max-width: 500px;
        }
      }
      @media (min-width: 1025px) {
        .photoList {
          display: flex;
          justify-content: space-between;
          margin: -200px 0 0;
          .photo {
            width: 45%;
          }
        }
      }
    }
    .secContainer02 {
      padding: 80px 0;
      color: #ffffff;
      background: url("../image/about/sec01_cnt_bg.png") center no-repeat;
      background-size: cover;
      .listPanel {
        .listPanelInner {
          max-width: 1200px;
          margin: 0 auto;
        }
        .listBox {
          dl {
            dt {
              margin: 0 0 10px;
              padding: 0 0 0 20px;
              font-size: 30px;
              line-height: 1;
              border-left: 6px solid #988135;
            }
            dd {
              .ttl {
                margin: 0 0 10px;
                font-size: 30px;
              }
              p {
                line-height: 2;
              }
            }
          }
        }
      }
      .listPanel01 {
        margin: 0 0 40px;
        padding: 0 0 40px;
        border-bottom: 1px solid #545454;
        .listBox {
          + .listBox {
            margin: 60px 0 0;
          }
        }
        @media (min-width: 1025px) {
          .listBox02,
          .listBox04 {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            dl {
              width: 50%;
            }
          }
          .listBox03 {
            padding: 0 0 0 10%;
          }
        }
      }
      .listPanel02 {
        @media (min-width: 1025px) {
          .listPanelInner {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            margin: -40px auto 0;
            .listBox {
              width: calc((100% / 2) - 40px);
              margin: 40px 0 0;
            }
          }
        }
      }
    }
  }
  .sec02 {
    padding: 120px 0;
    background: url("../image/about/sec02_bg.png") center no-repeat;
    background-size: cover;
    .txt {
      p + p {
        margin: 20px 0 0;
      }
    }
    .name {
      margin: 30px 0 0;
      em {
        margin: 0 0 0 10px;
        font-size: 24px;
      }
    }
  }
  .sec03 {
    padding: 120px 0;
    .infoBox {
      margin: 0 0 60px;
      dl {
        line-height: 2;
        dt {
          padding: 15px;
          text-align: center;
          border-bottom: 1px solid #988135;
        }
        dd {
          padding: 15px 40px;
          border-bottom: 1px solid #090909;
          a {
            display: inline-block;
          }
        }
      }
      @media (min-width: 1025px) {
        dl {
          display: flex;
          justify-content: space-between;
          dt {
            width: 220px;
          }
          dd {
            width: calc(100% - 225px);
          }
        }
      }
    }
  }
}

/*////////////////////////////////////////////////////////////
  news
///////////////////////////////////////////////////////////*/
#news {
  .pageKvContainer {
    background: url("../image/news/kv.png") center no-repeat;
    background-size: cover;
  }
  .newsSection {
    padding: 80px 0 120px;
    .secWrap01 {
      max-width: 880px;
    }
    .catePanel {
      margin: 0 0 60px;
      ul {
        max-width: 600px;
        margin: 0 auto;
        li {
          a {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 160px;
            height: 135px;
            color: #ffffff;
            background: url("../image/news/cate_bg.png") center no-repeat;
            background-size: cover;
            span {
              display: block;
              width: 80%;
              text-align: center;
              background: url("../image/common/btn_arrow_right_white.png") right
                center no-repeat;
            }
          }
        }
      }
      @media (min-width: 1025px) {
        ul {
          display: flex;
          justify-content: space-between;
          li {
            width: 160px;
          }
        }
      }
    }
    .listPanel {
      ul {
        li {
          a {
            display: block;
            border-bottom: 1px solid #231815;
          }
          .photo {
            position: relative;
          }
          .title {
            min-height: 44px;
            margin: 10px 0;
            font-size: 15px;
          }
          .more {
            padding: 5px;
            font-size: 14px;
            background: url("../image/news/list_arrow.png") right 5px center
              no-repeat;
            a {
              display: block;
            }
          }
        }
      }
      @media (min-width: 1025px) {
        ul {
          display: flex;
          flex-wrap: wrap;
          margin: -60px 0 0 -30px;
          li {
            width: calc((100% / 3) - 30px);
            margin: 60px 0 0 30px;
          }
          .photo {
            height: 175px;
            img {
              @include cover-image;
            }
          }
        }
      }
    }
    .list__pagination {
      margin: 60px 0 0;
      .pagination {
        display: flex;
        justify-content: center;
        li {
          margin: 0 10px;
          a,
          span {
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 45px;
            height: 45px;
            background: #ffffff;
          }
          &.current {
            a,
            span {
              color: #ffffff;
              background: #231815;
            }
          }
          &.previous {
            a,
            span {
              &:before {
                content: "<";
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                width: 14px;
                height: 22px;
                margin: auto;
              }
            }
          }
          &.next {
            a,
            span {
              &:before {
                content: ">";
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                width: 14px;
                height: 22px;
                margin: auto;
              }
            }
          }
        }
      }
    }
    .detailPanel {
      .title {
        margin: 0 0 20px;
        padding: 5px 10px;
        font-size: 24px;
        border-bottom: 1px solid #231815;
      }
      .thumbnail {
        margin: 0 0 20px;
      }
      .postContents {
        line-height: 2.5;
        img {
          max-width: 100%;
          width: auto;
          height: auto;
        }
      }
    }
    .btnMore {
      max-width: 220px;
      margin: 40px auto 60px;
    }
    .btnBack {
      width: 180px;
      margin: 0 auto;
      a {
        position: relative;
        display: block;
        padding: 7px 10px;
        text-align: center;
        border-radius: 30px;
        border: 1px solid #231815;
        &:after {
          content: "";
          position: absolute;
          top: 0;
          right: -12px;
          bottom: 0;
          width: 25px;
          height: 1px;
          margin: auto 0;
          background: #231815;
        }
      }
    }
  }
}
